<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "format-detection" content = "telephone=no">
    <title>White Paper</title>
    {% block stylesheets %}
	    {% stylesheets 
		'css/white_ru.css'
		'css/font-awesome.min.css'
		output='css/compiled/white_ru.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    {% endstylesheets %}
    {% endblock stylesheets %}
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<section class="header">
		<h1><a href="index.html" class="logo"><img src="{{asset('img/white_paper_ru/boosteroid.svg')}}" alt="boosteroid"></a></h1>
		<p>Персональный облачный компьютер,<br/>доступный каждому</p>
		<a href="{{ path('landing_page') }}">Boosteroid.com</a>
	</section>


	<section class="about">
		<img src="{{asset('img/white_paper_ru/boosteroid_black.svg')}}" alt="">
		<p class="version_main">V.1.1</p>
		<p>Персональный облачный компьютер, доступный каждому</p>

		<p><span class="about_bold">Pre-ICO</span><br/>22 - 29 сентября 2017<br/>Стоимость токена: $0,1 - 0,47</p>

		<p><span class="about_bold">ICO</span><br/>23 октября - 6 ноября 2017<br/>27 ноября - 11 декабря 2017<br/>15 января - 15 февраля 2018</p>

		<p class="version">Версия 1.1. Данная версия документа находится в активной фазе разработки, возможны значительные корректировки</p>
	</section>


	<section class="contents">
		<h2>Содержание</h2>
		<ol>
			<li class="main_nav">
				<p><a href="#introduction">Вступление</a></p>
				<ol>
					<li><a href="#tendencies">Тенденции и проблемы в развитии мирового рынка облачных вычислений</a></li>
					<li><a href="#decision">Решение проблемы</a></li>
				</ol>
			</li>
			<li class="main_nav">
					<p><a href="#what_is_boosteroid">Что такое Boosteroid</a></p>
					<ol>
						<li><a href="#realisation">Реализация проекта Boosteroid</a></li>
						<li><a href="#free_for_startup">Предоставление 10% мощностей Boosteroid для ИИ-стартапов</a></li>
					</ol>
			</li>
			<li class="main_nav">
					<p><a href="#tokens_boosteroid">Токены Boosteroid</a></p>
					<ol>
						<li><a href="#btr_distribution">Распределение токенов BTR</a></li>
					</ol>
			</li>
			<li class="main_nav">
					<p><a href="#selling_tokens">Продажа токенов BTR на ICO</a></p>
					<ol>
						<li><a href="#tokens_ico">ICO токенов BTR</a></li>
					</ol>
			</li>
			<li class="main_nav"><p><a href="#facilities_distribution">Распределение собранных средств</a></p></li>
			<li class="main_nav"><p><a href="#road_map">Дорожная карта</a></p></li>
			<li class="main_nav"><p><a href="#team">Команда</a></p></li>
		</ol>
	</section>


	<section class="introduction" id="introduction">
		<h2>1. Вступление</h2>
		<p>Человек XXI века живет в безумном ритме и вынужден в кратчайшие сроки решать самые сложные задачи. Еще совсем недавно выполнить их было невозможно, однако теперь, благодаря развитию интернета и новых технологий, будущее становится реальностью.<br/><br/>На сегодняшний день наиболее остро стоит вопрос непрерывного доступа к современным ресурсам, которые облегчат и ускорят решение глобальных задач, позволят выполнять их из любой точки планеты в режиме онлайн. Ответ на этот вопрос кроется в облачных вычислениях, которые с каждым днем становятся все более популярными.</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/cloud_computing.jpg')}}" alt="cloud_computing"></div>
		<p><b>Облачные вычисления</b> (англ. cloud computing) - модель, при которой все приложения и их данные находятся на удаленном сервере в интернете, при этом пользователь может получить к ним доступ со стандартного ПК или планшета. Компьютеры, осуществляющие такие операции, называются «вычислительным облаком».<br/><br/>Существует два основных вида “облака” - публичное и частное. Публичное предназначено для свободного доступа широкой аудитории, частное - для использования одной организацией, включающей нескольких потребителей.</p>
	</section>


	<section class="tendencies" id="tendencies">
		<h3>1.1. Тенденции и проблемы в развитии мирового рынка облачных вычислений</h3>
		<p>По оценкам американской консалтинговой компании Gartner, в 2016 году суммарные затраты потребителей на работу в «облаке» составили $209,2 млрд, в то время как в 2015-м – $175 млрд. Таким образом, за год расходы пользователей на сервис увеличились на $35 млрд. По прогнозам аналитиков, в 2017 году затраты потребителей на «облако» составят приблизительно $246,8 млрд, а в 2020-м превысят отметку в $380 млрд.<br/><br/>Повышенный спрос на услуги связан с тем, что сегодня IT-индустрия активно перемещает свои данные в «облако». Соответственно, информационные технологии все больше нуждаются в высокопроизводительных ресурсах, с помощью которых можно решать самые различные задачи, будь то развитие искусственного интеллекта, гейминг, виртуальная реальность или аналитика (анализ Big Data).</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/rate.jpg')}}" alt=""></div>
		<p>На сегодняшний день большая часть рынка облачных вычислений приходится на долю ведущих провайдеров. Лидирующие позиции занимает Amazon Web Services (около 34%), значительно меньшую долю удерживают Microsoft (11%), IBM (8%), Google (5%) и другие.<br/><br/>Средняя стоимость одного часа аренды вычислительного узла на базе восьми графических карт NVIDIA GeForce GTX 1080 Ti, двух процессоров Intel Xeon E5 2680v4, RAM 256Gb и SSD 960Gb (или их эквивалента) для европейских стран у лидеров рынка составляет:</p>
		<div class="table_wrap">
			<table class="equipment" border='1px'>
				<tr>
					<td></td>
					<td>Название компании</td>
					<td>Оборудование</td>
					<td>Цена, долл/час</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Amazon Web Services</td>
					<td>Станция p2.8xlarge.
							<br/>- 8 x GPU Nvideo Tesla K80,
							<br/>- vCPU 32 ядра (2.3 GHz Intel Xeon® E5-2686 v4
							(Broadwell) processors or 2.4 GHz
							<br/>Intel Xeon® E5-2676 v3 (Haswell),
							<br/>- RAM 488Gb,
							<br/>- SSD 1Tb,
							<br/>- 10Gbit/s</td>
					<td>10,6</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Microsoft Azure</td>
					<td>Станция NC24r
							<br/>- 8 x GPU Nvideo Tesla K80,
							<br/>- vCPU 24 ядра ( 2.4 GHz Intel Xeon® E5-2676 v3
							(Haswell),
							<br/>- RAM 224GB,
							<br/>- SSD 1.440 GB,
							<br/>- 10 Gbit/s</td>
					<td>10,26</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Google Cloud</td>
					<td>Кастомная конфигурация
							<br/>- 8 x GPU Nvideo Tesla K80,
							<br/>- vCPU 32 ядра processors or 2.4 GHz
							Intel Xeon® E5 2676 v3 (Haswell),
							<br/>- RAM 256Гб (up to 455 GB of RAM),
							<br/>- SSD space 3x375 GB,
							<br/>- 10 Gbit/s</td>
					<td>6,5</td>
				</tr>
			</table>
		</div>
		<p class="comment">* IBM специализируется на предоставлении услуг аренды вычислительных мощностей в частном "облаке". Их стоимость рассчитывается индивидуально.</p>
		<p>У новых игроков на рынке цены на услуги облачных вычислений не могут быть значительно ниже существующих, так как они разрабатывают лишь программные продукты – надстройки для объединения существующих вычислительных ресурсов – и не имеют собственного оборудования.<br/><br/>Помимо высокой стоимости, которую клиенты вынуждены отдавать за аренду вычислительных мощностей у лидеров рынка, они также сталкиваются со сложностями при регистрации. На сегодняшний день процедура не только отнимает много времени, но и включает в себя сложные настройки и информацию, далеко не всегда понятную даже продвинутому пользователю.</p>
	</section>

	
	<section class="decision" id="decision">
		<h3>1.2. Решение проблемы</h3>
		<p>Для того, чтобы сделать аренду вычислительных мощностей максимально доступной для каждого, в октябре 2016 года мы начали работать над проектом Boosteroid.<br/><br/>Наша команда -  специалисты в области информационных технологий и искусственного интеллекта. Изначально мы занимались сборкой компьютерных узлов на базе 6/8 графических карт NVIDIA и процессоров Intel Xeon, с помощью которых проводили сложные вычисления в области искусственного интеллекта. Для того, чтобы высокопроизводительное оборудование не простаивало, мы сдавали его в аренду и занимались майнингом криптовалюты.<br/><br/>На собственном опыте мы выяснили, что за счет собственной архитектуры и постоянной загрузки мощностей стоимость облачных вычислений снижается во много раз. Поэтому мы сможем Boosteroid доступным каждому пользователю Всемирной паутины.</p>
		<img src="{{asset('img/white_paper_ru/graph.png')}}" alt="">
	</section>


	<section class="what_is_boosteroid" id="what_is_boosteroid">
		<h2>2. Что такое Boosteroid</h2>
		<p>Boosteroid – платформа облачных сервисов, предоставляющая удобный доступ к вычислительным ресурсам, хранилищам и программным продуктам.<br/><br/>Наш сервис позволит отказаться от дорогих персональных компьютеров в пользу мощного вычислительного «облака» с дружественным интерфейсом и простым управлением.<br/><br/>Персональный компьютер в «облаке» сможет решать самые разные задачи - от работы с текстами до анализа ДНК.</p>
		<p class="why_us">Почему мы</p>
		<ul>
			<li>
				<div><img src="{{asset('img/white_paper_ru/price.jpg')}}" alt=""></div>
				<p><b>Самая низкая стоимость аренды вычислительных ресурсов.</b> За счет собственной уникальной архитектуры и минимальной стоимости электроэнергии клиенты смогут воспользоваться вычислительными ресурсами по самой низкой стоимости.</p>
			</li>
			<li>
				<div><img src="{{asset('img/white_paper_ru/resources.jpg')}}" alt=""></div>
				<p><b>Возможность гибкого масштабирования и расширения арендуемых вычислительных мощностей.</b> Заказчик сможет выбирать необходимые вычислительные ресурсы по своему усмотрению и изменять их в пару «кликов».</p>
			</li>
			<li>
				<div><img src="{{asset('img/white_paper_ru/time.jpg')}}" alt=""></div>
				<p><b>Аренда на любое время.</b> Наши клиенты смогут арендовать облачный компьютер на любое время – от одного часа до нескольких лет.</p>
			</li>
			<li>
				<div><img src="{{asset('img/white_paper_ru/security.jpg')}}" alt=""></div>
				<p><b>Безопасность.</b> Пользователи смогут быть спокойны за сохранность данных и бесперебойную работу систем. Что бы ни случилось – информация всегда будет надежно защищена, никто не сможет похитить или изъять ее.</p>
			</li>
		</ul>
	</section>


	<section class="realisation" id="realisation">
		<h3>2.1. Реализация проекта Boosteroid</h3>
		<p>Техническая реализация проекта Boosteroid состоит из двух частей - аппаратной и программной. Аппаратная часть будет состоять из множества гетерогенных вычислительных ресурсов, объединенных в единую высокоскоростную инфраструктуру, а именно:</p>
		<ul>
			<li>- серверов на базе современных процессоров общего назначения компаний Intel и AMD;</li>
			<li>- серверов, в состав которых входят графические ускорители и графические карты компаний NVIDIA и AMD;</li>
			<li>- серверов, в состав которых входят ускорители компании Intel;</li>
			<li>- высокоскоростного коммутационного оборудования.</li>
		</ul>
		<p>Серверная архитектура базируется на:</p>
		<ul>
			<li>- процессорах Intel Xeon E5 и E7 v4 или 5;</li>
			<li>- процессорах AMD EPYC 7000 серии;</li>
			<li>- графических картах NVIDIA GeForce GTX 1080 Ti;</li>
			<li>- графических ускорителях NVIDIA Tesla P100, Tesla V100 и AMD Radeon Instinct;</li>
			<li>- ускорителях Intel Xeon Phi 7000 серии.</li>
		</ul>
		<p class="scheme">Схема высокопроизводительного вычислительного облака</p>
		<img src="{{asset('img/white_paper_ru/scheme.jpg')}}" alt="">
		<p>Для работы с данными будет использоваться отказоустойчивая, распределенная, резервируемая система хранения. Также предусматриваются и хранилища блочного уровня. Помимо основных хранилищ данных будет построено долгосрочное хранилище с большим объемом памяти. <br/><br/>В качестве оборудования связи для обеспечения работы системной инфраструктуры, высокоскоростной вычислительной сети и репликации хранилища данных будут использоватся коммутаторы 10Гб и 100Гб Ethernet.<br/><br/>Программная часть проекта будет базироваться на open source платформе, позволяющей предоставлять широкий спектр облачных услуг, таких как проведение вычислений, создание хранилищ, баз данных и многое другое.<br/><br/>Детальный проект создания вычислительных мощностей будет сформирован после первого этапа ICO.<br/><br/>Для удобства работы с «облаком» мы разрабатываем дружественный интерфейс с быстрым и	простым доступом к сервисам Boosteroid.<br/><br/>Также мы планируем разработать магазин приложений BooStore, в котором можно будет бесплатно скачать или купить приложения, после чего установить их на свой облачный персональный компьютер.</p>
	</section>


	<section class="free_for_startup" id="free_for_startup">
		<h3>2.2. Предоставление 10% мощностей Boosteroid для ИИ-стартапов</h3>
		<p>Мы намерены внести свой вклад в будущее, поэтому бесплатно предоставим 10% наших мощностей для проектов в области искусственного интеллекта, направленных на решение вопросов старения. <br/><br/>Реализация этих задач требует больших вычислительных мощностей, создание и аренда которых сегодня является чрезвычайно дорогостоящей. <br/><br/>Критерии отбора стартапов, которым мы предоставим наши мощности, будут сформированы после первого этапа ICO.</p>
	</section>


	<section class="tokens_boosteroid" id="tokens_boosteroid">
		<h2>3. Токены Boosteroid</h2>
		<p>На ICO выпущено 1 млрд токенов, получивших название BTR.</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/btr.jpg')}}" alt=""></div>
		<p>Токены BTR созданы на базе блокчейн-платформы Ethereum в соответствии со спецификацией ERC20. Перевыпуск токенов после завершения сбора финансирования не предусмотрен. <br/><br/>Токены, принятые за оплату услуг, будут сгорать. <br/><br/>По завершению ICO все нераспроданные и нераспределенные токены будут уничтожены.</p>
	</section>


	<section class="btr_distribution" id="btr_distribution">
		<h3>3.1. Распределение токенов BTR</h3>
		<p>Структура распределения токенов выглядит так:</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/distribution.png')}}" alt=""></div>
	</section>


	<section class="selling_tokens" id="selling_tokens">
		<h2>4. Продажа токенов BTR на ICO</h2>
		<p>1 BTR равен стоимости одного часа аренды вычислительных мощностей на базе восьми графических карт NVIDIA GeForce GTX 1080 Ti; двух процессоров Intel Xeon E5 2680v4; RAM 256Gb; SSD 960Gb.</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/selling.jpg')}}" alt=""></div>
		<p>Купить токены BTR можно на сайте Boosteroid.com во время на pre-ICO и на всех этапах ICO.<br/><br/>Адрес смарт-контракта будет доступен в личном кабинете на момент старта продаж.<br/><b>{#0x0C0Ed9A68C9cA0eCed8612E2f80a519867F36869#}</b></p>
	</section>


	<section class="tokens_ico" id="tokens_ico">
		<h3>4.1. ICO токенов BTR</h3>
		
		<h4>1 Этап</h4>
		<p>Продажа токенов начнется 23 октября 2017 года и закончится 6 ноября 2017 года*. <br/>Общее количество токенов BTR: 100 000 000 <br/>Сумма привлекаемых инвестиций: $53 000 000 <br/>Стартовая цена 1 токена BTR – $0,48, конечная цена – $0,58</p>
		<div class="table_wrap">
			<table>
				<tr>
					<td>Раунд</td>
					<td>Цена 1 токена BTR</td>
					<td>Количество токенов BTR</td>
					<td>Общая стоимость токенов BTR, доллар США</td>
				</tr>
				<tr>
					<td>1</td>
					<td>0.48</td>
					<td>50 000 000</td>
					<td>24 000 000</td>
				</tr>
				<tr>
					<td>2</td>
					<td>0.58</td>
					<td>50 000 000</td>
					<td>29 000 000</td>
				</tr>
			</table>
		</div>

		<h4>2 Этап</h4>
		<p>Продажа токенов начнется 27 ноября 2017 года и закончится 11 декабря 2017 года*. <br/>Общее количество токенов BTR: 300 000 000 <br/>Сумма привлекаемых инвестиций: $374 000 000 <br/>Стартовая цена 1 токена BTR – $1,08, конечная цена – $1,38</p>
		<div class="table_wrap">
			<table>
				<tr>
					<td>Раунд</td>
					<td>Цена 1 токена BTR</td>
					<td>Количество токенов BTR</td>
					<td>Общая стоимость токенов BTR, доллар США</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1.08</td>
					<td>60 000 000</td>
					<td>64 800 000</td>
				</tr>
				<tr>
					<td>2</td>
					<td>1.18</td>
					<td>70 000 000</td>
					<td>82 600 000</td>
				</tr>
				<tr>
					<td>3</td>
					<td>1.28</td>
					<td>80 000 000</td>
					<td>102 400 000</td>
				</tr>
				<tr>
					<td>4</td>
					<td>1.38</td>
					<td>90 000 000</td>
					<td>124 200 000</td>
				</tr>
			</table>
		</div>

		<h4>3 Этап</h4>
		<p>Продажа токенов начнется 15 января 2018 года и закончится 15 февраля 2018 года*. <br/>Общее количество токенов BTR: 400 000 000 <br/>Сумма привлекаемых инвестиций: $932 000 000<br/>Стартовая цена 1 токена BTR – $1,88, конечная цена – $2,78</p>
		<div class="table_wrap">
			<table>
				<tr>
					<td>Раунд</td>
					<td>Цена 1 токена BTR</td>
					<td>Количество токенов BTR</td>
					<td>Общая стоимость токенов BTR, доллар США</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1.88</td>
					<td>100 000 000</td>
					<td>188 000 000</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2.18</td>
					<td>100 000 000</td>
					<td>248 000 000</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2.48</td>
					<td>100 000 000</td>
					<td>248 000 000</td>
				</tr>
				<tr>
					<td>4</td>
					<td>2.78</td>
					<td>100 000 000</td>
					<td>278 000 000</td>
				</tr>
			</table>
		</div>
		<p class="comment">* Все этапы ICO могут завершиться досрочно в случае привлечения необходимой суммы инвестиций.</p>
		<p>Часто задаваемые вопросы (FAQ) и вся необходимая информация о проекте доступна на странице Boosteroid.com и во всех социальных сетях Boosteroid:</p>
		<div class="soc_nav">
			<ul>
				<li><a href="https://twitter.com/infoboosteroid" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://t.me/boosteroid" target="_blank"><i class="fa fa-telegram"></i></a></li>
				<li><a href="https://medium.com/@Boosteroid" target="_blank"><i class="fa fa-medium"></i></a></li>
				<li><a href="https://www.facebook.com/boosteroid.info/" target="_blank"><i class="fa fa-facebook"></i></a></li>
			</ul>
		</div> 
	</section>


	<section class="facilities_distribution" id="facilities_distribution">
		<h2>5. Распределение собранных средств</h2>
		<p>Общая сумма привлекаемых инвестиций - $ 1 359 000 000. Они будут распределены следующим образом:</p>
		<div class="img"><img src="{{asset('img/white_paper_ru/tokens_distribution.jpg')}}" alt=""></div>
		<p><br/>Проект создания платформы облачных сервисов, предоставляющих удобный доступ к вычислительным ресурсам, хранилищам и программным продуктам, будет реализовываться независимо от количества собранных средств на ICO, - вычислительные мощности под него мы уже строим.</p>
	</section>

	
	<section class="road_map" id="road_map">
		<h2>6. Дорожная карта</h2>
		<img src="{{asset('img/white_paper_ru/road_map.jpg')}}" alt="road_map">
	</section>


	<section class="team" id="team">
		<h2>7. Команда</h2>
		<div class="team_wrap">
			<div class="person">
				<div class="photo puzich"></div>
				<p>Деян Пузич<br/><span class="prof">Advisor</span></p>
			</div>
			<div class="person">
				<div class="photo captain"></div>
				<p>Чингиз Каптан<br/><span class="prof">Advisor, Investor</span></p>
			</div>
			<div class="person">
				<div class="photo shvaychenko"></div>
				<p>Иван Швайченко<br/><span class="prof">CEO, Founder</span></p>
			</div>
			<div class="person">
				<div class="photo sorbat"></div>
				<p>Иван Сорбат<br/><span class="prof">CTO</span></p>
			</div>
			<div class="person">
				<div class="photo znakhur"></div>
				<p>Сергей Знахур<br/><span class="prof">AI Developer</span></p>
			</div>
			<div class="person">
				<div class="photo skryabin"></div>
				<p>Богдан Скрябин<br/><span class="prof">Blockchain Specialist</span></p>
			</div>
			<div class="person">
				<div class="photo savin"></div>
				<p>Юрий Савин<br/><span class="prof">Infrastructure Architect</span></p>
			</div>
			<div class="person">
				<div class="photo chepel"></div>
				<p>Лариса Чепель<br/><span class="prof">PR & Communications</span></p>
			</div>
			<div class="person">
				<div class="photo brown"></div>
				<p>Майкл Браун<br/><span class="prof">Systems Analyst</span></p>
			</div>
		</div>
	</section>
</body>
</html>