<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>White Paper</title>
        {% block stylesheets %}
            {% stylesheets 
		'css/white_en.css'
		'css/font-awesome.min.css'
		output='css/compiled/white_en.css'
		filter='cssrewrite'
            %}
            <link rel="stylesheet"  href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <section class="header">
            <h1><a href="{{ path('landing_page') }}" class="logo"><img src="{{ asset('img/white_paper/boosteroid.svg') }}" alt="boosteroid"></a></h1>
            <p>大家可以享受的<br/>云个人电脑</p>
            <a href="{{ path('landing_page') }}">Boosteroid.com</a>
        </section>


        <section class="about">
            <img src="{{ asset('img/white_paper/boosteroid_black.svg') }}" alt="">
            <p class="version_main">V.1.1</p>
            <p>大家可以享受的<br/>云个人电脑</p>

            <p><span class="about_bold">预首次代币发售 （Pre-ICO）</span><br/>2017年9月22至29日<br/>代币的价格是0,1-0,47美元</p>

            <p><span class="about_bold">首次代币发售 （ICO）</span><br/>2017年10月23至11月6日<br/>2017年11月27至12月11日<br/>2018年1月15至2月15日</p>

            <p class="version">1.1 此版本的文档处于开发阶段，可能在调整后。</p>
        </section>


        <section class="contents">
            <h2>目录</h2>
            <ol>
                <li class="main_nav">
                    <p><a href="#introduction">引言</a></p>
                    <ol>
                        <li><a href="#tendencies">1.1. 云计算的问题和趋向在世
                                界市场上</a></li>
                        <li><a href="#decision">问题解决</a></li>
                    </ol>
                </li>
                <li class="main_nav">
                    <p><a href="#what_is_boosteroid">Boosteroid是什么？</a></p>
                    <ol>
                        <li><a href="#realisation">Boosteroid项目实现</a></li>
                        <li><a href="#free_for_startup">为人工智能初创公司提供
                                10％的计算能力</a></li>
                    </ol>
                </li>
                <li class="main_nav">
                    <p><a href="#tokens_boosteroid">Boosteroid 代币</a></p>
                    <ol>
                        <li><a href="#btr_distribution">BTR代币分配</a></li>
                    </ol>
                </li>
                <li class="main_nav">
                    <p><a href="#selling_tokens">用首次代币发售出卖BTR
                            代币</a></p>
                    <ol>
                        <li><a href="#tokens_ico">首次代币发售BTR代币</a></li>
                    </ol>
                </li>
                <li class="main_nav"><p><a href="#facilities_distribution">获得资金的分配</a></p></li>
                <li class="main_nav"><p><a href="#road_map">发展蓝图</a></p></li>
                <li class="main_nav"><p><a href="#team">人员</a></p></li>
            </ol>
        </section>


        <section class="introduction" id="introduction">
            <h2>1. 引言</h2>
            <p>21世纪的人过生活在疯狂的节奏，还有他被逼在最短的期限内解决最难的任务。不久以前这些任务解决不了。可是现在由于发展网络、新的技术，未来是现实。<br/><br/>迄今为止有一个问题是不断访问现代资源。这个资源加快解决这些问题，还有让你在线从世界任何地方解决问题。这个问题回答是云计算，现在云计算越来越受欢迎。</p>
            <div class="img"><img src="{{ asset('img/white_paper/cloud_computing.jpg') }}" alt="cloud_computing"></div>
            <p><b>云计算</b> (英语cloudcomputing) – 是模式在那儿用户通过电脑、笔记本、手机等方式接入数据中心，按自己的需求进行运算。做这些计算的电脑叫作“云端”<br/><br/>С有两种“云端”–是私有云和公用云。公用云被很多人能使用，私有云被一个公司（包括几个消费者）使用。</p>
        </section>


        <section class="tendencies" id="tendencies">
            <h3>1.1. 云计算的问题和趋向在世界市场上</h3>
            <p>根据咨询公司的评定，2016年的消费者的云端费用一共2092亿美元，2015年是1750亿美元。这样，用户年的消费增加了3500亿美元。根据分析人士的展望2017年消费者的云端费用将一共2468亿美元，2020年将一共3800亿美元。<br/><br/>服务需求提高因为信息技术工业活跃地移动自己的数据到云端。因此，在这些资源帮助下能解决不同的任务，例如发展人工智能，玩电脑游戏，虚拟现实和分析学（大数据）</p>
            <div class="img"><img src="{{ asset('img/white_paper/rate.jpg') }}" alt=""></div>
            <p>现在主导提供商有云计算市场的大部分。亚马逊公司 (百分之34)起领先作用，下几个公司是微软公司(百分之11)、国际商业机器公司(百分之8)、谷歌公司(百分之5)和其他公司。对欧洲国家，市场领导计算单元(基于8个NVIDIA GeForce GTX 1080 Ti,两个IntelXeon E5 2680v4，RAM 256Gb，SSD 960Gb (还是这些东西等价的）)租借的平均价格是：</p>
            <div class="table_wrap">
                <table class="equipment" border='1px'>
                    <tr>
                        <td></td>
                        <td>公司名称</td>
                        <td>设备</td>
                        <td>价格（美元/小时）</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Amazon Web Services</td>
                        <td>”P2.8xlarge“ 计算单元
                            <br/>- 8 xGPUNvideoTeslaK80
                            <br/>- vCPU32核心（2.3 GHzIntelXeon® E5-2686 v4 (Broadwell)还是2.4 GHzIntelXeon® E5-2676 v3 (Haswell)）
                            <br/>- RAM 488Gb,
                            <br/>- SSD 1Tb,
                            <br/>- 10Gbit/s</td>
                        <td>10,6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Microsoft Azure</td>
                        <td>”NC24r “ 计算单元
                            <br/>- 8 x GPU Nvideo Tesla K80,
                            <br/>- vCPU24核心( 2.4 GHz Intel Xeon® E5-2676 v3 (Haswell), 
                            <br/>- RAM 224GB,
                            <br/>- SSD 1.440 GB,
                            <br/>- 10 Gbit/s</td>
                        <td>10,26</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Google Cloud</td>
                        <td>自定义配置
                            <br/>- 8 x GPU Nvideo Tesla K80,
                            <br/>- vCPU32核心处理器还是 2.4 GHz Intel Xeon® E5 2676 v3 (Haswell),  
                            <br/>- RAM 256Гб (up to 455 GB of RAM),
                            <br/>- SSD space 3x375 GB,
                            <br/>- 10 Gbit/s</td>
                        <td>6,5</td>
                    </tr>
                </table>
            </div>
            <p class="comment">IBM专业化是提供私有云计算租借。价格个别地被计算了。</p>
            <p>新公司的云端服务价格比已经现有价格不可能较低得多，因为他们只开发软件产品 - 开发设置为了结合已经现有计算资源加载项 - 不过他们没有自己的设备。</p>
        </section>


        <section class="decision" id="decision">
            <h3>1.2. 问题解决</h3>
            <p>为了大家可以享受的计算力租借，2016年10月26日我们开始在Boosteroid项目上工作。<br/><br/>我们的团队– 是信息技术、工智能专家。最初我们做计算单元的装配基于6-8NVIDIA显示卡、IntelXeon处理器。我们使用过这个计算单元在人工智能领域做难的计算。为了设备不空转，我们开始了把计算单元出租，挖矿加密货币。<br/><br/>根据自己的经验，我们发现，由于其自身架构和云计算价格的不断利用，价格降低了很多倍。因此，我们能低于主要市场参与者的价格提供服务。由于便宜租借Boosteroid是大家可以享受的。</p>
            <img src="{{ asset('img/white_paper/graph.png') }}" alt="">
        </section>


        <section class="what_is_boosteroid" id="what_is_boosteroid">
            <h2>2. Boosteroid是什么？</h2>
            <p>Boosteroid – 是云服务的平台，那一个提供对计算资源、云存储、软件产品的访问。我们的服务允许您放弃昂贵的个人电脑，开始使用云计算。这些云计算有用户方便型接口。<br/><br/>云计算机将能够解决各种任务 - 从文本到分析DNA。</p>
            <p class="why_us">为什么我们?</p>
            <ul>
                <li>
                    <div><img src="{{ asset('img/white_paper/price.jpg') }}" alt=""></div>
                    <p><b>计算资源租借的价格是最低的。客户将能付出最低的价格使用计算资源。</p>
                </li>
                <li>
                    <div><img src="{{ asset('img/white_paper/resources.jpg') }}" alt=""></div>
                    <p><b>客户可以自行选择必要的计算资源，并将其改动只需点击几下。</p>
                </li>
                <li>
                    <div><img src="{{ asset('img/white_paper/time.jpg') }}" alt=""></div>
                    <p><b>任何期间租赁。我们的客户可以任何期间租赁 - 从一小时到几年。</p>
                </li>
                <li>
                    <div><img src="{{ asset('img/white_paper/security.jpg') }}" alt=""></div>
                    <p><b>安全。用户可以别担心安全和系统的顺利运行。无论发生什么 - 信息总是可靠地保护。没有人能够窃取信息。</p>
                </li>
            </ul>
        </section>


        <section class="realisation" id="realisation">
            <h3>2.1. Boosteroid项目实现</h3>
            <p>Boosteroid项目技术实现包括两个部分: 硬件和软件的。 硬件部分将由许多异构计算资源组成的,就是:</p>
            <ul>
                <li>- 基于英特尔和AMD现代通用处理器的服务器;</li>
                <li>- 包括NVIDIA和AMD的图形加速器和显卡的服务器;</li>
                <li>- 包括英特尔图形加速器的服务器;</li>
                <li>- 高速交换设备。</li>
            </ul>
            <p>服务器架构基于：</p>
            <ul>
                <li>- E5和E7 v4或5的英特尔至强的处理器;</li>
                <li>- 7000系列AMD处理器;</li>
                <li>- NVIDIA GeForce GTX 1080 Ti显卡;</li>
                <li>- NVIDIA Tesla P100, Tesla V100 和 AMD RadeonInstinct的图形加速器;</li>
                <li>- 7000系列英特尔至强Phi（IntelXeonPhi）的图形加速器。</li>
            </ul>
            <p class="scheme">高性能计算云端</p>
            <img src="{{ asset('img/white_paper/scheme.png') }}" alt="">
            <p>容错、分布式、余度的存储系统将用于处理数据。此外，还用单元级存储。 除了主要数据存储之外，还将建立一个具有大量内存的长期存储。 <br/><br/>确保系统基础设施、高速计算网络和数据存储复制的运行，10和100千兆比特的以太网交换机作为通信设备。<br/><br/>项目软件部分将基于开源平台。该平台允许您提供广泛的云端服务，如:计算，存储、数据库创建等等。<br/><br/>在首次代币发售第一阶段之后将形成一创建计算能力的详细项目。<br/><br/>为了方便使用《云端》，我们正在开发一个有快速和简单的访问Boosteroid服务的用户方便型接口。<br/><br/>我们也计划开发BooStore应用商店，在那儿可以免费下载或购买应用程序，并然后将把它们安装在个人云端计算机上。</p>
        </section>


        <section class="free_for_startup" id="free_for_startup">
            <h3>2.2. 为人工智能初创公司提供10％的计算能力</h3>
            <p>我们打算为未来作出自己的贡献, 所以将在人工智能领域项目免费提供我们计算能力的10%，旨在解决老龄问题。<br/><br/>这几个任务的实现需要大的计算能力。目前，该计算能力的创建和租用是非常昂贵的。<br/><br/>首次代币发售的第一阶段完成后，我们将制定有关我们要提供计算能力的初创公司的选择标准。</p>
        </section>


        <section class="tokens_boosteroid" id="tokens_boosteroid">
            <h2>3. Boosteroid代币</h2>
            <p>用首次代币发售已经发行了10亿代币，称为BTR。</p>
            <div class="img"><img src="{{ asset('img/white_paper/btr.jpg') }}" alt=""></div>
            <p>BTR代币根据ERC20规范在Ethereum区块链平台的基础上创建的。<br/><br/>已用于支付服务的所有代币将消除。<br/><br/>首次代币发售完成后，所有未售出的和未分配的代币将被清除。</p>
        </section>


        <section class="btr_distribution" id="btr_distribution">
            <h3>3.1. BTR代币分配</h3>
            <p>代币分配结构如下:</p>
            <div class="img"><img src="{{ asset('img/white_paper/distribution.png') }}" alt=""></div>
        </section>


        <section class="selling_tokens" id="selling_tokens">
            <h2>4. 用首次代币发售出售BTR代币</h2>
            <p>1BTR等于计算能力的租金一小时的成本。该计算能力基于8个NVIDIA GeForce GTX 1080 Ti显卡、2个IntelXeon E5 2680v4处理器、RAM 256Gb、SSD 960Gb的。</p>
            <div class="img"><img src="{{ asset('img/white_paper/selling.jpg') }}" alt=""></div>
            <p>预首次代币发售和所有首次代币发售的阶段时，您可以在Boosteroid.com网站上 买BTR代币。 <br/><br/>开始销售时，在在个人帐户中提供智能合约的地址。<br/><b>0x0C0Ed9A68C9cA0eCed8612E2f80a519867F36869</b></p>
        </section>


        <section class="tokens_ico" id="tokens_ico">
            <h3>4.1. BTR代币的首次代币发售</h3>

            <h4>第一阶段。</h4>
            <p>代币的售将于2017年10月23日开始，于2017年11月6日结束*。<br/>BTR代币总数: 1亿<br/>吸引投资金额: 5300万美元<br/>1 BTR的开始价格- 0,48美元;1 BTR的最终价格-0,58美元</p>
            <div class="table_wrap">
                <table>
                    <tr>
                        <td>轮</td>
                        <td>1BTR代币价格</td>
                        <td>BTR代币数量</td>
                        <td>BTR代币总额，美元</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>0.48</td>
                        <td>50 000 000</td>
                        <td>24 000 000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>0.58</td>
                        <td>50 000 000</td>
                        <td>29 000 000</td>
                    </tr>
                </table>
            </div>

            <h4>第二阶段。</h4>
            <p>代币的售将于2017年11月27日开始，于2017年12月11日结束*。<br/>BTR代币总数: 3亿<br/>吸引投资金额: 3,74亿美元<br/>1 BTR的开始价格- 1,08美元;1 BTR的最终价格-1,38美元</p>
            <div class="table_wrap">
                <table>
                    <tr>
                        <td>轮</td>
                        <td>1BTR代币价格</td>
                        <td>BTR代币数量</td>
                        <td>BTR代币总额，美元</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1.08</td>
                        <td>60 000 000</td>
                        <td>64 800 000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1.18</td>
                        <td>70 000 000</td>
                        <td>82 600 000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>1.28</td>
                        <td>80 000 000</td>
                        <td>102 400 000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>1.38</td>
                        <td>90 000 000</td>
                        <td>124 200 000</td>
                    </tr>
                </table>
            </div>

            <h4>第三阶段。</h4>
            <p>代币的售将于2018年1月15日开始，于2018年2月15日结束*。<br/>BTR代币总数: 4亿<br/>吸引投资金额: 9,32亿美元<br/>1 BTR的开始价格- 1,88美元;1 BTR的最终价格-2,78美元</p>
            <div class="table_wrap">
                <table>
                    <tr>
                        <td>轮</td>
                        <td>1BTR代币价格</td>
                        <td>BTR代币数量</td>
                        <td>BTR代币总额，美元</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1.88</td>
                        <td>100 000 000</td>
                        <td>188 000 000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2.18</td>
                        <td>100 000 000</td>
                        <td>248 000 000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2.48</td>
                        <td>100 000 000</td>
                        <td>248 000 000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2.78</td>
                        <td>100 000 000</td>
                        <td>278 000 000</td>
                    </tr>
                </table>
            </div>
            <p class="comment">*在吸引必要的投资额的情况下，所有首次代币发售的阶段可以提前完成。</p>
            <p>在Boosteroid.com网站上和所有Boosteroid社交网络上，你可以找到有关该项目的常见问题和所有必要信息。</p>
            <div class="soc_nav">
                <ul>
                    <li><a href="https://twitter.com/infoboosteroid" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://t.me/boosteroid" target="_blank"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="https://medium.com/@Boosteroid" target="_blank"><i class="fa fa-medium"></i></a></li>
                    <li><a href="https://www.facebook.com/boosteroid.info/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div> 
        </section>


        <section class="facilities_distribution" id="facilities_distribution">
            <h2>5. 募集资金分配</h2>
            <p>吸引投资总额为13.59亿美元。投资分配如下：</p>
            <div class="img"><img src="{{ asset('img/white_paper/tokens_distribution.jpg') }}" alt=""></div>
        </section>


        <section class="road_map" id="road_map">
            <h2>6. 发展蓝图</h2>
            <img src="{{ asset('img/white_paper/road_map.png') }}" alt="road_map">
        </section>

        <section class="team" id="team">
            <h2>7. 我们团队</h2>
            <div class="team_wrap">
                <div class="person">
                    <div class="photo puzich"></div>
                    <p>杰扬普济奇<br/><span class="prof">顾问</span></p>
                </div>
                <div class="person">
                    <div class="photo captain"></div>
                    <p>钦吉兹凯普泰伊恩<br/><span class="prof">顾问, 投资者</span></p>
                </div>
                <div class="person">
                    <div class="photo shvaychenko"></div>
                    <p>伊万什瓦伊琴科<br/><span class="prof">首席执行官,创业者</span></p>
                </div>
                <div class="person">
                    <div class="photo sorbat"></div>
                    <p>伊万索尔巴特<br/><span class="prof">首席技术官</span></p>
                </div>
                <div class="person">
                    <div class="photo znakhur"></div>
                    <p>谢尔盖兹纳胡勒<br/><span class="prof">人工智能开发者</span></p>
                </div>
                <div class="person">
                    <div class="photo skryabin"></div>
                    <p>波格丹斯克尔亚宾<br/><span class="prof">区块链专家</span></p>
                </div>
                <div class="person">
                    <div class="photo savin"></div>
                    <p>尤里萨温<br/><span class="prof">基础架构师</span></p>
                </div>
                <div class="person">
                    <div class="photo chepel"></div>
                    <p>拉丽萨切佩莉<br/><span class="prof">公关与沟通</span></p>
                </div>
                <div class="person">
                    <div class="photo brown"></div>
                    <p>米歇尔布朗<br/><span class="prof">系统分析员</span></p>
                </div>
            </div>
        </section>
    </body>
</html>