<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "format-detection" content = "telephone=no">
	<title>White Paper</title>
	{% block stylesheets %}
	    {% stylesheets 
		'css/white_en.css'
		'css/font-awesome.min.css'
		output='css/compiled/white_en.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    {% endstylesheets %}
	{% endblock stylesheets %}
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window, document, 'script', 'dataLayer', 'GTM-5DQ58W2');</script>
    </head>
    <body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<section class="header">
	    <h1><a href="{{ path('landing_page') }}" class="logo"><img src="{{asset('img/white_paper_en/boosteroid.svg')}}" alt="boosteroid"></a></h1>
	    <p>誰も手に入れるパーソナル クラウドクラウドコンピューティング</p>
	    <a href="{{ path('landing_page') }}">Boosteroid.com</a>
	</section>

	<section class="about">
	    <img src="{{asset('img/white_paper_en/boosteroid_black.svg')}}" alt="boosteroid_black">
	    <p class="version_main">V.2.0</p>
	    <p>誰も手に入れるパーソナル クラウドクラウドコンピューティング</p>
	    <p><span class="about_bold">プレICO</span><br/>2017 年 9 月 22～29日<br/>トークンの価格: $0,1 - 0,47</p>
	    <p><span class="about_bold">ICO</span><br/>2017 年10 月23日～ 11 月 6日<br/>2017 年11 月27日～12 月 11日<br/>2018年1 月15日～2 月 15日</p>
	    <p class="version">バージョン2.0.　本ドキュメントのバージョンは最終バージョンではなく、大幅な調整が可能性です。</p>
	</section>

	<section class="contents">
	    <h2>目次</h2>
	    <ol>
		<li class="main_nav">
		    <p><a href="#introduction">はじめに</a></p>
		    <ol>
			<li><a href="#tendencies">クラウドクラウドコンピューティングの世界市場の開発の動向と問題</a></li>
			<li><a href="#decision">問題の解決</a></li>
		    </ol>
		</li>
		<li class="main_nav">
		    <p><a href="#what_is_boosteroid">Boosteroid とは</a></p>
		    <ol>
			<li><a href="#realisation">Boosteroidプロジェクトの現実</a></li>
			<li><a href="#free_for_startup">ＡＩスタートアップにBoosteroidの出力の10%</a></li>
		    </ol>
		</li>
		<li class="main_nav">
		    <p><a href="#tokens_boosteroid">Boosteroidトークン</a></p>
		    <ol>
			<li><a href="#btr_distribution">BTR トークンの配布</a></li>
		    </ol>
		</li>
		<li class="main_nav">
		    <p><a href="#selling_tokens">ICO でのBTRトークンの販売</a></p>
		    <ol>
			<li><a href="#tokens_pre_ico">BTR トークンのプレICO</a></li>
			<li><a href="#tokens_ico">BTR トークンのICO</a></li>
		    </ol>
		</li>
		<li class="main_nav"><p><a href="#facilities_distribution">収集した資金の配布</a></p></li>
		<li class="main_nav"><p><a href="#financial_model">Boosteroid 金融モデル</a></p></li>
		<li class="main_nav"><p><a href="#market_value">市場への価値</a></p></li>
		<li class="main_nav"><p><a href="#mechanism_description">支払 (交換) サービスの説明</a></p></li>
		<li class="main_nav"><p><a href="#road_map">ロードマップ</a></p></li>
		<li class="main_nav"><p><a href="#team">チーム</a></p></li>
	    </ol>
	</section>

	<section class="introduction" id="introduction">
	    <h2>1. はじめに</h2>
	    <p>21世紀の人間は、乱れた生活リズムで生きていて、瞬間的に最も複雑なタスクを解決する必要があります。最近では、それらを実装することが不可能であったが、今、インターネットと新技術の開発のおかげで未来が現実になります。.<br/><br/>今のとこる、グローバル なのリソースを促進・加速すし、地球、どこからでもオンラインでそれらを実行させる最新ソースへのアクセスは最も緊急の問題です。この質問への答えは、日々、よりポピューラになっていくクラウドコンピューティングということです。</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/cloud_computing.jpg')}}" alt="cloud_computing"></div>
	    <p>クラウド  コンピューティング (英語cloud computing) とは、、インターネット上のサーバー等を利用して作業を行うサービス形態の一つで、また利用者は、標準のパソコン またはタブレットを通じてアクセスできるのです。このような操作を実行するコンピューターは「クラウドシステム」と呼びます。<br/><br/>クラウド  コンピューティングには、私的クラウドと公的クラウドの 2 種類があります。公的クラウドは広いプライベートの自由なアクセスため、私的クラウドは、複数のコンシューマーから成る1 つの組織のため作成されてきました。</p>
	</section>

	<section class="tendencies" id="tendencies">
	    <h3>1.1. クラウドコンピューティングの世界市場の開発における動向との問題</h3>
	    <p>アメリカのコンサルティング会社 Gartner の予測によると 2016 年の「クラウド」での活躍には 2092 億ドルがかかったが、また　2015年の消費者は、１億７５００万ドルになりました。こうして一年間で利用者のサービスコストは350 億ドルまで増加しました。アナリストによると、2017年に利用者の「クラウド」の消費は約  2468 億ドル、 2020 年に 3800 億ドルを超えます<br/><br/>サービスの需要があるのは、今、 IT 業界が「クラウド」にデータを積極的に移動するからです。したがって情報技術がますます人工知能の開発とかゲームの分野、仮想現や分析（Big Dataの分析）,などの実様々 なタスクと課題を解決できる高パフォーマンスのリソースを要求しています。</p>
	    <p class="tendencies_companies">2017年のクラウドコンピューティング市場の企業のトップ</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/rate.jpg')}}" alt=""></div>
	    <p>今のところ、クラウドコンピューティング市場の大部分を占めているのは優先的なプロバイダーです。アマゾン ウェブ サービス（AWS）がリードの位置(約 34%) を占めて、もっと低く似あるのはマイクロソフト(11  %)、IBM (8%)、Google (5%)、またその他のものです。<br/><br/>8 つのNVIDIA GeForce GTX 1080 Tiグラフィック カード、2 つの Intel Xeon プロセッサ E5 2680v4、RAM  256 GBと SSD 960 Gb(またはその同等)に基づいく計算ノードの賃借をの欧州諸国に向けた  市場のリーダーからの平均コストは</p>
	    <div class="table_wrap">
		<table class="equipment" border='1px'>
		    <tr>
			<td></td>
			<td>企業名</td>
			<td>設備</td>
			<td>コスト　時/ドル</td>
		    </tr>
		    <tr>
			<td>1</td>
			<td>Amazon Web Services</td>
			<td>p2.8xlargeプラットフォーム
			    <br/>- 8 x GPU NVIDIA Tesla K80,
			    <br/>- vCPU 32カーネル (2.3 GHz の Intel Xeon® E5-2686 v4 (ブロードウェル ) プロセッサまたは 2.4 GHz
			    <br/>Intel Xeon® E5-2676 v3 (Haswell),
			    <br/>- RAM 488Gb,
			    <br/>- SSD 1Tb,
			    <br/>- 10Gbit/s</td>
			<td>10,6</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>Microsoft Azure</td>
			<td>プラットフォームNC24r
			    <br/>- 8 x GPU NVIDIA Tesla K80,
			    <br/>- vCPU 24カーネル ( 2.4 GHz Intel Xeon® E5-2676 v3
			    (Haswell),
			    <br/>- RAM 224GB,
			    <br/>- SSD 1.440 GB,
			    <br/>- 10 Gbit/s</td>
			<td>10,26</td>
		    </tr>
		    <tr>
			<td>3</td>
			<td>Google Cloud</td>
			<td>カストム構成
			    <br/>- 8 x GPU NVIDIA Tesla K80,
			    <br/>- vCPU 32 コア プロセッサまたは 2.4 GHz Intel Xeon® E5 2676 v3 (ハスウェル),
			    <br/>- RAM 256Gb (up to 455 GB of RAM),
			    <br/>- SSD space 3x375 GB,
			    <br/>- 10 Gbit/s</td>
			<td>6,5</td>
		    </tr>
		</table>
	    </div>
	    <p class="comment">* IBM は、プライベート クラウドのコンピューティング パワーのサービスを提供し、その価格は個別に計算されます。</p>
	    <p>市場価格の新しいプレーヤー のクラウドコンピューティングサービスのコストは、これが自分の装置を持たずに、既存のコンピューティング リソースを組み合わせて、アドイン製品を開発するのみので、現在のコストより低くにならないのです<br/><br/>ユーザーは、市場のリーダーによって提供されるコンピューティングパワーの貸借の高い価格だけでなく、コンピューティングリソースへのアクセスを得ることにも困難に直面しているのです。今日のユーザーは、登録と常に上級ユーザーのためにも明確ではない複雑な設定と情報も含む手続きに多くの時間を費やす必要があります</p>
	</section>


	<section class="decision" id="decision">
	    <h3>1.2. 問題の解決</h3>
	    <p>コンピューティング パワーの賃借のアクセスを誰にも可能にするために、2016年 10 月に Boosteroid のプロジェクトを作業し始めました。<br/><br/>
		私達のチームは、情報技術と人工知能の分野での専門であります。当初、我々 は 6～8 のNVIDIA グラフィック カードとIntel Xeon プロセッサに基づくコンピューター ノードを組み立てて、人工知能の分野で複雑な計算を実施していたのです。高性能機器は、無駄に使われないように、私たちはこれを貸与して仮想通貨をマイニングをし始めました。<br/><br/>
		自分の経験から分かったのは、独自のアーキテクチャと生産能力を完全に使えば、クラウドコンピューティングのコストは何度も減らされてくるのです。だからこそ、私たちは、主要な市場プレーヤーよりも低いコストでサービスを提供することができます。安価な賃借は、インターネットの各ユーザーにBoosteroidへのアクセスを手に入れることができます。</p>
	</section>


	<section class="what_is_boosteroid" id="what_is_boosteroid">
	    <h2>2. Boosteroid とは</h2>
	    <p>BOOSTEROID とはコンピューティングリソース、ストレージとソフトウェア製品への便利なアクセスを提供するクラウドサービスプラットフォームであります。</p>
	    <img src="{{asset('img/project_mechanism.jpg')}}" alt="project mechanism">
	    <p>クラウドコンピュータは、ビデオを処理したり、3D グラフィックスを作成したり、高いコンピュータパフォーマンスを必要とするゲームをプレイしたり、パフォーマンスが最も低い PC でも、任意のデバイスで機械学習を行うことができます。一つの必要なことは、安定した高速インターネット接続です。<br/><br/>Boosteroid はまた、クラウドコンピューティングのコストを削減することにより、高い貸借の問題を解決します。最低貸借のおかげで、サービスはすべてのワールド ・ ワイド ・ ウェブのユーザーの手に入いれられます。</p>
	    <img src="{{asset('img/sequence.jpg')}}" alt="sequence">
	    <p>Boosteroid アプリケーションは、当社のサービスを使用して、2 つのマウス クリックだけで必要な量のコンピューティング パワーを選択する機会を与えます。BTR トークンと同様に米ドルとユーロでサービスを支払うことができます</p>
	</section>


	<section class="realisation" id="realisation">
	    <h3>2.1. Boosteroidプロジェクトの現実</h3>
	    <p>Boosteroid プロジェクトの技術的な実現は、ハードウェアおよびソフトウェアという2 つの部分から構成されています。<br/><br/>ハードウェアは、多数の様々なコンピューティング リソースを一体にした高速インフラストラクチャから構成されるが、例えば</p>
	    <ul>
		<li>- AMD とIntel企業のモダンな汎用プロセッサに基づくサーバー；</li>
		<li>- NVIDIA と AMD 社のグラフィックス アクセラレータとグラフィック カードに基づくサーバー；</li>
		<li>- Intelのアクセラレータを含むサーバー ；</li>
		<li>- 高速スイッチング装置。</li>
	    </ul>
	    <p>サーバーのアーキテクチャが基礎にしたのは</p>
	    <ul>
		<li>- Intel Xeon E5 と E7 v4 とか 5プロセッサー;</li>
		<li>- AMD EPYC 7000 シリーズのプロセッサー;</li>
		<li>- NVIDIA GeForce GTX 1080 Tiグラフィック カード;</li>
		<li>- NVIDIA Tesla P100、Tesla V100 とAMD Radeon Instinctというグラフィック アクセラレータ；</li>
		<li>- Intel Xeon Phi 7000シリーズの ピピアクセラレータ</li>
	    </ul>

	    <p class="scheme">高パフォーマンスのクライド コンピューティングの構図</p>
	    <img src="{{asset('img/white_paper_en/scheme.jpg')}}" alt="scheme">
	    <p>データを操作するには止めにくい、配布した、プレにのこすストレージ システムを使用します。またはブロック タイプ ストレージも話題に上ります。基本的データのほか、大量のメモリを持つ長期的なストレージが構築されます。<br/><br/>システム インフラストラクチャ、高速コンピューター ネットワークおよびデータ ストアのレプリケーションの機能を確保するために通信機器として10 GB と 100 Gb Ethernetのスイッチを使用する予定です。<br/><br/>プロジェクトのソフトウェアの一部は、サーバー、ストレージ、ネットワークの仮想化、安定した自動化されたコンピューティング環境に IT インフラストラクチャの変革のために設計されたVMwareソフトウェア製品に基づいて行われます。<br/><br/>この概念は、Intel Xeon プロセッサとグラフィックスアクセラレータ (カード) NVIDIA に基づいて、最小限の容量損失で、コンピューティングクラウド内に多くの仮想コンピュータを作成することができます。</p>
	    <img src="{{asset('img/white_paper_en/network.jpg')}}" alt="network">
	    <p>Boosteroid へのアクセスは、操作システムに関係なく、ブラウザを介して提供されるので、PC やモバイルデバイス上の両方のサービスを使用することが可能になります。<br/><br/>
		我々は、クラウドで便利な作業を提供し、Boosteroid サービスに迅速にアクセスできるようにするためにユーザーフレンドリーインターフェイスを開発します。ユーザーは、VPN 経由でクラウドコンピュータに接続し、特定のアプリ、モデル、およびゲームを使用することができます<br/><br/>
		カジュアルなユーザーのためにクラウドコンピュータのパフォーマンスと処理能力は自動的に(ユーザーが必要とするソフトウェア製品の性能を考慮して)選択されます。<br/><br/>経験豊富なユーザーは、自分でクラウドコンピュータの必要とされる機能を選択する機会があります。<br/><br/>また、無料でアプリケーションをダウンロード・購入し、または、個人クラウドコンピューターにそれらをインストールすることができるBooStore 店を展開したいと思います。</p>
	</section>

	<section class="free_for_startup" id="free_for_startup">
	    <h3>2.2. ＡＩスタートアップにBoosteroidの出力の10%</h3>
	    <p>未来に貢献したいので、高齢化問題の解決に向けた人工知能の分野でのプロジェクトに私たちの施設の 10% を無料で与えるつもりです。</p>

	    <p class="subtitle">AI スタートアップセレクションの指針</p>
	    <p>1. AI の老化研究に従事している誰もが適用することができます。<br/>2. プロジェクトの考えは独特であるべきで、市場のこの考えのための要求があるべきであるのです<br/>
		3. チームは、明確に定義されたロードマップを提供する必要があります<br/>4. 我々は、個々の創設者ではなく、チームに焦点を当てるのです。<br/>5. チームは、成功をとても得たいと思って、人類が直面する問題を解決する道を求めて、細部に注意を払うべきであります。<br/>
		6. 我々は、クラウドコンピューティングの問題ではなく、その実装と開発プロセスでスタートアップをガイドし、サポートするつもりです。<br/>7. 加えて、次の研究に従事するベンチャーは、申し込むことができます:<br/>
		<br/>- 人工知能
		<br/>- 分析論とビッグデータ
		<br/>- バーチャルリアリティー
		<br/>- 拡張現実
		<br/>- バイオテクノロジー
		<br/>- 医療
		<br/>- 医学のテクノロジーおよび調剤
		<br/>- ロボット工学</p>

	    <p class="subtitle">般標準</p>
	    <p>以下の面は考慮されるのです：<br/>
		<br/>- フルタイムのチームおよび創立者;
		<br/>- チームフォーカス;
		<br/>- 寛大さ;
		<br/>- 社会的な寄与。</p>

	    <p class="subtitle">選択プロセス</p>
	    <p>スタートアップの選択プロセスは3つの段階を含む。
		<br/>1. オンラインのアプリケーション:<br/>
		<br/>- 申込用紙
		<br/>- プロジェクト/チーム/会社名?
		<br/>- なぜあなたは Boosteroid コンピューティングパワーが必要ですか?
		<br/>- どのようにプロジェクトが始まった: プロジェクトを開始するきっかけは何ですか?
		<br/>- ミッション: プロジェクトの使命は何ですか。?
		<br/>- 目標: プロジェクトを実装することによって何を達成したいのですか?
		<br/>- 問題: どのようなリスクに直面するのですか?
		<br/>- チーム: チームメンバーに関する情報、その背景と専門知識。
		<br/>- ビジネスモデル: どのようにビジネスを実行するつもりですか?
		<br/><br/>2. 選考<br/><br/>
		選考委員は候補者30人を選ぶ予定です。選考は5つの重要な基準に基づいています:</p>
	    <div class="table_wrap">
		<table>
		    <tr>
			<td>1</td>
			<td>チームキャパシティ</td>
			<td>10 ポイント</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>プロジェクトのスケーラビリティ</td>
			<td>10 ポイント</td>
		    </tr>
		    <tr>
			<td>3</td>
			<td>ビジネス・モデル</td>
			<td>10 ポイント</td>
		    </tr>
		    <tr>
			<td>4</td>
			<td>マーケティングアプローチ</td>
			<td>10 points</td>
		    </tr>
		    <tr>
			<td>5</td>
			<td>アイデアの独自性</td>
			<td>10 ポイント</td>
		    </tr>
		</table>
	    </div>

	    <p><br/>3. 対面面接
		<br/><br/>選考委員会はトップ10のスタートアップを選択します。前段階の結果を考慮して、異なる種類のインタビューを行うことができます:
		<br/><br/>1. 個人的なインタビュー
		<br/>2. 電話またはSkypeインタビュー
		<br/>3. 機能テストインタビュー
		<br/>4. パネルインタビュー
		<br/><br/>申込用紙は <a href="mailto:support@boosteroid.com">support@boosteroid.com</a> に送られるべきである</p>
	</section>

	<section class="tokens_boosteroid" id="tokens_boosteroid">
	    <h2>3. Boosteroidトークン</h2>
	    <p>BTR と名づけられたトークンが10 億をリリースしました。</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/btr.jpg')}}" alt=""></div>
	    <p>BTR トークンはERC20 仕様に基づいて、Ethereumブロックチェン プラットフォーム作成されます。<br/>投資のコレクション後、次のトークンの再発行は提供されていません。<br/>サービス決済のトークンが燃焼されます。<br/>ICOの完了時にすべてのトークンの売れ残りと未割り当ては破棄されます。</p>
	</section>

	<section class="btr_distribution" id="btr_distribution">
	    <h3>3.1. BTR トークンの配布</h3>
	    <p>BTRトークンの配布は次のようになります:</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/distribution.png')}}" alt=""></div>
	    <p>Boosteroid ファンドは、販売されたトークンの数に比例して形成されます。</p>
	</section>

	<section class="selling_tokens" id="selling_tokens">
	    <h2>4. ICO でBTRトークンの販売</h2>
	    <p>1 BTR は、8 つのNVIDIA GeForce GTX 1080 Tiグラフィック カード; 2 つのIntel Xeon E5 2680v4; RAM 256Gb; SSD 960Gbに基づくコンピューティングのパワーを借りる1 時間のコストに相当しています</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/selling.jpg')}}" alt=""></div>
	    <p>BTRトークンは、 プレ ICO とICO のすべての段階のとき <a href="https://boosteroid.com/" target="_blank">Boosteroid.com</a> ウェブサイトで購入できます。<br/><br/>スマートコントラクトのアドレスは、販売開始の時に個人事務所で利用可能になります。<br/><b>{#0x0C0Ed9A68C9cA0eCed8612E2f80a519867F36869#}</b></p>
	</section>

	<section class="tokens_pre_ico" id="tokens_pre_ico">
	    <h3>4.1. BTR トークンのプレICO</h3>
	    <p>トークンの前売り開始は 2017 年 9 月 22 日、終了は 2017 年 9 月 29 日 。<br/>BTR のトークンの合計数: 2 000 000<br/>引き付けられる投資額: $324,000<br/>開始価格 1 BTR当たり$0.1、究極の価格$0.47</p>

	    <div class="table_wrap">
		<table>
		    <tr>
			<td>ラウンド</td>
			<td>1 BTRトークンの価格</td>
			<td>BTRトークン の数</td>
			<td>BTR トークンの合計値、ドル</td>
		    </tr>
		    <tr>
			<td>1</td>
			<td>0.1</td>
			<td>500 000</td>
			<td>50 000</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>0.11</td>
			<td>400 000</td>
			<td>44 000</td>
		    </tr>
		    <tr>
			<td>3</td>
			<td>0.13</td>
			<td>300 000</td>
			<td>39 000</td>
		    </tr>
		    <tr>
			<td>4</td>
			<td>0.16</td>
			<td>250 000</td>
			<td>40 000</td>
		    </tr>
		    <tr>
			<td>5</td>
			<td>0.20</td>
			<td>200 000</td>
			<td>40 000</td>
		    </tr>
		    <tr>
			<td>6</td>
			<td>0.25</td>
			<td>150 000</td>
			<td>37 500</td>
		    </tr>
		    <tr>
			<td>7</td>
			<td>0.31</td>
			<td>100 000</td>
			<td>31 000</td>
		    </tr>
		    <tr>
			<td>8</td>
			<td>0.38</td>
			<td>50 000</td>
			<td>19 000</td>
		    </tr>
		    <tr>
			<td>9</td>
			<td>0.47</td>
			<td>50 000</td>
			<td>23 500</td>
		    </tr>
		    <tr>
			<td>Total</td>
			<td></td>
			<td>2 000 000</td>
			<td>324 000</td>
		    </tr>
		</table>
	    </div>
	</section>

	<section class="tokens_ico" id="tokens_ico">
	    <h3>4.2. BTR トークンのICO</h3>

	    <h4>第1 目のステージ</h4>
	    <p>トークン販売開始は2017 年 10 月 23 日、終了は2017 年 11 月 6 日。<br/>BTR のトークンの合計数: 100 000 000<br/>引き付けられる投資額: $53 000 000<br/>開始価格 1 BTR当たり$ 0.48、究極の価格$0.58</p>
	    <div class="table_wrap">
		<table>
		    <tr>
			<td>ラウンド</td>
			<td>1 BTRトークンの価格</td>
			<td>BTRトークン の数</td>
			<td>BTR トークンの合計値、ドル</td>
		    </tr>
		    <tr>
			<td>1</td>
			<td>0.48</td>
			<td>50 000 000</td>
			<td>24 000 000</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>0.58</td>
			<td>50 000 000</td>
			<td>29 000 000</td>
		    </tr>
		</table>
	    </div>

	    <h4>第2目のステージ</h4>
	    <p>トークン販売開始は 2017 年 11 月 27 日、終了は 2017 年 12 月 11日 。<br/>BTR のトークンの合計数: 300 000 000<br/>引き付けられる投資額: $324 000 000<br/>開始価格 1 BTR当たり$1.08、究極の価格$1.38</p>
	    <div class="table_wrap">
		<table>
		    <tr>
			<td>ラウンド</td>
			<td>1 BTRトークンの価格</td>
			<td>BTRトークン  の数</td>
			<td>BTR トークンの合計値、ドル</td>
		    </tr>
		    <tr>
			<td>1</td>
			<td>1.08</td>
			<td>60 000 000</td>
			<td>64 800 000</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>1.18</td>
			<td>70 000 000</td>
			<td>82 600 000</td>
		    </tr>
		    <tr>
			<td>3</td>
			<td>1.28</td>
			<td>80 000 000</td>
			<td>102 400 000</td>
		    </tr>
		    <tr>
			<td>4</td>
			<td>1.38</td>
			<td>90 000 000</td>
			<td>124 200 000</td>
		    </tr>
		</table>
	    </div>

	    <h4>第3目のステージ</h4>
	    <p>トークン販売開始は 2018 年1月 15 日、終了は 2018 年 2 月 15日 。<br/>BTR のトークンの合計数:400 000 000<br/>引き付けられる投資額: $932 000 000<br/>開始価格 1 BTR当たり$ 1.88、究極の価格$2.78</p>
	    <div class="table_wrap">
		<table>
		    <tr>
			<td>ラウンド</td>
			<td>1 BTRトークンの価格</td>
			<td>BTRトークン  の数</td>
			<td>BTR トークンの合計値、ドル</td>
		    </tr>
		    <tr>
			<td>1</td>
			<td>1.88</td>
			<td>100 000 000</td>
			<td>188 000 000</td>
		    </tr>
		    <tr>
			<td>2</td>
			<td>2.18</td>
			<td>100 000 000</td>
			<td>248 000 000</td>
		    </tr>
		    <tr>
			<td>3</td>
			<td>2.48</td>
			<td>100 000 000</td>
			<td>248 000 000</td>
		    </tr>
		    <tr>
			<td>4</td>
			<td>2.78</td>
			<td>100 000 000</td>
			<td>278 000 000</td>
		    </tr>
		</table>
	    </div>
	    <p class="comment">** 全てのステージは、投資の必要量を達する場合、途中で終了可能性があります。</p>
	    <p>よくある質問 (FAQ)、プロジェクトに関するすべての必要な情報はBoosteroid.comのページおよびすべてのBoosteroidのネットワークで利用できる:</p>
	    <div class="soc_nav">
		<ul>
		    <li><a href="https://twitter.com/infoboosteroid" target="_blank"><i class="fa fa-twitter"></i></a></li>
		    <li><a href="https://t.me/boosteroid" target="_blank"><i class="fa fa-telegram"></i></a></li>
		    <li><a href="https://medium.com/@Boosteroid" target="_blank"><i class="fa fa-medium"></i></a></li>
		    <li><a href="https://www.facebook.com/boosteroid.info/" target="_blank"><i class="fa fa-facebook"></i></a></li>
		</ul>
	    </div> 
	</section>


	<section class="facilities_distribution" id="facilities_distribution">
	    <h2>5. 収集した資金の配布</h2>
	    <p>投資合計は$1 359 000 000。これらは、次のとおり配布される:</p>
	    <div class="img"><img src="{{asset('img/white_paper_en/tokens_distribution.jpg')}}" alt=""></div>
	</section>


	<section class="financial_model" id="financial_model">
	    <h2>6. 2%―BooStore のアプリを開発する </h2>
		<p>コンピューティング設備の拡充、機器の購入、受け入れられた BTR トークンの数は、ICO の間に集めた投資額によって異なります。<br/><br/>
		    この表では、計算ノードの合計数とすでに使用可能な189ノードとオペレーティング節点を示します。<br/><br/>1つ計算ノードはおよそ $15 000 を要するのです。</p>
		<div class="table_wrap">
		    <table>
			<tr>
			    <td>ICOに集まった投資の金額、$</td>
			    <td>BTR平均価格、$</td>
			    <td>ICOで販売されたBTRの数</td>
			    <td>購入されたコンピュータ処理のノードの数</td>
			    <td>コンピュータ処理のノードの全体の数</td>
			    <td>月あたり受け入れられたBTRの数</td>
			    <td>支払いとして承認されたBTRが期限切れになる時間（月あたり）。</td>
			</tr>
			<tr>
			    <td>3 000 000</td>
			    <td>0,45</td>
			    <td>6666667</td>
			    <td>200</td>
			    <td>389</td>
			    <td>289416</td>
			    <td>23</td>
			</tr>
			<tr>
			    <td>5 000 000</td>
			    <td>0,46</td>
			    <td>10869565</td>
			    <td>333</td>
			    <td>522</td>
			    <td>388616</td>
			    <td>28</td>
			</tr>
			<tr>
			    <td>10 000 000</td>
			    <td>0,49</td>
			    <td>20408163</td>
			    <td>667</td>
			    <td>856</td>
			    <td>636616</td>
			    <td>32</td>
			</tr>
			<tr>
			    <td>30 000 000</td>
			    <td>0,55</td>
			    <td>54545455</td>
			    <td>2000</td>
			    <td>2189</td>
			    <td>1628616</td>
			    <td>33</td>
			</tr>
			<tr>
			    <td>50 000 000</td>
			    <td>0,65</td>
			    <td>76923077</td>
			    <td>3333</td>
			    <td>3522</td>
			    <td>2620616</td>
			    <td>29</td>
			</tr>
			<tr>
			    <td>100 000 000</td>
			    <td>0,8</td>
			    <td>125000000</td>
			    <td>6667</td>
			    <td>6856</td>
			    <td>5100616</td>
			    <td>25</td>
			</tr>
			<tr>
			    <td>300 000 000</td>
			    <td>1,1</td>
			    <td>272727273</td>
			    <td>20000</td>
			    <td>20189</td>
			    <td>15020616</td>
			    <td>18</td>
			</tr>
			<tr>
			    <td>500 000 000</td>
			    <td>1,15</td>
			    <td>434782609</td>
			    <td>33333</td>
			    <td>33522</td>
			    <td>24940616</td>
			    <td>17</td>
			</tr>
			<tr>
			    <td>1 000 000 000</td>
			    <td>1,2</td>
			    <td>833333333</td>
			    <td>66667</td>
			    <td>66856</td>
			    <td>49740616</td>
			    <td>17</td>
			</tr>
		    </table>
		</div>
	</section>


	<section class="market_value" id="market_value">
	    <h2>7. 市場への価値</h2>
	    <p>多数のユーザーとリリースされたトークンの数が限られていることを考慮して、BTR の為替レートが増加し、投資家は最大限の収益を得ることができます。<br/><br/>すべてのBTRトークン は、実際のサービスは1 トークン =コンピューティングの家賃の1 時間という形でに対応しています。現在、コンピューティングパワーの1時間の賃借の最小コストは $6.5 です。したがって、トークンレートは $6 ~ $6.5 に増加します。</p>
	    <img src="{{asset('img/white_paper_en/market_value.jpg')}}" alt="market_value">
	    <p>サービスが開始された後、我々は交換で BTR 買い戻しを開始しますので、市場で利用可能なトークンの数が減少します。</p>
	</section>


	<section class="mechanism_description" id="mechanism_description">
	    <h2>8. 支払 (交換) サービスの説明</h2>
	    <p>我々は、外部の取引所に登録し、取引することなく、USD、BTC、ETH と BTR の間の高速交換を可能にする交換サービスを開発します。ユーザーは、USD、BTC、ETH、および BTR トークンで支払いすることができます。<br/><br/>仮想通貨の交換サービスは、コンピューティング パワーの家賃の支払いが行われる ウエブインターフェイスに統合されます。</p>
	    <img src="{{asset('img/white_paper_en/mechanism_description.png')}}" alt="mechanism_description">
	    <p>為替レートと支払いの詳細もここで表示されます。為替レートは、仮想通貨 の交換でこのレートに近くあり、時間の特定の期間内に更新されます。交換業務には少額の手数料がかかります。<br/><br/>交換サービスは、USD、BTC、ETH、BTR の埋蔵量を持つ予定です。交換要求は直ちに処理されます。特定の通貨の準備が終了すると、交換サービスは自動的に外部のデジタル通貨を取引所で注文します。<br/><br/>交換サービスは、別のサーバー上で起動され、外部の交換、伝統的な決済システムと 仮想通貨の財布モジュールに接続します。このサービスには、交換 要求を受け付け、現在の為替レートとリザーブの状態について通知されるために、パブリック API があります</p>
	</section>

	<section class="road_map" id="road_map">
	    <h2>9. 道路地図</h2>
	    <img src="{{asset('img/white_paper_en/roadmap.jpg')}}" alt="road_map">
	</section>

	<section class="team" id="team">
	    <h2>10. チーム</h2>
	    <div class="team_wrap clearfix">
		<div class="person">
		    <div class="photo puzich"></div>
		    <p>プジチ・デヤン <br/><span class="prof">アドバイザー</span></p>
		</div>
		<div class="person">
		    <div class="photo captain"></div>
		    <p>ケプテイン・チンギズ<br/><span class="prof">アドバイザー、投資家</span></p>
		</div>
		<div class="person">
		    <div class="photo shvaychenko"></div>
		    <p>シワイチェンコ・イヴァン<br/><span class="prof">代表取締役社長、創業者</span></p>
		</div>
		<div class="person">
		    <div class="photo znakhur"></div>
		    <p>ズナフル・セルゲイ<br/><span class="prof">人工知能の開発者</span></p>
		</div>
		<div class="person">
		    <div class="photo skryabin"></div>
		    <p>スクリャービン・ボグダン<br/><span class="prof">ブロックチェン スペシャ リスト</span></p>
		</div>
		<div class="person">
		    <div class="photo savin"></div>
		    <p>サヴァン・ユリー<br/><span class="prof">インフラストラクチャ アーキテクト</span></p>
		</div>
		<div class="person">
		    <div class="photo chepel"></div>
		    <p>チェペル・ラリサ <br/><span class="prof">PR ・通信</span></p>
		</div>
		<div class="person">
		    <div class="photo biriukov"></div>
		    <p>ビリウコフ・ビタリー<br/><span class="prof">最高技術責任者</span></p>
		</div>
		<div class="person">
		    <div class="photo nikitenkov"></div>
		    <p>二キテンコフ・ウラジスラフ <br/><span class="prof">マーケティング</span></p>
		</div>
		<div class="person">
		    <div class="photo podrezova"></div>
		    <p>ポドレゾヴァ・オルガ <br/><span class="prof">リードデザイナー</span></p>
		</div>
		<div class="person">
		    <div class="photo zykova"></div>
		    <p>ズコバ・スヴェトラーナ<br/><span class="prof">ウエブ 開発</span></p>
		</div>
		<div class="person">
		    <div class="photo kovalenko"></div>
		    <p>コヴァレンコ・ナタリヤ<br/><span class="prof">弁護士</span></p>
		</div>
		<div class="person">
		    <div class="photo vakulenko"></div>
		    <p>ヴァクレンコ・ドミトリー<br/><span class="prof">生産工程のオートメーションのエンジニア</span></p>
		</div>
	    </div>
	</section>
    </body>
</html>