<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>
        {% block stylesheets %}
            {% stylesheets 
		'css/errors/main.css'
		output='css/compiled/errors.css'
		filter='cssrewrite'
            %}
            <link rel="stylesheet"  href="{{ asset_url }}">
            {% endstylesheets %}
	{% endblock stylesheets %}
	<link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
    </head>
    <body>
        <div class="wrap_404">
            <div class="ufo"></div>
            <div class="text_wrap">
                <p>Probably something happened<br/>unfortunately, the page was not found<br/>try searching here</p>
            </div>
            <a class="logo" href="{{ path('landing_page') }}"></a>
        </div>
    </body>
</html>