@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

.content {
  max-width: 1340px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 320px; }

section {
  padding: 80px; }

h2 {
  margin-bottom: 30px;
  font: 50px "RobotoCondensedLight"; }

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font: 30px "RobotoCondensedLight"; }

h4 {
  font: 30px "RobotoCondensedLight";
  margin-bottom: 20px; }

p {
  font: 15px "RobotoRegular"; }

ul {
  list-style-type: none; }

li:before {
  font: 18px "RobotoMedium"; }

li {
  font: 16px "RobotoRegular"; }

br {
  display: block;
  margin: 10px 0; }

a {
  color: #339FDC;
  word-break: break-word; }
  a:visited, a:hover {
    color: #339FDC;
    text-decoration: underline; }

p, li {
  line-height: 22px !important; }

.table_wrap {
  overflow-x: scroll;
  margin-bottom: 35px;
  display: inline-block; }

table {
  margin-top: 30px;
  border-collapse: collapse;
  text-align: center;
  font: 14px "RobotoMedium";
  min-width: 400px; }
  table tr:first-child {
    background-color: rgba(40, 40, 40, 0.025); }
  table td {
    padding: 15px;
    border: 1px solid lightgray; }
    table td:nth-child(even) {
      background-color: rgba(40, 40, 40, 0.025); }

.decorated {
  display: inline-block;
  position: relative; }
  .decorated::after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid black;
    top: 130%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.comment {
  margin-bottom: 15px; }

.about_bold {
  font-family: "RobotoCondensedBold"; }

.margined {
  margin-bottom: 20px; }

.header {
  background-color: #03101d;
  text-align: left;
  color: white;
  background-image: url("../img/main_bg.png");
  background-size: cover;
  padding: 400px 80px 50px; }
  .header h1 {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px; }
  .header p {
    font: 18px "RobotoLight";
    margin-bottom: 600px; }
  .header a {
    font: 14px "RalewayBold";
    letter-spacing: 1px;
    color: white; }

.about {
  text-align: left; }
  .about img {
    width: 40%; }
  .about p {
    font: 16px "RobotoCondensedLight"; }
    .about p:nth-child(3) {
      margin-bottom: 400px; }
    .about p:nth-child(4) {
      margin-bottom: 20px; }
    .about p:nth-child(5) {
      margin-bottom: 70px; }
  .about .version_main {
    font: 18px "RobotoMedium";
    margin-bottom: 30px; }
  .about .version {
    font-size: 14px;
    width: 70%; }

.contents ol {
  counter-reset: item; }
  .contents ol li {
    display: block; }
    .contents ol li::before {
      content: counters(item, ".") ". ";
      counter-increment: item; }
  .contents ol a {
    color: black; }
    .contents ol a:visited, .contents ol a:hover {
      text-decoration: none; }

.contents .main_nav {
  margin-bottom: 20px; }

.contents p {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 900; }

.img {
  margin: 0 auto;
  width: 80%; }

img {
  width: 100%; }

.tendencies .comment {
  margin-top: 10px;
  margin-bottom: 40px; }

.tendencies .equipment {
  text-align: left; }
  .tendencies .equipment td {
    vertical-align: top; }

.what_is_boosteroid img {
  width: 130px;
  height: 130px;
  margin-top: 0; }

.what_is_boosteroid ul {
  list-style-type: none; }
  .what_is_boosteroid ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .what_is_boosteroid ul li div {
      margin-right: 20px; }
    .what_is_boosteroid ul li p {
      width: 70%; }

.what_is_boosteroid .why_us {
  margin-top: 30px;
  text-align: center;
  font: 30px "RobotoCondensedLight"; }

.realisation ul {
  margin: 20px 0; }

.realisation .scheme {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 60px; }

.realisation img {
  margin-top: 0; }

.free_for_startup {
  padding-top: 0; }

.tokens_ico .soc_nav li {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  display: inline-block; }

.tokens_ico .fa {
  font-size: 22px;
  color: black; }

.tokens_ico .soc_nav {
  margin-top: 20px; }

.btr_distribution {
  padding-top: 0; }

.selling_tokens {
  word-break: break-word; }

.bounty_list_1 {
  margin-top: 20px; }

.bounty_list_2 {
  margin-left: 40px;
  margin-bottom: 20px; }

.companies_categories > div {
  margin-bottom: 20px; }

.companies_categories ul {
  margin-left: 40px; }

.companies_categories li {
  font: 15px "RobotoRegular"; }

.companies_categories .extra_bounty {
  margin-left: 0; }
  .companies_categories .extra_bounty > li {
    margin-top: 10px;
    font-weight: 600;
    list-style-type: none; }

.company_category, .sign_company_top, .blogs_top, .transfers_top, .twitter_top, .facebook_top, .youtube_top, .linkedin_top, .telegram_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 20px; }
  .company_category img, .sign_company_top img, .blogs_top img, .transfers_top img, .twitter_top img, .facebook_top img, .youtube_top img, .linkedin_top img, .telegram_top img {
    width: 50px;
    margin-right: 15px; }
  .company_category p, .sign_company_top p, .blogs_top p, .transfers_top p, .twitter_top p, .facebook_top p, .youtube_top p, .linkedin_top p, .telegram_top p {
    font: 24px "RobotoCondensedRegular"; }

.sign_company_top {
  margin-top: 50px; }

.sign_company_list {
  margin-bottom: 20px; }

.facebook .facebook_top img {
  width: 20px;
  height: 40px; }

.company_pt {
  font: 22px "RobotoCondensedRegular";
  margin-top: 25px;
  margin-bottom: 10px; }

.bonus_programs ul {
  margin-top: 20px; }

.bonus_programs li {
  margin-bottom: 20px; }

.team_wrap .person {
  float: left;
  width: 33.333333333333333333333%;
  text-align: center;
  margin-bottom: 40px; }
  .team_wrap .person p {
    font-weight: 900; }
  .team_wrap .person span {
    font-weight: 300;
    color: rgba(30, 30, 30, 0.5); }

.team_wrap .photo {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-size: cover;
  margin: 0 auto 15px; }

.team_wrap .puzich {
  background-image: url("../img/team/puzich.jpg"); }

.team_wrap .captain {
  background-image: url("../img/team/captain.jpg"); }

.team_wrap .shvaychenko {
  background-image: url("../img/team/shvaychenko.jpg"); }

.team_wrap .sorbat {
  background-image: url("../img/team/sorbat.jpg"); }

.team_wrap .znakhur {
  background-image: url("../img/team/znakhur.jpg"); }

.team_wrap .skryabin {
  background-image: url("../img/team/skryabin.jpg"); }

.team_wrap .savin {
  background-image: url("../img/team/savin.jpg"); }

.team_wrap .chepel {
  background-image: url("../img/team/chepel.jpg"); }

.team_wrap .brown {
  background-image: url("../img/team/brown.jpg"); }

@media only screen and (max-width: 768px) {
  .team_wrap .person {
    width: 50%; } }

@media only screen and (max-width: 640px) {
  .what_is_boosteroid ul li {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .what_is_boosteroid ul li div {
      width: 100%; }
  .team_wrap .person {
    width: 100%; }
  table td {
    padding: 5px; }
  .table_wrap {
    display: block; } }

@media only screen and (max-width: 550px) {
  section {
    padding: 30px; }
  .header {
    padding: 30px; }
  .img {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .header p {
    margin-bottom: 300px; }
  .about p:nth-child(3) {
    margin-bottom: 200px; } }
