{% for message in app.flashes('success') %}
    <div id="countdown" class="alert alert-info">
	<p><i class="fa fa-clock-o"></i> {{ message|raw }} <span id="footer_timer" class="ico-time"></span></p>
    </div>
{% endfor %}
