<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
	{% block stylesheets %}
	    {% stylesheets 
		'css/libs.min.css'
		'css/account.css'
		'css/font-awesome.min.css'
		output='css/compiled/account.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    {% endstylesheets %}
	{% endblock stylesheets %}
	<link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
        {% block head_javascript %}{% endblock head_javascript %}
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="admin-panel clearfix">
	    <div class="slidebar">
		<h1><a href="{{ path('landing_page') }}"><img src="{{ asset('img/logo_cabinet.png') }}" alt="logo" class="logo_large"><img src="{{ asset('img/booosteroid_small_logo.png') }}" alt="logo" class="logo_small"></a></h1>
		{{ knp_menu_render('main_menu', { 'template':'AppBundle:Menu:main_menu.html.twig', 'currentClass':'active-item' } ) }}
	    </div>
	    <div class="content">
		<div class="top-line clearfix">
		    <p class="user">{{ app.user.username }}</p>
		    <p class="amount">{#<span class="you_have">{{ 'amount_btr'|trans({}, 'account') }}</span>#} <span>{{ app.user.amountBTR ? app.user.amountBTR:0}}</span> BTR</p>
		    <div class="buttons_wrapp">
			    <a class="logout" href="{{ path('fos_user_security_logout') }}"><span>{{ 'logout'|trans({}, 'account') }}</span></a>
			    {{ include('AppBundle::languages.html.twig') }}
		    </div>
		</div>
		<div class="main">
		    {% block body %}{% endblock body %}
		</div>
		{% block footer %}
		    <footer class="clearfix">
			<a href="{{asset('pdf/Terms.pdf')}}" target="_blank" rel="noreferrer nofollow noopener">Terms and Conditions</a>
			<p>&copy; Boosteroid, {{ 'now'|date('Y') > '2017' ? '2017 - '~'now'|date('Y') : 'now'|date('Y') }}</p>
		    </footer>
		{% endblock footer%}
	    </div>
	</div>
	{% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	    {% javascripts 
		'js/libs.min.js'
                'js/language.js'
		output='js/compiled/account.js'
	    %}
	    <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	{% endblock javascripts %}
        {% if app.request.locale == 'ru_RU' or app.request.locale == 'ru' %}
            <!-- BEGIN JIVOSITE CODE {literal} -->
            <script type='text/javascript'>
            (function(){ var widget_id = 'RI1B2XKbxj';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
            <!-- {/literal} END JIVOSITE CODE -->
        {% else %}
            <!-- BEGIN JIVOSITE CODE {literal} -->
            <script type='text/javascript'>
            (function(){ var widget_id = 'kBwi6R8MLo';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
            <!-- {/literal} END JIVOSITE CODE -->
        {% endif %}
    </body>
</html>
