{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{# sonata-project/SonataUserBundle https://github.com/sonata-project/SonataUserBundle/blob/master/Resources/views/Admin/Core/user_block.html.twig #}

{% block user_block %}
    {% if app.user %}
        {% set _bg_class          = "bg-teal" %}
        {% set _logout_uri        = url('fos_user_security_logout') %}
        {% set _logout_text       = 'layout.logout'|trans({}, 'FOSUserBundle') %}
        {% set _profile_uri       = is_granted('EDIT', app.user) ? sonata_admin.adminPool.adminByAdminCode('app.admin.users').generateUrl('edit', {id: app.user.id}) : sonata_admin.adminPool.adminByAdminCode('app.admin.users').generateUrl('show', {id: app.user.id}) %}
        {% set _profile_text      = 'Profile' %}
        {% set _user_image        = app.user.photo|default(asset('bundles/app/images/default_avatar.png')) %}
        {# Customize this with your profile picture implementation, see below for example #}

       {# {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            {% set _bg_class    = "bg-light-green" %}
            {% set _logout_uri  = url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) %}
            {% set _logout_text = 'switch_user_exit'|trans({}, 'SonataUserBundle') %}
        {% endif %}#}

        <li class="user-header {{ _bg_class }}">
            {% if _user_image %}
                <img src="{{ _user_image }}" class="img-circle" alt="Avatar" />
            {% endif %}
            <p>{{ app.user }}</p>
        </li>

{#
    Uncomment to add some information
        <li class="user-body">

        </li>
#}

        <li class="user-footer">
	    {% if _profile_uri is defined %}
            <div class="pull-left">
                <a href="{{ _profile_uri }}" class="btn btn-default btn-flat"><i class="fa fa-user"></i> {{ _profile_text }}</a>
            </div>
	    {% endif %}

            <div class="pull-right">
                <a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
