@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedRegular";
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.eot");
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.woff") format("woff"), url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedBold";
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot");
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff") format("woff"), url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.top-line button, #tab3 .bounty button, #tab4 form button, .dashboard_form button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600; }

#tab2 .withdraw .balance:before, #tab5 ul li .item p:before, #tab5 ul li .item p:after, .dashboard_form .box_qty .box_qty_form .box_qty_form_btn a:before, .dashboard_form .box_select .selectric_wrapper .selectric .button:after {
  content: "";
  position: absolute; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  font-family: "OpenSansRegular";
  min-width: 320px;
  background-color: #f1f1f1;
  font-size: 14px; }

.admin-panel {
  width: 100%;
  background-color: #fff;
  position: relative; }

h1 {
  width: 100%;
  height: 82px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(59, 170, 237, 0.7)), color-stop(100, rgba(93, 61, 193, 0.7))), url("../img/bg_main.png");
  background: -webkit-linear-gradient(left, rgba(59, 170, 237, 0.7) 0, rgba(93, 61, 193, 0.7) 100), url("../img/bg_main.png");
  background: linear-gradient(to right, rgba(59, 170, 237, 0.7) 0, rgba(93, 61, 193, 0.7) 100), url("../img/bg_main.png");
  background-size: auto, auto, cover;
  background-repeat: no-repeat;
  position: relative; }
  h1 img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  h1 .logo_small {
    opacity: 0; }

.slidebar {
  height: 100vh;
  position: fixed;
  width: 15%;
  top: 0;
  bottom: 0; }
  .slidebar .side_logo {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-image: url("../img/aside_sprite.png");
    background-position: 0 0; }
  .slidebar ul {
    position: relative;
    height: 100%;
    list-style-type: none;
    text-align: center;
    color: #02243f; }
    .slidebar ul li {
      text-align: center; }
      .slidebar ul li a {
        color: #02243f;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        text-transform: capitalize;
        padding: 20px; }
        .slidebar ul li a i {
          display: block;
          text-align: center;
          color: #02243f;
          font-size: 30px;
          margin-bottom: 8px; }
      .slidebar ul li:hover a {
        background-color: #02243f;
        color: white; }
      .slidebar ul li:nth-child(2) .side_logo {
        background-position: -71px 0; }
      .slidebar ul li:nth-child(3) .side_logo {
        background-position: -145px 0; }
      .slidebar ul li:nth-child(4) .side_logo {
        background-position: -212px 0; }
      .slidebar ul li:nth-child(5) .side_logo {
        background-position: -275px 0; }
      .slidebar ul li:nth-child(1):hover .side_logo {
        background-position: -343px 0; }
      .slidebar ul li:nth-child(2):hover .side_logo {
        background-position: -416px 0; }
      .slidebar ul li:nth-child(3):hover .side_logo {
        background-position: -490px 0; }
      .slidebar ul li:nth-child(4):hover .side_logo {
        background-position: -556px 0; }
      .slidebar ul li:nth-child(5):hover .side_logo {
        background-position: -619px 0; }

.content {
  float: right;
  width: 85%;
  background-color: #e8e8e8;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh; }

.top-line {
  padding: 20px 50px;
  background-color: #02243f;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-line .user {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-right: 20px; }
  .top-line .amount {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    margin-right: 20px; }
    .top-line .amount .you_have {
      color: #517396; }
  .top-line button {
    background: none;
    font: normal 16px "OpenSansRegular";
    background: url("../img/register.png") no-repeat right;
    padding: 10px 31px 10px 0;
    margin-right: 60px; }

.language-select {
  position: absolute;
  right: 50px;
  top: 25px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px; }
  .language-select.open {
    height: auto;
    background-color: #fff; }
    .language-select.open li {
      color: #02243f; }
      .language-select.open li i {
        color: #02243f; }
  .language-select li {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 5px;
    min-height: 30px; }
    .language-select li:hover {
      cursor: pointer; }
    .language-select li.active {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      pointer-events: none; }
      .language-select li.active i {
        opacity: 1; }
    .language-select li i {
      line-height: 0.9;
      padding-left: 5px;
      opacity: 0;
      font-size: 22px; }

.main {
  margin: 30px 30px 40px;
  padding-bottom: 20px; }
  .main h2 {
    color: #02243f;
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px; }
  .main h3, .main caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #757575; }

.alert {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000; }

.alert-danger {
  border-bottom: 2px solid #F54C21; }
  .alert-danger i {
    color: #F54C21; }

.alert-success {
  border-bottom: 2px solid #0D8278; }
  .alert-success i {
    color: #0D8278; }

.alert-info {
  border-bottom: 2px solid #58A9B0; }
  .alert-info i {
    color: #58A9B0; }

.key {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  display: none; }
  .key label {
    font-size: 18px;
    font-weight: bold;
    color: #757575; }
  .key input {
    margin-left: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #02243f; }

.transaction, .bounty_table {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff; }
  .transaction table, .bounty_table table {
    width: 100%;
    border-collapse: collapse; }
    .transaction table caption, .bounty_table table caption {
      margin-bottom: 20px;
      text-align: left; }
    .transaction table th, .transaction table td, .bounty_table table th, .bounty_table table td {
      padding: 10px;
      text-align: center; }
    .transaction table th, .bounty_table table th {
      border: 1px solid #02243f; }
    .transaction table td, .bounty_table table td {
      border: 1px solid #cdcdcd; }
      .transaction table td:before, .bounty_table table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: none; }

.statistics {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff; }
  .statistics .counters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    .statistics .counters .counter {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 20px;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .statistics .counters .counter .number {
        font-size: 28px;
        margin-bottom: 10px;
        color: #757575; }
      .statistics .counters .counter .fa-3x {
        color: #02243f;
        width: 100%;
        margin-bottom: 10px; }
      .statistics .counters .counter .title {
        font-size: 16px;
        font-weight: normal;
        color: #757575; }

.settings_container {
  position: relative; }
  .settings_container input[id^="set"], .settings_container section {
    clear: both;
    padding-top: 10px;
    display: none; }
  .settings_container label.set {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 33.33%;
    padding: 15px;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    line-height: 2; }
  .settings_container .settings-content p, .settings_container .settings-content h3, .settings_container .settings-content form {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
            animation: fadeInScale 0.7s ease-in-out; }
  .settings_container .settings-content h3 {
    text-align: center; }
  .settings_container [id^="set"]:checked + label {
    background: #fff;
    -webkit-box-shadow: inset 0 3px #02243f;
            box-shadow: inset 0 3px #02243f; }
  .settings_container .fa {
    color: #02243f;
    font-size: 30px;
    margin: 0 0.4em 0 0; }

#set1:checked ~ #content1, #set2:checked ~ #content2, #set3:checked ~ #content3, #set4:checked ~ #content4 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0; }

#tab2 .withdraw {
  background-color: #fff;
  padding: 20px; }
  #tab2 .withdraw .balance {
    background-color: #02243f;
    color: white;
    font: bold 16px "OpenSansRegular";
    padding: 15px 0 15px 35px;
    position: relative; }
    #tab2 .withdraw .balance:before {
      background-color: #02243f;
      left: 20px;
      top: 10px;
      width: 2px;
      height: 30px; }
  #tab2 .withdraw .wrap_form {
    background-color: #F3F2F4;
    padding: 20px  0 20px 20px; }
    #tab2 .withdraw .wrap_form form {
      margin-top: 8px;
      position: relative;
      padding-left: 20px;
      border-left: 2px solid #02243f;
      margin-bottom: 20px; }
      #tab2 .withdraw .wrap_form form input {
        height: 40px;
        padding-left: 10px;
        font-size: 18px;
        color: #A8A8A8;
        border: none;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        margin-bottom: 10px;
        outline: none; }
        #tab2 .withdraw .wrap_form form input#transaction {
          cursor: not-allowed; }
      #tab2 .withdraw .wrap_form form .amount input {
        -webkit-border-top-right-radius: 0;
                border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
                border-bottom-right-radius: 0; }
      #tab2 .withdraw .wrap_form form .amount span {
        text-transform: uppercase;
        background-color: #fff;
        color: #A8A8A8;
        padding: 10.5px;
        -webkit-border-top-right-radius: 10px;
                border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px; }
      #tab2 .withdraw .wrap_form form label {
        margin: 10px 0;
        font: 16px "OpenSansRegular";
        margin-right: 10px;
        position: relative; }
  #tab2 .withdraw p {
    font-size: 14px; }
    #tab2 .withdraw p i {
      color: #02243f;
      font-size: 18px; }

#tab3 .bounty {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center; }
  #tab3 .bounty input {
    padding: 10px;
    outline: none;
    border: 1px solid #02243f;
    min-width: 200px; }
  #tab3 .bounty button {
    padding: 9px;
    background-color: #02243f;
    font-size: 16px;
    margin-left: 10px; }

#tab4 form {
  max-width: 500px;
  margin: 0 auto; }
  #tab4 form .field-wrap {
    position: relative;
    margin-bottom: 10px; }
    #tab4 form .field-wrap input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: 2px solid #ddd;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      outline: 0; }
      #tab4 form .field-wrap input + label[data-placeholder] {
        pointer-events: none; }
        #tab4 form .field-wrap input + label[data-placeholder]:after {
          content: attr(data-placeholder);
          display: block;
          position: absolute;
          top: 50%;
          left: 0.5rem;
          -webkit-transform: translate(0%, -50%);
              -ms-transform: translate(0%, -50%);
                  transform: translate(0%, -50%);
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          padding: 0 0.25rem;
          background-color: rgba(255, 255, 255, 0); }
      #tab4 form .field-wrap input:focus, #tab4 form .field-wrap input:valid {
        border: 2px solid #02243f; }
        #tab4 form .field-wrap input:focus + label[data-placeholder]:after, #tab4 form .field-wrap input:valid + label[data-placeholder]:after {
          -webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
              -ms-transform: translate(-5%, -150%) scale(0.9, 0.9);
                  transform: translate(-5%, -150%) scale(0.9, 0.9);
          color: #02243f;
          background-color: white; }
  #tab4 form button {
    background-color: #02243f;
    padding: 10px;
    font-size: 18px;
    line-height: 1;
    float: right;
    text-transform: none;
    margin-top: 10px; }

#tab5 ul {
  list-style-type: none;
  background-color: #fff;
  padding: 20px; }
  #tab5 ul li .item {
    padding-left: 25px;
    cursor: pointer;
    position: relative; }
    #tab5 ul li .item p {
      font: 16px "OpenSansRegular";
      padding: 5px 10px; }
      #tab5 ul li .item p:before, #tab5 ul li .item p:after {
        left: 7px;
        top: 50%;
        height: 2px;
        width: 12px;
        background: #000;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      #tab5 ul li .item p:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        left: 15px; }
      #tab5 ul li .item p:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    #tab5 ul li .item.active p:before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    #tab5 ul li .item.active p:after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  #tab5 ul li .hint {
    display: none;
    padding-left: 25px;
    margin-bottom: 15px; }
    #tab5 ul li .hint p {
      padding: 0 10px;
      color: #646464; }

.calc {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px; }

.dashboard_form {
  padding: 20px 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: bold 22px "RobotoCondensedRegular";
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .dashboard_form .box_qty {
    width: 190px;
    height: 70px;
    border: 1px solid #02243f;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 20px; }
    .dashboard_form .box_qty .box_qty_form {
      width: 190px;
      height: 70px; }
      .dashboard_form .box_qty .box_qty_form .box_qty_form_input {
        width: 155px;
        float: left;
        height: 68px;
        background: #fff;
        border: none;
        outline: none;
        font-size: 28px;
        padding: 0 15px;
        font-weight: bold;
        font-family: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .dashboard_form .box_qty .box_qty_form .box_qty_form_btn {
        float: left;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .dashboard_form .box_qty .box_qty_form .box_qty_form_btn a {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          display: block;
          width: 33px;
          height: 35px;
          text-align: center;
          position: relative;
          background: #f2f2f2; }
          .dashboard_form .box_qty .box_qty_form .box_qty_form_btn a:before {
            display: block;
            top: 50%;
            left: 49%;
            width: 13px;
            height: 9px;
            margin-left: -6px;
            background: url("../img/form_up.png") no-repeat; }
        .dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_up:before {
          margin-top: -3px; }
        .dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_down {
          height: 32.5px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          background-color: #e3e5e5; }
          .dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_down:before {
            margin-top: -1px;
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
  .dashboard_form p {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 12px;
    font-family: "OpenSansRegular"; }
  .dashboard_form .amount {
    margin-left: 20px;
    width: 190px;
    height: 70px;
    z-index: 10; }
    .dashboard_form .amount .amount_wrap {
      height: 70px; }
    .dashboard_form .amount input {
      width: 190px;
      float: left;
      height: 68px;
      background: #fff;
      border: 1px solid #02243f;
      outline: none;
      font-size: 28px;
      padding: 0 0 0 15px;
      font-weight: bold;
      font-family: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .dashboard_form .box_select {
    margin-left: 20px;
    width: 190px;
    height: 70px;
    z-index: 10; }
    .dashboard_form .box_select .selectric_wrapper {
      position: relative;
      cursor: pointer; }
      .dashboard_form .box_select .selectric_wrapper .selectric_hide_select {
        position: relative;
        width: 0;
        height: 0; }
        .dashboard_form .box_select .selectric_wrapper .selectric_hide_select select {
          position: absolute;
          left: -100%; }
      .dashboard_form .box_select .selectric_wrapper .selectric {
        background: #fff;
        position: relative;
        height: 70px;
        border: 1px solid #02243f;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .dashboard_form .box_select .selectric_wrapper .selectric input {
          width: 185px;
          float: left;
          height: 68px;
          background: #fff;
          border: none;
          outline: none;
          font-size: 28px;
          padding: 0 0 0 15px;
          font-weight: bold;
          font-family: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        .dashboard_form .box_select .selectric_wrapper .selectric .label {
          padding-left: 20px; }
        .dashboard_form .box_select .selectric_wrapper .selectric .button {
          position: absolute;
          right: 0;
          top: 0;
          width: 42px;
          text-indent: -9999px; }
          .dashboard_form .box_select .selectric_wrapper .selectric .button:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 12px;
            height: 7px;
            background: url("../img/form_up.png");
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
        .dashboard_form .box_select .selectric_wrapper .selectric .button, .dashboard_form .box_select .selectric_wrapper .selectric .label {
          height: 70px;
          line-height: 70px;
          display: block; }
      .dashboard_form .box_select .selectric_wrapper .selectric_items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        outline: none; }
        .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll {
          height: 100%; }
          .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li, .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            min-height: 20px;
            font-weight: 700; }
          .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li {
            display: block;
            padding: 10px 20px;
            color: #000;
            cursor: pointer;
            border: 1px solid #02243f;
            border-top: none; }
            .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li:hover {
              background: #dde2e3; }
      .dashboard_form .box_select .selectric_wrapper .selectric_input {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 1px !important;
        height: 1px !important;
        outline: 0 !important;
        border: none !important;
        background: 0 0 !important; }
  .dashboard_form .total_money {
    width: 140px;
    height: 70px;
    margin-left: 20px; }
    .dashboard_form .total_money .total_money_box {
      width: 100%;
      height: 70px;
      font-size: 22px;
      font-weight: 700;
      color: #39d9b6;
      text-align: center;
      padding: 0 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 65px;
      background: #fff;
      position: relative;
      border: 2px solid #39d9b6;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block; }
  .dashboard_form button {
    width: 160px;
    margin-left: 20px;
    height: 70px;
    font: bold 22px "OpenSansRegular";
    text-align: center;
    background-color: #02243f;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 5px; }

footer {
  position: absolute;
  left: 0px;
  bottom: 17px;
  padding: 20px 30px;
  width: 100%; }
  footer a {
    float: left;
    text-decoration: underline; }
  footer p {
    float: right; }

@media only screen and (max-width: 900px) {
  label span {
    display: none; }
  .settings_container {
    width: 98%; } }

@-webkit-keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@media only screen and (max-width: 1200px) {
  h1 img {
    width: 80%; }
  .dashboard_form {
    padding: 40px 13px 50px 13px; }
    .dashboard_form .amount {
      margin-bottom: 50px; }
    .dashboard_form button {
      width: 190px; } }

@media only screen and (max-width: 992px) {
  .logo_main {
    width: 110px; }
  .main {
    margin: 30px 20px 40px; }
  .transaction table th, .transaction table td {
    padding: 10px 5px; } }

@media only screen and (max-width: 768px) {
  h1 {
    height: 94px; }
    h1 .logo_main {
      display: none; }
    h1 img {
      width: 50%; }
    h1 .logo_large {
      opacity: 0; }
    h1 .logo_small {
      opacity: 1; }
    h1 .logo_mini {
      display: block;
      padding: 19.5px 5px;
      width: 70px; }
  .slidebar ul li a {
    padding: 15px 0; }
    .slidebar ul li a i {
      margin-bottom: 0; }
    .slidebar ul li a span {
      display: none; }
  .top-line {
    padding: 10px 20px; }
    .top-line .amount {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      width: 100%;
      padding-top: 0; }
  .language-select {
    right: 22px;
    top: 15px; }
  .dashboard_form .box_select, .dashboard_form .box_qty {
    margin-bottom: 50px; }
  .dashboard_form .box_select, .dashboard_form .box_qty, .dashboard_form .amount, .dashboard_form button {
    margin-left: 0; }
  .transaction table {
    width: auto;
    margin: 0 auto; }
    .transaction table td {
      display: block;
      text-align: left;
      border-color: #02243f;
      border-top: none; }
      .transaction table td:first-child {
        border-top: 1px solid #02243f; }
      .transaction table td:before {
        display: inline-block; }
    .transaction table th {
      display: none; }
    .transaction table tr {
      margin-bottom: 20px;
      display: block; }
  .key label {
    margin: 0 0 10px 10px;
    display: inline-block; }
  .statistics .counters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #tab2 .withdraw .balance {
    padding-left: 20px; }
    #tab2 .withdraw .balance:before {
      left: 10px; }
  #tab2 .withdraw .wrap_form {
    padding-left: 10px; }
    #tab2 .withdraw .wrap_form form {
      padding-left: 10px; }
      #tab2 .withdraw .wrap_form form label {
        display: block; } }

@media only screen and (max-width: 480px) {
  h1 img {
    width: 75%; }
  .slidebar {
    width: 20%;
    min-width: 64px; }
    .slidebar ul li a {
      padding: 20px 0; }
  .content {
    width: 80%; }
    .content .main {
      margin: 20px 10px 70px; }
      .content .main h2 {
        margin-bottom: 20px;
        font-size: 20px; }
  .top-line button {
    height: 38px; }
    .top-line button span {
      display: none; }
  .top-line .language-select {
    right: 15px; }
  .bounty_table table {
    width: auto;
    margin: 0 auto; }
    .bounty_table table td {
      display: block;
      text-align: left;
      border-color: #02243f;
      border-top: none; }
      .bounty_table table td:first-child {
        border-top: 1px solid #02243f; }
      .bounty_table table td:before {
        display: inline-block; }
    .bounty_table table th {
      display: none; }
    .bounty_table table tr {
      margin-bottom: 20px;
      display: block; }
  #tab2 .withdraw {
    padding: 10px; }
    #tab2 .withdraw .wrap_form form input {
      width: 180px; }
    #tab2 .withdraw .wrap_form form .amount input {
      width: 140px; }
  #tab3 .bounty input {
    display: block;
    margin: 0 auto 10px; }
  #tab4 form button {
    float: none;
    margin: 10px auto 0;
    display: block; }
  #tab5 ul {
    padding: 10px; }
    #tab5 ul li.hint {
      padding: 25px 20px; }
  footer {
    padding: 20px 10px;
    text-align: center;
    bottom: 0; }
    footer a, footer p {
      float: none;
      display: block; }
    footer a {
      margin-bottom: 10px; } }
