@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedRegular";
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.eot");
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.woff") format("woff"), url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedBold";
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot");
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff") format("woff"), url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600; }

.icon:after {
  content: "";
  position: absolute; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  font-family: "RalewayRegular";
  min-width: 320px;
  overflow: hidden; }

.large-header {
  background: #000 url("../img/header_fon.jpg") center;
  position: relative;
  background-size: cover;
  text-align: center;
  height: 100vh; }
  .large-header h1 {
    width: 250px;
    margin: 0 auto;
    z-index: 10;
    padding-top: 10%;
    position: relative; }
    .large-header h1 img {
      width: 100%; }
  .large-header canvas {
    position: absolute;
    left: 0;
    top: 0; }

.error {
  border: 1px solid #F54C21;
  margin-bottom: 25px;
  color: #fff;
  text-align: left;
  padding: 5px 13px;
  font-weight: normal;
  font-size: 14px;
  display: none; }

a {
  color: #5cb1e3;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.form {
  background: white;
  padding: 40px;
  max-width: 400px;
  margin: 30px auto;
  position: relative;
  z-index: 5000;
  margin-top: 5%;
  padding-top: 65px; }

.tab-group {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none; }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(59, 170, 237, 0.25)), color-stop(100, rgba(93, 61, 193, 0.25)));
    background: -webkit-linear-gradient(left, rgba(59, 170, 237, 0.25) 0, rgba(93, 61, 193, 0.25) 100);
    background: linear-gradient(to right, rgba(59, 170, 237, 0.25) 0, rgba(93, 61, 193, 0.25) 100);
    color: black;
    font-size: 16px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease; }
    .tab-group li a:hover {
      background: -webkit-gradient(linear, left top, right top, color-stop(0, #3baaed), color-stop(100, #5d3dc1));
      background: -webkit-linear-gradient(left, #3baaed 0, #5d3dc1 100);
      background: linear-gradient(to right, #3baaed 0, #5d3dc1 100);
      color: #fff; }
  .tab-group .active a {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #3baaed), color-stop(100, #5d3dc1));
    background: -webkit-linear-gradient(left, #3baaed 0, #5d3dc1 100);
    background: linear-gradient(to right, #3baaed 0, #5d3dc1 100);
    color: #fff; }

.tab-content > div:last-child {
  display: none; }

h2 {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 0 0 25px; }

label {
  position: absolute;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(88, 102, 107, 0.6);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  font-size: 14px;
  font-family: "RalewayRegular"; }
  label .req {
    margin: 2px;
    color: #5cb1e3; }

label.active {
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  left: 2px;
  font-size: 12px;
  top: -128%; }
  label.active .req {
    opacity: 0; }

label.highlight {
  color: #fff; }

input {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #c9c9c9;
  color: #58666b;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
  letter-spacing: 1px; }
  input:focus {
    outline: 0;
    border-color: #5cb1e3; }

.field-wrap {
  position: relative;
  margin-bottom: 25px; }

.button {
  padding: 12px 0;
  font-size: 24px;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #3baaed), color-stop(100, #5d3dc1));
  background: -webkit-linear-gradient(left, #3baaed 0, #5d3dc1 100);
  background: linear-gradient(to right, #3baaed 0, #5d3dc1 100);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  font-family: "DINPro-CondensedBold"; }

.button-block {
  display: block;
  width: 100%; }

.icon {
  border: #c9c9c9 solid 1px;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  vertical-align: bottom;
  width: 20px; }
  .icon:after {
    background: #5cb1e3;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0; }

.check {
  position: relative;
  height: 22px;
  opacity: 0;
  top: 4px; }

.terms {
  position: absolute;
  left: 0;
  top: 0; }
  .terms + a {
    font-size: 14px;
    position: absolute;
    top: -6px;
    left: 150px; }

.check:checked + label .icon:after {
  opacity: 1; }

.forgot {
  margin-top: -10px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 12px; }

.star {
  display: block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
  top: 50%;
  left: 30%;
  position: relative;
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-animation: star-ani 5s 4s infinite ease-out;
          animation: star-ani 5s 4s infinite ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  opacity: 0; }
  .star:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    border: 2px solid #F00;
    border-width: 2px 150px 2px 150px;
    border-color: transparent transparent transparent #FFF;
    -webkit-transform: rotate(-45deg) translate3d(1px, -1px, 0);
            transform: rotate(-45deg) translate3d(1px, -1px, 0);
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-animation: shooting-ani 1.5s infinite  ease-out;
            animation: shooting-ani 1.5s infinite  ease-out;
    -webkit-animation-direction: normal;
            animation-direction: normal; }

.blue {
  top: 10%;
  left: 70%;
  background: #4dabff;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }
  .blue:after {
    border-color: transparent transparent transparent #4dabff;
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }

@-webkit-keyframes shooting-ani {
  0% { }
  50% {
    -webkit-transform: scale(1) rotate(-45deg) translate(0px, 0px);
            transform: scale(1) rotate(-45deg) translate(0px, 0px); }
  100% {
    -webkit-transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
            transform: scale(0.5) rotate(-45deg) translate(0px, -1px); } }

@keyframes shooting-ani {
  0% { }
  50% {
    -webkit-transform: scale(1) rotate(-45deg) translate(0px, 0px);
            transform: scale(1) rotate(-45deg) translate(0px, 0px); }
  100% {
    -webkit-transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
            transform: scale(0.5) rotate(-45deg) translate(0px, -1px); } }

@-webkit-keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(-100px, 100px, 0);
            transform: scale(1) rotate(0) translate3d(-100px, 100px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
            transform: scale(1) rotate(0) translate3d(-200px, 200px, 0); } }

@keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(-100px, 100px, 0);
            transform: scale(1) rotate(0) translate3d(-100px, 100px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
            transform: scale(1) rotate(0) translate3d(-200px, 200px, 0); } }
