{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Bounty{% endblock title %}

{% block body %}
    <div id="tab3" class="tab">
	<h2 class="header">{{ 'bounty.title'|trans({}, 'account') }}</h2>
	{{ include('AppBundle::form_errors.html.twig') }}
	{{ include('AppBundle::form_warning.html.twig') }}
	{{ include('AppBundle::form_success.html.twig') }}
	<div class="text_bounty">
		<div class="left">
			<p>{{ 'bounty.left'|trans({}, 'account')|raw  }}</p>
			<ol>
				<li>{{ 'bounty.left2'|trans({}, 'account')|raw  }}.</li>
				<li>{{ 'bounty.left3'|trans({}, 'account')|raw  }}</li><br>
			</ol>
	</div>
		<ul>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right0h'|trans({}, 'account') }}">{{ 'bounty.right0'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right1h'|trans({}, 'account') }}">{{ 'bounty.right1'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right2h'|trans({}, 'account') }}">{{ 'bounty.right2'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right3h'|trans({}, 'account') }}">{{ 'bounty.right3'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right4h'|trans({}, 'account') }}">{{ 'bounty.right4'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right5h'|trans({}, 'account') }}">{{ 'bounty.right5'|trans({}, 'account')|raw  }}</a></li>
			<li><a href="https://goo.gl/forms/{{ 'bounty.right6h'|trans({}, 'account') }}">{{ 'bounty.right6'|trans({}, 'account')|raw  }}</a></li>
                        <li><a href="https://goo.gl/forms/{{ 'bounty.right7h'|trans({}, 'account') }}">{{ 'bounty.right7'|trans({}, 'account')|raw  }}</a></li>
                </ul>


        </div>

        <div class="bounty_buttons">
            {% if referralSystem == true %}
            <div class="get_referral_link_wrapp">
                {% if app.user.referralToken is empty %}
                    {{ form_start(referralForm) }}
                    {{ form_widget(referralForm.userId, {'value':app.user.id}) }}
                    <button id="app_referral" class="bounty_button get_referral_link">{{ 'bounty.referral.button.generate'|trans({}, 'account')|raw }}</button>
                    {{ form_end(referralForm) }}
                {% endif %}
                <div class="text_hint">
                    <p>*{{ 'bounty.hint1'|trans({}, 'account')|raw  }}</p>
                </div>
            </div>

            {% if app.user.referralToken is not null %} 
            <div class="referral_info_outer">
                <div class="referral_info">
                    <div class="referral_link_wrapp">
                        <p id="ref_link" class="referral_link">{{ url('fos_user_registration_register', {'ref': app.user.referralToken}) }}</p>
                         <button id="copy" data-clipboard-text="{{ url('fos_user_registration_register', {'ref': app.user.referralToken}) }}" class="bounty_button copy_refferal_link">{{ 'bounty.copy'|trans({}, 'account')|raw  }}</button> 
                    </div>
                    <div class="referral_link_stats">
	                    <div class="registration_count_wrap">
	                        <p class="registration_count">{{ totalReferals }}</p>
	                        <div class="text_hint_2">{{ 'bounty.reg_count_hint'|trans({}, 'account')|capitalize|raw  }}</div>
	                    </div>

	                    <div class="btr_amount_wrap">
	                        <p class="btr_amount">{{ app.user.getTotalReferralTokens(totalReferals) }}</p>
	                        <div class="text_hint_2">{{ 'bounty.btr_amount_hint'|trans({}, 'account')|raw  }}</div>
	                    </div>
                    </div>

                    <div class="text_hint">
                        <p>*{{ 'bounty.help_text'|trans({'%refbtr%':constant('AppBundle\\Entity\\Users::REFERRAL_RATIO')}, 'account')|raw  }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>


	{#<div class="bounty">
	    {{ form_start(form) }}
	    {{ form_widget(form.link) }}
	    <button>{{ 'bounty.send'|trans({}, 'account') }}</button>
	    {{ form_end(form) }}
	</div>#}
	{% if app.user.bounties is defined and app.user.bounties is not empty %}
	    <div class="bounty_table">
		<table>
		    <caption>{{ 'bounty.your_links'|trans({}, 'account') }}</caption>
		    <thead>
			<tr>
			    <th>{{ 'bounty.link'|trans({}, 'account') }}</th>
			    <th>{{ 'bounty.date'|trans({}, 'account') }}</th>
			</tr>
		    </thead>
		    {% for bounty in app.user.bounties %}
			<tr>
			    <td data-th="Link">{{ bounty.link }}</td>
			    <td data-th="Date">{{ bounty.createdAt|date('Y-m-d H:i:s') }}</td>
			</tr>
		    {% endfor %}
		</table>
	    </div>
	{% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/clipboard.min.js') }}"></script>
    <script>
        var clipboard = new Clipboard('.bounty_button');
    </script>
{% endblock javascripts %}