{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Profile{% endblock title %}

{% block body %}
    <div id="tab4" class="tab">
        <h2 class="header">{{ 'settings.title'|trans({}, 'account') }}</h2>        
        {% if form_errors(formPass.plainPassword.first)!=''%}
            <div class="alert alert-danger">
                <p><i class="fa fa-exclamation"></i> {{ 'form.profile.password.match'|trans({}, 'account')}}</p>
            </div>
        {%endif%}
        {% if form_errors(formPass.current_password)!=''%}
            <div class="alert alert-danger">
                <p><i class="fa fa-exclamation"></i> {{ 'form.profile.password.invalid'|trans({}, 'account') }}</p>
            </div>
        {%endif%}
        {{ include('AppBundle::form_errors.html.twig') }}
	{{ include('AppBundle::form_warning.html.twig') }}
	{{ include('AppBundle::form_success.html.twig') }}
        <div class="settings_container clearfix">
            <input id="set1" type="radio" name="tabs" checked>
            <label for="set1" class="set"><i class="fa fa-id-card-o"></i><span>{{ 'settings.profile'|trans({}, 'account') }}</span></label>

            <input id="set2" type="radio" name="tabs">
            <label for="set2" class="set"><i class="fa fa-key"></i><span>{{ 'settings.security'|trans({}, 'account') }}</span></label>

            {#<input id="set3" type="radio" name="tabs">
            <label for="set3" class="set"><i class="fa fa-unlock-alt"></i><span>{{ 'settings.step_auth'|trans({}, 'account') }}</span></label>
#}
            <section id="content1" class="settings-content">
                <h3>{{ 'settings.your_profile'|trans({}, 'account') }}</h3>
                {{ form_start(form, {'method': 'post', 'action': path('profile'), 'attr': { 'class': 'clearfix' } }) }}
                    <div class="field-wrap">
                        {{ form_widget(form.firstName) }}
                        <label data-placeholder="{{ 'settings.fname'|trans({}, 'account') }}"></label>
                    </div>
                    <div class="field-wrap">
                        {{ form_widget(form.lastName) }}
                        <label data-placeholder="{{ 'settings.lname'|trans({}, 'account') }}"></label>
                    </div>
                    <div class="field-wrap">
                        {{ form_widget(form.email) }}
                        <label data-placeholder="{{ 'settings.email'|trans({}, 'account') }}"></label>
                    </div>
                    {#<div class="field-wrap">
                        {{ form_widget(form.phone, { 'attr': {'class': 'phonefield'} }) }}
                        <label data-placeholder="{{ 'settings.phone'|trans({}, 'account') }}"></label>
                    </div>#}
                    <button>{{ 'settings.save'|trans({}, 'account') }}</button>
                {{ form_end(form) }}
            </section>

            <section id="content2" class="settings-content">
                <h3>Change Password</h3>
               {{ form_start(formPass, {'method': 'post', 'action': path('profile'), 'attr': { 'class': 'clearfix' } }) }}
                    <div class="field-wrap">
                        {{form_widget(formPass.current_password)}}
                        <label data-placeholder="{{ 'settings.old_password'|trans({}, 'account') }}"></label>
                    </div>
                    <div class="field-wrap">
                        {{form_widget(formPass.plainPassword.first)}}
                        <label data-placeholder="{{ 'settings.new_password'|trans({}, 'account') }}"></label>
                    </div>
                    <div class="field-wrap">
                        {{ form_widget(formPass.plainPassword.second )}}
                        <label data-placeholder="{{ 'settings.confirm_password'|trans({}, 'account') }}"></label>
                    </div>
                    <button>{{ 'settings.change_password'|trans({}, 'account') }}</button>
                {{ form_end(formPass) }}
            </section>

            {#<section id="content3" class="settings-content">
                <h3>{{ 'settings.two_step'|trans({}, 'account') }}</h3>
                <form method="POST" action="" class="clearfix">
                    <div class="field-wrap">
                        <input type="tel" name="phone" value="{{app.user.phone}}" required class="phonefield"/>
                        <label data-placeholder="{{ 'settings.phone'|trans({}, 'account') }}"></label>
                    </div>
                    <button>{{ 'settings.get_sms'|trans({}, 'account') }}</button>
            </section>#}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'js/jquery.maskedinput.min.js'
        'js/account.js'
        output='js/compiled/profile.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}