{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'account' %}

{% block title %}Token sale{% endblock title %}

{% import _self as nextPrice %}

{% block head_javascript %}
    {{ include('AppBundle:Landing:js_chart.html.twig') }}
{% endblock head_javascript %}

{% block body %}
    <div id="tab1" class="tab">
	{{ include('AppBundle::form_errors.html.twig') }}
	{{ include('AppBundle::form_warning.html.twig') }}
	{{ include('AppBundle::form_success.html.twig') }}
        <div class="statistics_wrap clearfix">
            <div class="statistics">
                <h2 class="header">{{ 'token.token_title'|trans }}</h2>
                <div class="statistics_content">
                    <p class="header_left">BTR</p>
                    <div class="price_wrap">
{#
                        {% if nextStage != false %}
                            <div class="next">{{ 'token.buy_tokens.price.next_stage'|trans }}<br/><span class="chosen">{{ nextStage.icoRounds[0].price }} $</span></div>
                        {% endif %} #}
                        <div class="current">{{ 'token.buy_tokens.price.current'|trans }} <br/><span class="chosen">{{ roundRate }} $</span></div>
                        <div class="next">{{ 'token.buy_tokens.price.next_stage'|trans }}<br/><span class="chosen">2.78 $</span></div>
                    </div>
                </div>
            </div>
            <div class="calculator_right_block">
                <h2>{{ 'token.buy_tokens.price.chart_title'|trans }}</h2>
                <div class="calculator_content">
                    <div id="chart_tokens"></div>
                </div>
            </div>
        </div>
	<h2 class="header_margined">{{ 'token.buy_tokens.title'|trans }}</h2>
	<p class="point">{{ 'token.buy_tokens.text.item_1'|trans|raw }}</p>
	<p class="point">{{ 'token.buy_tokens.text.item_2'|trans|raw }}</p>
{#        {% if currentStage is not empty %}
	<div class="calc">
	    {{ include('AppBundle:Token:token_calculator.html.twig') }}
        </div>
        {% endif %}#}
	<div class="calc">
	    {{ include('AppBundle:Token:token_calculator.html.twig') }}
        </div>
        <div class="step2"  id="step2">
            <p class="point">{{ 'token.buy_tokens.text.item_3'|trans|raw }}</p>
            <input type="text" class="wallet" id="walletOther" name="wallet" value="{{user.walletETHfrom}}" {%if user.walletETHfrom%}disabled="disabled"{%endif%}>
            <p class="comment" id="step3">* {% if user.walletETHfrom %}{{ 'token.buy_tokens.text.sub_text_item_3_1'|trans|raw }}{% else %}{{ 'token.buy_tokens.text.sub_text_item_3'|trans|raw }}{%endif%}</p>
            <p class="comment" id="step31" style="display:none;">* {% if user.walletETHfrom %}{{ 'token.buy_tokens.text.sub_text_item_3'|trans|raw }}{% else %}{{ 'token.buy_tokens.text.sub_text_item_3'|trans|raw }}{%endif%}</p>
            <div class="buttons_wrap">
                <button id="walletBBtnEdit" {%if user.walletETHfrom %}class="button_active"{%endif%}>{{ 'token.buy_tokens.buttons.edit'|trans|upper }}</button>
                <button id="walletBBtnApprove" {%if user.walletETHfrom is empty%}class="button_active"{%endif%}>{{ 'token.buy_tokens.buttons.save'|trans|upper }}</button>
            </div>
            <p class="point">{{ 'token.buy_tokens.text.item_4'|trans|raw }}</p>
            <input id="walletETH" type="text" class="wallet" name="walletETH" value="{{user.walletETH}}" {%if user.walletETH%}disabled="disabled"{%endif%}>
            {#        <p class="address entered">0xrytA65yFFuhnI64j7ujh6ujKS4FsutjtrgadfKQbthrf</p>#}
            <p class="comment">* {{ 'token.buy_tokens.text.sub_text_item_4'|trans|raw }}</p>
	    <p class="comment">*{{ 'token.buy_tokens.text.sub_text_item_4_1'|trans|raw }}</p>
	    <p class="comment">*{{ 'token.buy_tokens.text.sub_text_item_4_2'|trans|raw }}</p>
            <div class="buttons_wrap">
                <button id="walletBtnEdit" {%if user.walletETH %}class="button_active"{%endif%}>{{ 'token.buy_tokens.buttons.edit'|trans|upper }}</button>
                <button id="walletBtnApprove" {%if user.walletETH is empty%}class="button_active"{%endif%}>{{ 'token.buy_tokens.buttons.save'|trans|upper }}</button>
            </div>

	<p class="check_reminder"><b>{{ 'token.buy_tokens.check_input.text'|trans }}</b></p>
	<div class="accept_field">
		<input type="checkbox" id="check"/>
		<label for="check">{{ 'token.buy_tokens.check_input.confirm'|trans }}</label>
	</div>
	<button id="walletBtn" class="receive_button button_active">{{ 'token.buy_tokens.buttons.receive'|trans|upper }}</button>
        </div>

	<div class="key">
	    <form method="POST" action="">
		<label for="key">Copy this key:</label>
		<input id="key" type="text" name="key" value="key" readonly>
	    </form>
	</div>
	{#<div class="transaction">
	    <h3>Your purchase order (PO) transaction status</h3>
	    <table>
		<!-- <caption>Your purchase order (PO) transaction status</caption>
		<thead>
		    <tr>
			<th>PO Creation time</th>
			<th>To Clitch Presale Wallet</th>
			<th>Purchase Amount</th>
			<th>Currency</th>
			<th>Calculated CLT</th>
			<th>Tx Status</th>
		    </tr>
		</thead>
		<tr>
		    <td data-th="PO Creation time">2017-08-08 08:29:29</td>
		    <td data-th="To Clitch Presale Wallet">123123123123123</td>
		    <td data-th="Purchase Amount">55.00000</td>
		    <td data-th="Currency">Ether</td>
		    <td data-th="Calculated CLT">33786</td>
		    <td data-th="Tx Status">PENDING</td>
		</tr>
		<tr>
		    <td data-th="PO Creation time">2017-08-04 07:55:22</td>
		    <td data-th="To Clitch Presale Wallet"></td>
		    <td data-th="Purchase Amount">0.12000</td>
		    <td data-th="Currency">Bitcoin</td>
		    <td data-th="Calculated CLT">1000</td>
		    <td data-th="Tx Status">CANCELED</td>
		</tr>
		<tr>
		    <td data-th="PO Creation time">2017-08-08 08:29:29</td>
		    <td data-th="To Clitch Presale Wallet">123123123123123</td>
		    <td data-th="Purchase Amount">55.00000</td>
		    <td data-th="Currency">Ether</td>
		    <td data-th="Calculated CLT">33786</td>
		    <td data-th="Tx Status">PENDING</td>
		</tr>
	    </table>
	</div>#}
    <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>  
                <p class="point">{{ 'token.buy_tokens.text.item_5'|trans|raw }}</p>
                <p class="modal_address" id="modalContent">0x456095a509d6D7d93a252171dCF8920eA9E0Ea66</p>{#{{ smartContractAddress }}#}
                <p class="comment">* {{ 'token.buy_tokens.text.sub_text_item_5'|trans|raw }}</p>
                <p class="comment" id="dont_show_on_eth">* {{ 'token.buy_tokens.send_transaction_email'|trans|raw }}</p>
            <p>{{ 'token.buy_tokens.contact_us'|trans|raw }}</p>
{#            <div class="baner">
	    	<div class="left">
		    	<p class="active">{{ 'token.active'|trans({}, 'account')|raw }}</p>
		    	<p class="stay">{{ 'token.stay'|trans({}, 'account')|raw }}</p>
	    	</div>
	    	<div class="right">
	    		<p class="big">{{ 'token.big'|trans({}, 'account')|raw }}</p>
	    		<p class="min">{{ 'token.min'|trans({}, 'account')|raw }}</p>
	    	</div>
	    </div> #}  
            <div class="modal-content-btn">
            	<button id="btnclose">{{ 'token.buy_tokens.buttons.got_it'|trans|raw }}</button>            
            </div>
          </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
		'js/calculator.js'
		output='js/compiled/calc.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script>
// Get the modal
var modal = document.getElementById('myModal');

var btnBy = document.getElementById("myBtn");
var step2 = document.getElementById("step2");

// Get the button that opens the modal
var btn = document.getElementById("walletBtn");
var btnApprove = document.getElementById("walletBtnApprove");
var btnEdit = document.getElementById("walletBtnEdit");

var btnOtherApprove = document.getElementById("walletBBtnApprove");
var btnOtherEdit = document.getElementById("walletBBtnEdit");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var btnclose = document.getElementById("btnclose");
btnBy.onclick = function() {
    $('.step2').slideToggle();
    btnBy.style.display = "none";
    var step2Anchor = $('#step2'),
        step2Top = step2Anchor.offset().top;
    $('body, html').animate({scrollTop: step2Top - 20}, 1500);

    if ($('#walletETH').val().length > 0) {
        $('#walletBtn').css('display','block');
        $('#walletBtn').prop("disabled", false);
    }
}
// When the user clicks the button, open the modal 
btn.onclick = function() {
    var curs = $('.val_in.selected');
    if ($('#check').is(':checked') && !$("#walletBBtnApprove").hasClass('button_active') && !$("#walletBtnApprove").hasClass('button_active')){
        $('.accept_field label').removeClass('error_label');
        $('#walletOther').removeClass('error_border'); 
        $('#walletETH').removeClass('error_border');
    {#if(curs.hasClass('val_btc')){
        $('#modalContent').empty();
        $('#modalContent').text("16w9Wm1CqnirgYNzjVApmWFktvk3DUviaC");
        $('#dont_show_on_eth').removeClass('hide-elem');
    } else if(curs.hasClass('val_ltc')){
        $('#modalContent').empty();
        $('#modalContent').text("LYydoniu6WMixtdRZKcnBnEnxGmVGvcS6Q");
        $('#dont_show_on_eth').removeClass('hide-elem');
    } else if(curs.hasClass('val_eth')){
        $('#modalContent').empty();        
        $('#modalContent').text("{{ smartContractAddress }}");
    } else if(curs.hasClass('val_dash')){

    } else if(curs.hasClass('inusd')){

    } else if(curs.hasClass('val_bch')){
        $('#modalContent').empty();
        $('#modalContent').text("12wHgMDSB4xuXuxVCFY7E3omCTuaMj8CbZ");
        $('#dont_show_on_eth').removeClass('hide-elem');
    }#}
    $('#modalTo').text($('#walletETH').val());
    $('#modalFrom').text($('#walletOther').val());
    modal.style.display = "block"; 
    } else {
        if(!$('#check').is(':checked')){
            $('.accept_field label').addClass('error_label');
        }
        if($("#walletBBtnApprove").hasClass('button_active')){
            $('#walletOther').addClass('error_border');  
        }
        if($("#walletBtnApprove").hasClass('button_active')){
            $('#walletETH').addClass('error_border');  
        }
    }
};
btnEdit.onclick = function() {
    $("#walletBtnApprove").addClass('button_active');
    $("#walletBtnEdit").removeClass('button_active');
    $('#walletETH').prop("disabled", false);
    $('#walletETH').focus();
};
btnOtherEdit.onclick = function() {
    $("#walletBBtnApprove").addClass('button_active');
    $("#walletBBtnEdit").removeClass('button_active');
    $('#walletOther').prop("disabled", false);
    $('#walletOther').focus();
};
btnApprove.onclick = function() {
    if($('#walletETH').val().length > 10){
        if($("#walletBtnApprove").hasClass('button_active')){
            $.post(Routing.generate('save_wallet'), {wallet: $('#walletETH').val()}, function (response) {
                if (response) {
                    $("#walletBtnApprove").removeClass('button_active');
                    $("#walletBtnEdit").addClass('button_active');
                    $('#walletETH').removeClass('error_border');
                    $('#walletBtn').prop("disabled", false);
                    $('#walletBtn').css('display','block');
                    $('#walletETH').prop("disabled", true);
                }
            });
        }
    } else {
       $('#walletETH').addClass('error_border'); 
    }
};
btnOtherApprove.onclick = function() {
    var curs = $('.val_in.selected');
    var walletType;
    if(curs.data('currency') === 'BTC'){
        walletType = curs.data('currency');
    } else if(curs.data('currency') === 'LTC'){
        walletType = curs.data('currency');
    } else if(curs.data('currency') === 'ETH'){
        walletType = 'ETHfrom';   
    } else if(curs.data('currency') === 'BCH'){
        walletType = curs.data('currency');
    }
    if($('#walletOther').val().length >10){
        if($("#walletBBtnApprove").hasClass('button_active')){
            $.post(Routing.generate('save_other_wallet'), {wallet: $('#walletOther').val(), walletType:walletType}, function (response) {
                if (response) {
                    $("#walletBBtnApprove").removeClass('button_active');
                    $('#walletOther').removeClass('error_border');
                    $("#walletBBtnEdit").addClass('button_active');
                    $('#walletOther').prop("disabled", true);
                }
            });
        }
    } else {
        $('#walletOther').addClass('error_border'); 
    }
};
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
};
btnclose.onclick = function() {
    modal.style.display = "none";
};
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};

$(".accept_field label").click(function(){ 
        if (!$('#check').is(':checked')){
            $('.accept_field label').removeClass('error_label');
        } else {
            $('.accept_field label').addClass('error_label');
        }     
    });
</script>
{% endblock javascripts %}

{#Remove it if not need#}
{% macro getNextRoundPrice(rounds, currentPrice) %}
    {% for round in rounds %}
        {% if round.price == currentPrice and rounds|length >= (loop.index0 + 10) %}
            {{ rounds[loop.index0 + 1].price }}
        {% elseif round.price == currentPrice and rounds|length == (loop.index0 + 10) %}
            {{ round.price }}
        {% endif %}
    {% endfor %}
{% endmacro %}
