{% trans_default_domain 'account' %}
<div class="dashboard_form">
    <div class="amount">
        <p class="box_qty_me">{{ 'token.purchased_amount'|trans }}</p>
	<div class="amount_wrap">
	    <input type="tel" name="tokens_amount" id="tokens_amount" data-stage-rate="{{ roundRate }}" value="0" class="box_qty_form_input">
	</div>
    </div>
    <div class="box_select">
        <p>{{ 'token.calculator.choose'|trans|upper }}</p>
	<div class="selectric_wrapper selectric_open">
	    <div class="selectric">
		<span class="label">ETH</span>
		<b class="button">▾</b>
	    </div>
	    <div class="selectric_items" tabindex="-1">
		<div class="selectric_scroll">
                    <ul>
                        {% for curr in currencies %}
                            <li data-index="0" data-currency="{{ curr.currency }}" data-rate="{{ curr.rate }}" class="val_in {% if curr.currency == 'ETH' %}selected highlighted{% endif %}">{{ curr.currency }}</li>
                        {% endfor %}
                    </ul>
		</div>
	    </div>
	    <input class="selectric_input" tabindex="0">
	</div>
    </div>
    <div class="box_qty">
        <p><span class="curs">0 </span> USD = 1 <span class="curs_currency"></span></p>
	<div class="box_qty_form">
	    <input type="text" name="usd_amount" id="usd_amount" value="0" class="box_qty_form_input" placeholder="">
	    <div class="box_qty_form_btn">
		<a href="javascript:void(0)" data-control="plus" class="qty_up box_qty__plus"></a>
		<a href="javascript:void(0)" data-control="minus" class="qty_down box_qty__minus"></a>
	    </div>
	</div>
    </div>
    <button id="myBtn" class="button_active">{{ 'token.purchased_buy'|trans }}</button>
</div>