{% extends "AppBundle::layout.html.twig" %}

{% block title %}Withdraw CLT{% endblock title %}

{% block body %}
    <div id="tab2" class="tab">
	<h2 class="header">Withdraw CLT</h2>
	{{ include('AppBundle::form_errors.html.twig') }}
	{{ include('AppBundle::form_warning.html.twig') }}
	{{ include('AppBundle::form_success.html.twig') }}
	<div class="withdraw">
	    <p class="balance">Your Balance: <span id="spanCLT">0</span> CLT</p>
	    <div class="wrap_form">
		<form method="POST" action="">
		    <div class="address">
			<label for="address">Enter your Ethereum wallet address</label>
			<input id="address" type="text" name="address" value="" placeholder="0x000000000000000">
		    </div>
		    <div class="amount">
			<label for="amount">Amount you want to withdraw</label>
			<input id="amount" type="number" name="amount" value="0.00000"><span>Clt</span>
		    </div>
		    <div class="form_transaction">
			<label for="transaction">Transaction Free in CLT</label>
			<input id="transaction" type="number" name="amount" value="0.00000020369855" disabled>
		    </div>
		</form>
		<p><i class="fa fa-info-circle"></i>  CLT tokens will be available for withdrawal a short period after the token sale closes</p>
	    </div>
	</div>
    </div>
{% endblock body %}