<button class="btn btn-sm btn-success sent_link" data-template-id="{{ object.id }}" type="button">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    {{ 'admin.action.sent'|trans({}, 'admin') }}
</button>