<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bounty Campaign</title>
    {% block stylesheets %}
	    {% stylesheets 
		'css/libs.min.css'
                'css/bounty_ru.css'
		'css/font-awesome.min.css'
		output='css/compiled/bounty_ru.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    {% endstylesheets %}
    {% endblock stylesheets %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<section class="header">
		<p class="header_p_1">БАУНТИ-КАМПАНИЯ</p>
		<h1><a href="index.html" class="logo"><img src="{{asset('img/boosteroid.svg')}}" alt="boosteroid"></a></h1>
		<p class="header_p_2">30 000 000 токенов</p>
		<a href="boosteroid.com">Boosteroid.com</a>
	</section>

	<section class="bounty_program" id="bounty_program">
		<h2>Баунти-кампания</h2>
		<p>Мы планируем поощрить пользователей, которые поддержат информационную кампанию проекта Boosteroid до и во время трех этапов ICO. Для этих целей мы зарезервировали 30 000 000 токенов BTR (3% от общего количества). <br/><br/>Проведение баунти-кампании запланировано на 2017 и 2018 годы. Краудфандинговая программа включает предварительное ICO (Pre-ICO), запланированное с 22 сентября по 29 сентября 2017 года, и основное, которое пройдет в три этапа:</p>
		<ul class="bounty_list_1">
			<li>- с 23 октября по 6 ноября 2017;</li>
			<li>- с 27 ноября по 11 декабря 2017;</li>
			<li>- с 15 января по 15 февраля 2018.</li>
		</ul>
		<p class="company_pt">Условия:</p> 
		<p>Для участия в баунти-кампании Boosteroid необходимо:</p>
			<ul class="bounty_list_2">
				<li>• Зарегистрироваться на сайте <a href="https://boosteroid.com" target="_blank">Boosteroid.com</a></li>
				<li>• Заполнить форму для участия в определенной баунти-кампании.</li>
				<li>• Присоединиться к нашему чату в <a href="https://t.me/boosteroid" target="_blank">Telegram</a></li>
			</ul>
			
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>
			<p>Каждую неделю участники баунти-кампании будут получать определенные задачи, условия которых мы отправим им на электронную почту, в Telegram и личный кабинет.<br/><br/>Список задач, которые выполнили участники программы, один раз в неделю будут проверять наши менеджеры. После подтверждения о выполнении на счет участника в личном кабинете будут начислятся токены в соответствии с установленной суммой награды.<br/><br/>Присоединиться к баунти можно на любом этапе ICO. Участвовать разрешено только с одного профиля - мультиаккаунты оплачиваться не будут. Негативные отзывы о Boosteroid также останутся без вознаграждения. <br/><br/>Токены будут начисляться после каждого этапа ICO.</p>
	</section>


	<section class="companies_categories">
		<h2>Категории кампаний</h2>
		<div class="sign_company">
			<div class="sign_company_top">
				<img src="{{asset('img/bounty_en/with_flag.jpg')}}" alt="">
				<p>Кампания подписей и аватаров на BitcoinTalk <br/>15 000 000 BTR</p>
			</div>
				
			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/Z7ExqFxKJDrYp8902" target="_blank">https://goo.gl/forms/Z7ExqFxKJDrYp8902</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>
				
			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• минимальный ранг участника – Member;</li>
				<li>• за неделю необходимо сделать минимум 14 конструктивных сообщений, в противном случае ставки не начисляются;</li>
				<li>• не будут учитываться следующие сообщения:
					<ul>
						<li class="li_margined">• сделанные в разделах Marketplace, Off-topic, Archival, Marketplace (Altcoins);</li>
						<li class="li_margined">• содержащие менее 100 символов;</li>
						<li class="li_margined">• не несущие полезной информации («привет», «удачи», и т.д.);</li>
					</ul>
				</li>
				<li>• каждый участник кампании должен иметь наш аватар (за исключением участников с рангом Member);</li>
				<li>• участники с отрицательным рейтингом не допускаются;</li>
				<li>• мультиаккаунты запрещены и влекут за собой запрет на участие в нашей кампании;</li>
				<li>• мы оставляем за собой право не рассматривать вашу учетную запись, даже если вы соответствуете предварительным условиям.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul class="sign_company_list">
				<li>• Members - 10 ставок/неделя;</li>
				<li>• Full - 50 ставок/неделя;</li>
				<li>• Senior - 60 ставок/неделя;</li>
				<li>• Hero - 70 ставок/неделя;</li>
				<li>• Legendary - 100 ставок/неделя.</li>
			</ul>
			<p>Ставки будут рассчитываться по следующей формуле:<br/>(общий объем выделенной подписной кампании BTR-токенов / общая сумма всех ставок участников кампании) * доли участников.<br/><br/>Например: (2 000 000/16 000) * 80 = 10 000 BTR</p>
		</div>

		<div class="blogs">
			<div class="blogs_top">
				<img src="{{asset('img/bounty_en/blogs.jpg')}}" alt="">
				<p>Кампания статей и видео<br/>4 000 000 BTR</p>
			</div>

			<p>В кампании публикаций блогов, статей и видео смогут принять участие авторы постов, обзоров и пресс-релизов о проекте Boosteroid. Все видео и блоги/статьи будут разделены на три категории (высокое качество, хорошее качество и нормальное качество)</p>
			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/ICJcUUICksJeuINZ2" target="_blank">https://goo.gl/forms/ICJcUUICksJeuINZ2</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• тексты и видео низкого качества не принимаются;</li>
				<li>• тексты и видео должны содержать оригинальные контент: копирование других работ не допускается;</li>
				<li>• допускается использование изображений, произведений искусства, а также контента, размещенного на нашем сайте;</li>
				<li>• в описании к видео необходимо разместить ссылку на официальный сайт Boosteroid и на наш профиль Bitcoin Talk;</li>
				<li>• продолжительность видео —1:30 минут, ролики с меньшей продолжительностью будут отклонены;</li>
				<li>• статья должна содержать ссылку на официальный сайт Boosteroid и White Paper, а также ссылку на BitcoinTalk в завершающей части или комментариях;</li>
				<li>• статьи должны превышать 1000 символов, тексты с меньшим количеством символов не будут учитываться;</li>
				<li>• авторы статей, размещенных на тематическом сайте, подкасте или блоге с качественным контентом, будут получать дополнительные награды в соответствии с трафиком.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul>
				<li>• высокое качество: 300 BTR;</li>
				<li>• хорошее качество: 50 BTR;</li>
				<li>• нормальное качество: 10 BTR.</li>
			</ul>
			<p><br/>Авторы статей на китайском, английском, корейском и японском языках, размещенных на новостных сайтах, популярных блогах и ресурсах, связанных с криптовалютой, получат дополнительные награды в соответствии с трафиком.</p>
		</div>

		<div class="transfers">
			<div class="transfers_top">
				<img src="{{asset('img/bounty_en/transfers.jpg')}}" alt="">
				<p>Переводы и управление сообществом<br/>2 000 000 BTR</p>
			</div>
			<p>Переводчик должен модерировать свои темы на форуме BitcoinTalk, постоянно актуализируя их анонсами и новостями. В противном случае он будет исключен из баунти-кампании или его вознаграждение уменьшится на 50%. Активное модерирование будет поощряться дополнительными наградами.</p>
			
			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/4uYJq4ZMMB2BL5Oj2" target="_blank">https://goo.gl/forms/4uYJq4ZMMB2BL5Oj2</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• перевод должен быть высокого качества - выполнять задачу с помощью автоматических переводчиков запрещено;</li>
				<li>• перевод должен быть завершен до 1 ноября;</li>
				<li>• возможно забронировать перевод, заполнив Google форму; в случае невыполнения задания в течение четырех дней бронирование аннулируется (за исключением переводов White Paper, которые необходимо выполнить в течение семи дней);</li>
				<li>• модерирование должно вестись ежедневно.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul>
				<li>• 1 объявление нити Bitcoin Talk = 50 BTR;</li>
				<li>• 1 перевод White Paper = 500 BTR;</li>
				<li>• модерация/управление = 100 BTR/неделя.</li>
			</ul>
		</div>

		<div class="twitter">
			<div class="twitter_top">
				<img src="{{asset('img/bounty_en/twitter.jpg')}}" alt="">
				<p>Twitter-кампания<br/>3 000 000 BTR</p>
			</div>

			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/p5bJkgwNMTF0mvnp2" target="_blank">https://goo.gl/forms/p5bJkgwNMTF0mvnp2</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• необходимо подписаться на наш аккаунт в Twitter;</li>
				<li>• к участию допускаются только аккаунты с более чем 500 подписчиками;</li>
				<li>• мы оставляем за собой право не рассматривать вашу учетную запись, даже если вы соответствуете предварительным условиям.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul>
				<li>• Подписка - 1 BTR;</li>
				<li>• Ретвит - 2 BTR;</li>
				<li>• Лайк - 1 BTR.</li>
			</ul>
		</div>

		<div class="facebook">
			<div class="facebook_top">
				<img src="{{asset('img/bounty_en/facebook.jpg')}}" alt="">
				<p>Кампания в Facebook<br/>3 000 000 BTR</p>
			</div>

			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/m43F3W" target="_blank">https://goo.gl/m43F3W</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>необходимо подписаться на нашу официальную страницу в Facebook;</li>
				<li>к участию допускаются аккаунты с более чем 100 друзьями;</li>
				<li> мы оставляем за собой право не рассматривать вашу учетную запись, даже если вы соответствуете предварительным условиям.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul class="extra_bounty">
				<li>
					100 - 300 друзей/подписчиков
					<ul>
						<li>• Подписка - 1 BTR;</li>
						<li>• Репост - 1 BTR;</li>
						<li>• Лайк - 0,5 BTR.</li>
					</ul>
				</li>
				<li>
					301 - 600 друзей/подписчиков
					<ul>
						<li>• Подписка - 1,5 BTR;</li>
						<li>• Репост - 1,5 BTR;</li>
						<li>• Лайк - 1 BTR.</li>
					</ul>
				</li>
				<li>
					601 - 1000 друзей/подписчиков
					<ul>
						<li>• Подписка - 2 BTR;</li>
						<li>• Репост - 2 BTR;</li>
						<li>• Лайк - 1,5 BTR.</li>
					</ul>
				</li>
				<li>
					1001 - 1500 друзей/подписчиков
					<ul>
						<li>• Подписка - 3 BTR;</li>
						<li>• Репост - 2,5 BTR;</li>
						<li>• Лайк - 2 BTR.</li>
					</ul>
				</li>
				<li>
					1501 - 2500 друзей/подписчиков
					<ul>
						<li>• Подписка - 4 BTR;</li>
						<li>• Репост - 3 BTR;</li>
						<li>• Лайк - 2,5 BTR.</li>
					</ul>
				</li>
				<li>
					2501 - 5000 друзей/подписчиков
					<ul>
						<li>• Подписка - 6 BTR;</li>
						<li>• Репост -5 BTR;</li>
						<li>• Лайк - 3 BTR.</li>
					</ul>
				</li>
				<li>
					5001 + друзей/подписчиков
					<ul>
						<li>• Подписка - 8 BTR;</li>
						<li>• Репост - 7 BTR;</li>
						<li>• Лайк - 4 BTR.</li>
					</ul>
				</li>
			</ul>
		</div>			

		<div class="youtube">
			<div class="youtube_top">
				<img src="{{ asset('img/bounty_en/youtube.jpg')}}" alt="">
				<p>Кампания в YouTube<br/>1 000 000 BTR</p>
			</div>

			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/aTl1ysvN56848sxq2" target="_blank">https://goo.gl/forms/aTl1ysvN56848sxq2</a></p>
			<p>Подписаться: <a href="https://goo.gl/9AHoi4" target="_blank">https://goo.gl/9AHoi4</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• необходимо зарегистрироваться, записать и выложить видео о Boosteroid на свой канал в YouTube;</li>
				<li>• следует добавить в описание к видео ссылки на сайт;</li>
				<li>• участники, не соблюдающие правила, будут дисквалифицированы.</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul>
				<li>• 50 - 200 просмотров в первые 14 дней – 5 BTR;</li>
				<li>• 201 - 500 просмотров в первые 14 дней – 10 BTR;</li>
				<li>• 501 - 1000 просмотров в первые 14 дней – 20 BTR;</li>
				<li>• 1001 - 2000 просмотров в первые 14 дней – 40 BTR;</li>
				<li>• 2001 - 5000 просмотров в первые 14 дней – 100 BTR;</li>
				<li>• 5001 - 10000 просмотров в первые 14 дней – 200 BTR;</li>
				<li>• 10001 - 20000 просмотров в первые 14 дней – 350 BTR;</li>
				<li>• 20001+ просмотров в первые 14 дней – 500 BTR.</li>
			</ul>
		</div>

		<div class="linkedin">
			<div class="linkedin_top">
				<img src="{{ asset('img/bounty_en/linkedin.jpg')}}" alt="">
				<p>Кампания в LinkedIn<br/>1 000 000 BTR</p>
			</div>

			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/xVlJmOl40i2296Gj1" target="_blank">https://goo.gl/forms/xVlJmOl40i2296Gj1</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Условия участия:</p>
			<ul>
				<li>• Подписаться: <a href="https://www.linkedin.com/company/boosteroid" target="_blank">https://www.linkedin.com/company/boosteroid</a>;</li>
			</ul>

			<p class="company_pt">Баунти:</p>
			<ul class="extra_bounty">
				<li>
					100 - 300 друзей
					<ul>
						<li>• Подписка - 1 BTR;</li>
						<li>• Репост - 1 BTR.</li>
					</ul>
				</li>
				<li>
					301 - 600 друзей/подписчиков
					<ul>
						<li>• Подписка - 1,5 BTR;</li>
						<li>• Репост - 1,5 BTR.</li>
					</ul>
				</li>
				<li>
					601 - 1000 друзей/подписчиков
					<ul>
						<li>• Подписка - 2 BTR;</li>
						<li>• Репост - 2 BTR.</li>
					</ul>
				</li>
				<li>
					1001 - 1500 друзей/подписчиков
					<ul>
						<li>• Подписка - 3 BTR;</li>
						<li>• Репост - 2,5 BTR.</li>
					</ul>
				</li>
				<li>
					1501 - 2500 друзей/подписчиков
					<ul>
						<li>• Подписка - 4 BTR;</li>
						<li>• Репост - 3 BTR.</li>
					</ul>
				</li>
				<li>
					2501 -5000 друзей/подписчиков
					<ul>
						<li>• Подписка - 6 BTR;</li>
						<li>• Репост - 5 BTR.</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="telegram">
			<div class="telegram_top">
				<img src="{{ asset('img/bounty_en/telegram.jpg')}}" alt="">
				<p>Кампания в Telegram<br/>1 000 000 BTR</p>
			</div>
			<p>Вы можете подписаться на наш канал в Telegram и получать дополнительные BTR за проявленную активность.</p>

			<p class="company_pt">Как принять участие:</p>
			<p>Заполните форму <a href="https://goo.gl/forms/95fomQi0UkFdqIr23" target="_blank">https://goo.gl/forms/95fomQi0UkFdqIr23</a></p>
			<p>Отслеживать свой прогресс можно здесь: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<ul>
				<li class="telegram_bounty">• Подписка - 3 BTR.</li>
			</ul>
		</div>
	</section>
</body>
</html>