  <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bounty Campaign</title>
    {% block stylesheets %}
	    {% stylesheets 
		'css/libs.min.css'
                'css/bounty_en.css'
		'css/font-awesome.min.css'
		output='css/compiled/bounty.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    {% endstylesheets %}
    {% endblock stylesheets %}
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<section class="header">
		<h1><a href="index.html" class="logo"><img src="{{asset('img/boosteroid.svg')}}" alt="boosteroid"></a></h1>
		<p class="header_p_1">BOUNTY CAMPAIGN</p>
		<p class="header_p_2">30 000 000 tokens</p>
		<a href="boosteroid.com">Boosteroid.com</a>
	</section>

	<section class="bounty_program" id="bounty_program_eng">
		<h2>Bounty campaign</h2>
		<p>We would like to reward users who will support the Boosteroid project promotion campaign before and during hree ICO stages. For this we reserved 30,000,000 BTR tokens (3% of the total number).<br/><br/>Our bounty program is planned for 2017 and 2018. The crowdfunding campaign includes preliminary ICO (Pre-ICO), scheduled from September 22 to September 29, 2017 and the main ICO, which will include three stages: </p>
		<ul class="bounty_list_1">
			<li>- from October 23 to November 6, 2017;</li>
			<li>- from November 27 to December 11, 2017;</li>
			<li>- from January 15 to February 15, 2018.</li>
		</ul>
		<p class="company_pt">Conditions:</p> 
		<p>To take part in our bounty program it is required to:</p>
			<ul class="bounty_list_2">
				<li>• Sign up on <a href="https://boosteroid.com" target="_blank">Boosteroid.com</a> website;</li>
				<li>• Fill in the form to participate in a certain bounty campaign.</li>
				<li>• Join our <a href="https://t.me/boosteroid" target="_blank">Telegram</a> chat;</li>
			</ul>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>
			<p>Bounty program participants will receive certain tasks every week. Their terms will be sent via email, Telegram, to personal account, etc.<br/><br/>The list of tasks fulfilled by participants of the program will be checked once a week by our managers. After the confirmation of accomplishment, the announced reward tokens will be charged to the participant's account. <br/><br/>Participants can join our bounty campaign at any stage of the ICO. You can use only one account to participate - multiple account registrations will not be accepted. Negative feedback about Boosteroid will also not be rewarded.<br/><br/>Bounty campaign participants will receive tokens after each stage of the ICO.</p>
	</section>


	<section class="companies_categories">
		<h2>Categories of campaigns</h2>
		<div class="sign_company">
			<div class="sign_company_top">
				<img src="{{asset('img/bounty_en/with_flag.jpg')}}" alt="">
				<p>BitcoinTalk Avatar and Signature Campaign<br/>15 000 000 BTR</p>
			</div>
				
			<p class="company_pt">BitcoinTalk Avatar and Signature Campaign:</p>
			<p>Fill in the form <a href="https://goo.gl/forms/Z7ExqFxKJDrYp8902" target="_blank">https://goo.gl/forms/Z7ExqFxKJDrYp8902</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>
				
			<p class="company_pt">Conditions of participation:</p>
			<ul>
				<li>• minimum rank of a participant – Member;</li>
				<li>• it is necessary to make a minimum of 14 messages a week, otherwise no bets are charged;</li>
				<li>• the following messages are not counted:
					<ul>
						<li class="li_margined">• posted in these sections - Marketplace; Off-topic; Archival; Marketplace (Altcoins);</li>
						<li class="li_margined">• less than 100 characters;</li>
						<li class="li_margined">• without useful information (“hi”, “good luck”, etc.);</li>
					</ul>
				</li>
				<li>• every participant must have our avatar (except for participants with the rank Member);</li>
				<li>• participants with a negative rating cannot take part;</li>
				<li>• multi-accounts are not allowed and will lead to a ban on participation in our campaign;</li>
				<li>• we reserve the right not to consider your account, even if you correspond to the preconditions.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul class="sign_company_list">
				<li>• Members - 10 stakes/week;</li>
				<li>• Full - 50 stakes/week;</li>
				<li>• Senior - 60 stakes/week;</li>
				<li>• Hero - 70 stakes/week;</li>
				<li>• Legendary - 100 stakes/week.</li>
			</ul>
			<p>The stakes will be calculated using the following formula:<br/>(total amount of BTR tokens for a particular campaign / total amount of all campaign participants' stakes) • stakes of a participant<br/><br/>For eg.: (2 000 000/16 000) * 80 = 10 000 BTR</p>
		</div>

		<div class="blogs">
			<div class="blogs_top">
				<img src="{{asset('img/bounty_en/blogs.jpg')}}" alt="">
				<p>Videos and articles campaign<br/>4 000 000 BTR</p>
			</div>

			<p>Campaign of posting blogs, articles and videos will refer to authors of posts, reviews and press releases about Boosteroid project. All videos and blogs/articles will be divided into three categories (high quality, good quality and standard quality)</p>
			<p class="company_pt">How to take part:</p>
			<p>Fill in the form <a href="https://goo.gl/forms/ICJcUUICksJeuINZ2" target="_blank">https://goo.gl/forms/ICJcUUICksJeuINZ2</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• low quality articles and videos are not accepted;</li>
				<li>• texts and videos must contain original content: copying of other works is not allowed;</li>
				<li>• it is allowed to use images, works of art, and also the content posted on our website;</li>
				<li>• you have to to post a link to the official Boosteroid site and to our Bitcoin Talk profile in the description of the video;</li>
				<li>• video must be 1:30 minute and more, shorter videos will be rejected;</li>
				<li>• an article should contain a link to the official Boosteroid website and Whitepaper, as well as a link to BitcoinTalk in the final part or comments;</li>
				<li>• articles should be more than 1000 characters, texts with fewer characters will not be counted;</li>
				<li>• authors of articles posted on a thematic web sites, podcasts or blogs with a high quality content will receive additional rewards depending on website traffic.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul>
				<li>• high quality: 300 BTR;</li>
				<li>• good quality: 50 BTR;</li>
				<li>• standard quality: 10 BTR.</li>
			</ul>
			<p><br/>Those who write articles in Chinese, English, Korean and Japanese and post them on news websites, popular blogs and media resources connected to cryptocurrency will get additional rewards according to the traffic.</p>
		</div>

		<div class="transfers">
			<div class="transfers_top">
				<img src="{{asset('img/bounty_en/transfers.jpg')}}" alt="">
				<p>Translations and public community management<br/>2 000 000 BTR</p>
			</div>
			<p>A translator must moderate his or her topics on BitcoinTalk forum constantly updating them with previews and news. Otherwise a translator will be excluded from the bounty campaign or his reward will be reduced by 50%. Active content moderation will be encouraged with additional rewards.</p>
			
			<p class="company_pt">How to take part:</p>
			<p>Fill in the form <a href="https://goo.gl/forms/4uYJq4ZMMB2BL5Oj2" target="_blank">https://goo.gl/forms/4uYJq4ZMMB2BL5Oj2</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• translation must be of a high quality - It is forbidden to use automatic translators;</li>
				<li>• translation must be completed before the start of ICO;</li>
				<li>• you can book a translation by filling in the Google form; in case of non-fulfillment of the task within four days, the booking is canceled (except for White Paper translations, that must be completed within seven days);</li>
				<li>• content should be moderated daily.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul>
				<li>• 1 Bitcoin Talk thread = 50 BTR;</li>
				<li>• 1 Whitepaper translation = 500 BTR;</li>
				<li>• Moderation/management = 100 BTR/week.</li>
			</ul>
		</div>

		<div class="twitter">
			<div class="twitter_top">
				<img src="{{asset('img/bounty_en/twitter.jpg')}}" alt="">
				<p>Twitter campaign<br/>3 000 000 BTR</p>
			</div>

			<p class="company_pt">How to take part:</p>
			<p>Fill in this form <a href="https://goo.gl/forms/p5bJkgwNMTF0mvnp2" target="_blank">https://goo.gl/forms/p5bJkgwNMTF0mvnp2</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• subscribe to our Twitter account;</li>
				<li>• participation is allowed only for accounts with more than 500 followers;</li>
				<li>• we reserve the right not to consider your account, even if you correspond to the preconditions.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul>
				<li>• Subscription - 1 BTR;</li>
				<li>• Retweet - 2 BTR;</li>
				<li>• Like - 1 BTR.</li>
			</ul>
		</div>

		<div class="facebook">
			<div class="facebook_top">
				<img src="{{asset('img/bounty_en/facebook.jpg')}}" alt="">
				<p>Facebook campaign<br/>3 000 000 BTR</p>
			</div>

			<p class="company_pt">How to take part:</p>
			<p>Fill in this form <a href="https://goo.gl/m43F3W" target="_blank">https://goo.gl/m43F3W</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• subscribe to our official Facebook page;</li>
				<li>• participation is allowed only for accounts with more than 100 followers;</li>
				<li>• we reserve the right not to consider your account, even if you correspond to the preconditions.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul class="extra_bounty">
				<li>
					100 - 300 friends/followers
					<ul>
						<li>• Subscription - 1 BTR;</li>
						<li>• Repost - 1 BTR;</li>
						<li>• Like - 0,5 BTR.</li>
					</ul>
				</li>
				<li>
					301 - 600 friends/followers
					<ul>
						<li>• Subscription - 1,5 BTR;</li>
						<li>• Repost - 1,5 BTR;</li>
						<li>• Like - 1 BTR.</li>
					</ul>
				</li>
				<li>
					601 - 1000 friends/followers
					<ul>
						<li>• Subscription - 2 BTR;</li>
						<li>• Repost - 2 BTR;</li>
						<li>• Like - 1,5 BTR.</li>
					</ul>
				</li>
				<li>
					1001 - 1500 friends/followers
					<ul>
						<li>• Subscription - 3 BTR;</li>
						<li>• Repost - 2,5 BTR;</li>
						<li>• Like - 2 BTR.</li>
					</ul>
				</li>
				<li>
					1501 - 2500 friends/followers
					<ul>
						<li>• Subscription - 4 BTR;</li>
						<li>• Repost - 3 BTR;</li>
						<li>• Like - 2,5 BTR.</li>
					</ul>
				</li>
				<li>
					2501 - 5000 friends/followers
					<ul>
						<li>• Subscription - 6 BTR;</li>
						<li>• Repost -5 BTR;</li>
						<li>• Like - 3 BTR.</li>
					</ul>
				</li>
				<li>
					5001 + friends/followers
					<ul>
						<li>• Subscription - 8 BTR;</li>
						<li>• Repost - 7 BTR;</li>
						<li>• Like - 4 BTR.</li>
					</ul>
				</li>
			</ul>
		</div>			

		<div class="youtube">
			<div class="youtube_top">
				<img src="{{ asset('img/bounty_en/youtube.jpg')}}" alt="">
				<p>YouTube campaign<br/>1 000 000 BTR</p>
			</div>

			<p class="company_pt">How to take part:</p>
			<p>Fill in this form <a href="https://goo.gl/forms/aTl1ysvN56848sxq2" target="_blank">https://goo.gl/forms/aTl1ysvN56848sxq2</a></p>
			<p>Subscribe to: <a href="https://goo.gl/9AHoi4" target="_blank">https://goo.gl/9AHoi4</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• you have to sign up, record and post a video about Boosteroid on your YouTube channel;</li>
				<li>• links to our website should be added to a video description;</li>
				<li>• participants who do not follow the rules will not be accepted.</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul>
				<li>• 50 - 200 views in the first 14 days – 5 BTR;</li>
				<li>• 201 - 500 views in the first 14 days – 10 BTR;</li>
				<li>• 501 - 1000 views in the first 14 days – 20 BTR;</li>
				<li>• 1001 - 2000 views in the first 14 days – 40 BTR;</li>
				<li>• 2001 - 5000 views in the first 14 days – 100 BTR;</li>
				<li>• 5001 - 10000 views in the first 14 days – 200 BTR;</li>
				<li>• 10001 - 20000 views in the first 14 days – 350 BTR;</li>
				<li>• 20001+ views in the first 14 days – 500 BTR.</li>
			</ul>
		</div>

		<div class="linkedin">
			<div class="linkedin_top">
				<img src="{{ asset('img/bounty_en/linkedin.jpg')}}" alt="">
				<p>LinkedIn campaign<br/>1 000 000 BTR</p>
			</div>

			<p class="company_pt">How to take part:</p>
			<p>Fill in this form <a href="https://goo.gl/forms/xVlJmOl40i2296Gj1" target="_blank">https://goo.gl/forms/xVlJmOl40i2296Gj1</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<p class="company_pt">Conditions:</p>
			<ul>
				<li>• Subscribe to: <a href="https://www.linkedin.com/company/boosteroid" target="_blank">https://www.linkedin.com/company/boosteroid</a>;</li>
			</ul>

			<p class="company_pt">Bounty:</p>
			<ul class="extra_bounty">
				<li>
					100 - 300 friends
					<ul>
						<li>• Subscription - 1 BTR;</li>
						<li>• Repost - 1 BTR.</li>
					</ul>
				</li>
				<li>
					301 - 600 friends
					<ul>
						<li>• Subscription - 1,5 BTR;</li>
						<li>• Repost - 1,5 BTR.</li>
					</ul>
				</li>
				<li>
					601 - 1000 friends
					<ul>
						<li>• Subscription - 2 BTR;</li>
						<li>• Repost - 2 BTR.</li>
					</ul>
				</li>
				<li>
					1001 - 1500 friends
					<ul>
						<li>• Subscription - 3 BTR;</li>
						<li>• Repost - 2,5 BTR.</li>
					</ul>
				</li>
				<li>
					1501 - 2500 friends
					<ul>
						<li>• Subscription - 4 BTR;</li>
						<li>• Repost - 3 BTR.</li>
					</ul>
				</li>
				<li>
					2501 -5000 friends
					<ul>
						<li>• Subscription - 6 BTR;</li>
						<li>• Repost - 5 BTR.</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="telegram">
			<div class="telegram_top">
				<img src="{{ asset('img/bounty_en/telegram.jpg')}}" alt="">
				<p>Telegram campaign<br/>1 000 000 BTR</p>
			</div>
			<p>You can subscribe to our Telegram account and get more BTR for being active</p>

			<p class="company_pt">How to take part:</p>
			<p>Fill in the form <a href="https://goo.gl/forms/95fomQi0UkFdqIr23" target="_blank">https://goo.gl/forms/95fomQi0UkFdqIr23</a></p>
			<p>Track your progress here: <a href="https://goo.gl/EQ5zuK" target="_blank">https://goo.gl/EQ5zuK</a></p>

			<ul>
				<li class="telegram_bounty">• Subscription - 3 BTR.</li>
			</ul>
		</div>
	</section>
</body>
</html>