{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block list_table %}
<section class="content">
    <div class="sonata-ba-content"><div class="sonata-ba-delete">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Confirm deletion</h3>
                </div>
                <div class="box-body">
                    Are you sure you want to delete the selected " " element?
                </div>
                <div class="box-footer clearfix">
                    <form method="POST" action="{{path('admin_referal_remove')}}"> 
                        {% for ref in array%}
                        <div style="margin-bottom: 4px;">
                        User id #{{ref}}:
                        <input type="checkbox" name="delete[]" value="{{ref}}" checked="checked"><br />
                        </div>
                        {% endfor %}
                        <input type="hidden" name="_sonata_csrf_token" value="djja4BnOwk3OiIjC1OqGbSVLi4RSNttXiykNbVRa9iI">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Yes, delete</button>                        
                    </form>
                </div>
            </div>
        </div></div>
</section>
{% endblock %}