{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block list_table %}
    <section class="content"> 
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="box box-primary" >
                    <div class="box-body">
                        {{ form_errors(form) }}
                        {{ form_start(form, { 'attr':{'class':'sonata-filter-form form-horizontal'} }) }}
                        <div class="row">
                            <div class="col-sm-9">
                                {#<div class="form-group">
                                    {{ form_label(form.users, 'Users',{ 'label_attr': {'class':'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.users) }}
                                    </div>
                                </div>      #}                  
                                <div class="form-group">
                                    {{ form_label(form.start, 'Start date:',{ 'label_attr': {'class':'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.start) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.end, 'End date:',{ 'label_attr': {'class':'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.end) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="form-group">
                                    <button id="app_sales_filters_submit" type="submit" class="btn btn-primary">
                                        <i class="fa fa-filter" aria-hidden="true"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
                                    </button>

                                    <a class="btn btn-default" href="">
                                        {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% include 'AppBundle:Admin:Reports/referal_table.html.twig' %}
    </section>                    
{% endblock %}