{% for key, referls in usersReferals%}
   {%if referls is not empty%} 
    <div class="col-xs-12 col-md-12">
        <div class="row">
            <div class="box box-primary" style="margin-bottom: 10px;">
                <div class="box-body table-responsive no-padding">
                
                    <div class="col-md-12">
                        <h4>Referals for <strong>{{key}}</strong></h4>
                    </div>
                    <div class="col-md-12">
                        <form action="{{ path('admin_referal_confirm_remove') }}" method="post">
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            
                            {% block table_header %}
                                <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        <th class="sonata-ba-list-field-header-text"></th>
                                        <th class="sonata-ba-list-field-header-text">id</th>
                                        <th class="sonata-ba-list-field-header-text">email</th>
                                        <th class="sonata-ba-list-field-header-text">active</th>
                                        <th class="sonata-ba-list-field-header-text">created</th>
                                        <th class="sonata-ba-list-field-header-text">action</th>                                        
                                    </tr>
                                </thead>
                            {% endblock %}
                            {% block table_body %}
                                <tbody>
                                    {% for referl in referls%}
                                    <tr>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">
                                           <input type="checkbox" name="delete[]" value="{{referl.id}}">
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">{{referl.id}}</td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">{{referl.email}}</td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">
                                            {% if referl.enabled %}
                                                <span class="label label-success">{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}</span>
                                            {% else %}
                                                <span class="label label-danger">{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}</span>
                                            {% endif %}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">{{referl.createdAt|date}}</td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-number">
                                            <a href="{{absolute_url('/admin/app/users/'~referl.id~'/edit')}}" target="_blank" class="btn btn-sm btn-default edit_link" title="Edit">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            {% endblock %}
                            {% block table_footer %}
                            {% endblock %}                            
                        </table>  
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> DELETE</button>
                        </form>
                        <div class="col-md-6"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {%endif%}
{% endfor %}