{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block linkElement %}
    {% import _self as menu_icons %}
    {% import _self as knp_menu %}<a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}><div class="side_logo"></div><span>{{ block('label') }}</span></a>
{% endblock %}
 {% block label %}
    {{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'account')) }}
{% endblock %}