<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Boosteroid Account{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                'css/libs.min.css'
                'css/auth.css'
                output='css/compiled/auth.css'
                filter='cssrewrite'
        %}
        <link rel="stylesheet"  href="{{ asset_url }}">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
        {% endstylesheets %}
        {% endblock %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
    </head>
    <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div id="large-header" class="large-header">
        <span class="star"></span>
        <span class="star blue"></span>
        <div class="wrap">
     	<h1><a href="{{ path('landing_page') }}"><img src="{{asset('img/boosteroid.svg')}}" alt="logo"></a></h1>     	
	    {% block body %}{% endblock body %}    	
        </div>
	   </div>	
        {% javascripts
		'js/libs.min.js'
		'js/auth.js'
		output='js/compiled/auth.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>