{% extends 'AppBundle:Security:auth_layout.html.twig' %}

{% block body %}
<div class="form-confirm">
    <div class="tab-content">
        <div id="login">
            <h2>{{'registration.thanks'|trans({}, 'mail')}}</h2>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'mail')|raw }}</p>
        </div>
        <button onclick="location.href='{{path('fos_user_security_login')}}';" class="button button-block" type="button">{{ 'login.submit'|trans({}, 'security') }}</button>
    </div>
</div>
{% endblock body %}

