{% extends 'AppBundle:Security:auth_layout.html.twig' %}

{% block body %}
<div class="form">
    <ul class="tab-group clearfix">
        <li class="tab"><a href="{{path('fos_user_registration_register')}}">{{ 'tab.sing'|trans({}, 'security') }}</a></li>
        <li class="tab active"><a href="{{path('fos_user_security_login')}}">{{ 'tab.log'|trans({}, 'security') }}</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">
            <h2>{{ 'login.welcom'|trans({}, 'security') }}</h2>
            {% if error %}
                <div class="error"><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
                <div class="field-wrap">
                    <label>
                        {{ 'form.email'|trans({}, 'security') }}<span class="req">*</span>
                    </label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="field-wrap">
                    <label>
                        {{ 'form.password'|trans({}, 'security') }}<span class="req">*</span>
                    </label>
                    <input type="password" id="password" name="_password" required="required" />
                </div>
                <p class="forgot"><a href="{{ path('fos_user_resetting_request') }}">{{ 'form.forgot'|trans({}, 'security') }}</a></p>
                <button class="button button-block"/>{{ 'login.submit'|trans({}, 'security') }}</button>
            </form>
        </div>
    </div>
    <a href="{{ path('landing_page') }}">
      <div class="close"></div>
    </a>
</div>
{% endblock body %}

