{% extends 'AppBundle:Security:auth_layout.html.twig' %}

{% block body %}
<div class="form">
    <ul class="tab-group clearfix">
        <li class="tab active"><a href="{{path('fos_user_registration_register')}}">{{ 'tab.sing'|trans({}, 'security') }}</a></li>
        <li class="tab"><a href="{{path('fos_user_security_login')}}">{{ 'tab.log'|trans({}, 'security') }}</a></li>
    </ul>
    <div class="tab-content">
        <div id="signup">   
            <h2>{{ 'login.wel'|trans({}, 'security') }}</h2>
            {% if form_errors(form)!=''%}
                <div class="error"><p>{{ form_errors(form) }}</p></div>
            {% endif %}
            {% if form_errors(form.username)!=''%}
                <div class="error"><p>{{ 'errors.name'|trans({}, 'security') }}</p></div>
            {% endif %}
            {% if form_errors(form.recaptcha)!=''%}
                <div class="error"><p>{{ form_errors(form.recaptcha) }}</p></div>
            {% endif %}
            {% if form_errors(form.plainPassword.first)!=''%}
                <div class="error"><p>{{ form_errors(form.plainPassword.first) }}</p></div>
            {% endif %}
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'} }) }}
            
            <div class="field-wrap">
                <label>
                    {{ 'form.nickname'|trans({}, 'security') }}<span class="req">*</span>
                </label>
                {{ form_widget(form.username) }}
            </div>
            <div class="field-wrap">
                <label>
                    {{ 'form.email'|trans({}, 'security') }}<span class="req">*</span>
                </label>
                {{ form_widget(form.email) }}
            </div>
            <div class="field-wrap">
                <label>
                    {{ 'form.password'|trans({}, 'security') }}<span class="req">*</span>
                </label>
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="field-wrap">
                <label>
                    {{ 'form.password_repaet'|trans({}, 'security') }}<span class="req">*</span>
                </label>
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="field-wrap">
            {{ form_widget(form.confirm, { 'attr': {'class': 'check'} }) }}
            {% if app.Request.locale == 'ru_RU' %}
                <label for="fos_user_registration_form_confirm" class="terms"><span class="icon"></span> {{ 'form.accept'|trans({}, 'security') }}</label>
                <a href="{{asset('pdf/Terms.pdf')}}" style="left: 100px;" target="_blank" rel="noreferrer nofollow noopener">{{ 'form.terms'|trans({}, 'security') }}</a>
            {% elseif app.Request.locale == 'en_EN' %}
                <label for="fos_user_registration_form_confirm" class="terms"><span class="icon"></span> {{ 'form.accept'|trans({}, 'security') }}</label>
                <a href="{{asset('pdf/Terms.pdf')}}" target="_blank" rel="noreferrer nofollow noopener">{{ 'form.terms'|trans({}, 'security') }}</a>
            {% endif %}        
                
                					
            </div>
                <div class="field-wrap" >
                    <div style="position: relative; lef:50%; transform: translate(-50%,0);">
                        {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
                    </div>   
            {{ form_widget(form.recaptcha, { 'attr': {
                'options' : {
                    'theme': 'light',
                    'type': 'image',
                    'size': 'normal'
                },
            } }) }}            
            </div>
            {{ form_widget(form._token) }}
            <button class="button button-block"/>{{ 'form.started'|trans({}, 'security') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <a href="{{ path('landing_page') }}">
      <div class="close"></div>
    </a> 
</div> 
{% endblock body %}
