@font-face {
  font-family: "NexaRustSans-Book";
  src: url("../fonts/NexaRustSans-Book/NexaRustSans-Book.eot");
  src: url("../fonts/NexaRustSans-Book/NexaRustSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaRustSans-Book/NexaRustSans-Book.woff") format("woff"), url("../fonts/NexaRustSans-Book/NexaRustSans-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

.wrap_404 .text_wrap:after {
  content: "";
  position: absolute; }

.content {
  max-width: 1340px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

body {
  min-height: 100vh;
  background: url("../img/background_404.jpg");
  background-size: cover;
  padding-top: 150px; }

.wrap_404 {
  margin: 0 auto;
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrap_404 .ufo {
    width: 227px;
    height: 224px;
    background: url("../img/ufo_404.png");
    background-repeat: no-repeat;
    margin-bottom: 87px; }
  .wrap_404 .text_wrap {
    position: relative;
    padding: 52px 0 35px;
    text-align: center;
    color: #18b0ef;
    background: url("../img/text_wrap_404.png") no-repeat center;
    background-size: contain;
    margin-bottom: 40px;
    width: 98%; }
    .wrap_404 .text_wrap:after {
      top: 90%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 14px;
      height: 37px;
      background: url(../img/arrow_404.png) no-repeat center; }
    .wrap_404 .text_wrap p {
      text-transform: uppercase;
      font: 16px 'NexaRustSans-Book';
      line-height: 36px;
      letter-spacing: .5px; }
  .wrap_404 .logo {
    width: 300px;
    height: 31px;
    background-image: url("../img/boosteroid_404.png");
    background-size: contain; }

@media only screen and (max-width: 992px) {
  body {
    padding-top: 100px; } }

@media only screen and (max-width: 768px) {
  body {
    padding-top: 50px; } }

@media only screen and (max-width: 480px) {
  body {
    padding-top: 10px; }
  .wrap_404 .ufo {
    margin-bottom: 0; } }
