@font-face {
    font-family: "OpenSansRegular";
    src: url("/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "OpenSansLight";
    src: url("/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("/fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("/fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "RobotoCondensedLight";
    src: url("/fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("/fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("/fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "RalewayLight";
    src: url("/fonts/RalewayLight/RalewayLight.eot");
    src: url("/fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("/fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "RalewayRegular";
    src: url("/fonts/RalewayRegular/RalewayRegular.eot");
    src: url("/fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "RalewayMedium";
    src: url("/fonts/RalewayMedium/RalewayMedium.eot");
    src: url("/fonts/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "DINPro-CondensedRegular";
    src: url("/fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.eot");
    src: url("/fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.woff") format("woff"), url("/fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "DINPro-CondensedBold";
    src: url("/fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot");
    src: url("/fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff") format("woff"), url("/fonts/DINPro-CondensedBold/DINPro-CondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

* {
    margin: 0;
    padding: 0; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.red {
    color: red;
}
.top-line button, #tab3 .bounty button, #tab4 form button, .dashboard_form button, .modal-content button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #d7d7d7;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600; }

#tab2 .withdraw .balance:before, #tab5 ul li .item p:before, #tab5 ul li .item p:after, .dashboard_form .box_qty .box_qty_form .box_qty_form_btn a:before, .dashboard_form .box_select .selectric_wrapper .selectric .button:after {
    content: "";
    position: absolute; }

a:hover, a {
    text-decoration: inherit;
    color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s; }

.clearfix:after {
    display: block;
    content: "";
    clear: both; }

body {
    font-family: "OpenSansRegular";
    min-width: 320px;
    background-color: #f1f1f1;
    font-size: 14px; }

.admin-panel {
    width: 100%;
    background-color: #fff;
    position: relative; }

h1 {
    width: 100%;
    height: 82px;
    background: #fff;
    position: relative; }
h1 img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
h1 .logo_small {
    opacity: 0; }

.slidebar {
    height: 100vh;
    position: fixed;
    width: 15%;
    top: 0;
    bottom: 0; }
.slidebar .side_logo {
    margin: 0 auto;
    width: 38px;
    height: 38px;
    float: left;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    background-image: url("/img/aside_sprite.png");
    background-position: 0 0; }
.slidebar ul {
    position: relative;
    height: 100%;
    list-style-type: none;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.slidebar ul li {
    text-align: center; }
.slidebar ul li a {
    color: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-transform: capitalize;
    text-align: left;
    line-height: 5.2;
    padding-left: 10px;
    height: 70px; }
.slidebar ul li a span{
    padding-left: 10px;
     }
    .slidebar ul li:hover a span, .slidebar ul li.active-item a span{
        background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  color: #151515;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    } 
  .slidebar ul li:hover, .slidebar ul li.active-item{ 
    background-color: #fff;
  box-shadow: inset -0.707px 0.707px 9px 0px rgba(0, 198, 255, 0.28);
    }  
.slidebar ul li a i {
    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 8px; }
/*.slidebar ul li:hover a {
    background-color: #02243f;
    color: white; }*/
/*.slidebar ul li.active-item {
    background-color: #02243f;
    color: white !important; }
.slidebar ul li.active-item span {
    color: white !important; }*/
.slidebar ul li:nth-child(2) .side_logo {
    background-position: -71px 0; }
.slidebar ul li:nth-child(3) .side_logo {
    background-position: -90px 0; }
.slidebar ul li:nth-child(4) .side_logo {
    background-position: -133px 0; }
.slidebar ul li:nth-child(5) .side_logo {
    background-position: -177px 0; }
.slidebar ul li:nth-child(1):hover .side_logo, .slidebar ul li:nth-child(1).active-item .side_logo {
    background-position: 223px 0; }
.slidebar ul li:nth-child(2):hover .side_logo {
    background-position: -416px 0; }
.slidebar ul li:nth-child(3):hover .side_logo, .slidebar ul li:nth-child(3).active-item .side_logo {
    background-position: 133px 0; }
.slidebar ul li:nth-child(4):hover .side_logo, .slidebar ul li:nth-child(4).active-item .side_logo {
    background-position: 90px 0; }
.slidebar ul li:nth-child(5):hover .side_logo, .slidebar ul li:nth-child(5).active-item .side_logo {
    background-position: 45px 0; }

/*.slidebar ul li:nth-child(1).active-item .side_logo {
    background-position: -343px 0; }*/
.slidebar ul li:nth-child(2).active-item .side_logo {
    background-position: -416px 0; }
/*.slidebar ul li:nth-child(3).active-item .side_logo {
    background-position: -490px 0; }*/
/*.slidebar ul li:nth-child(4).active-item .side_logo {
    background-position: -556px 0; }
.slidebar ul li:nth-child(5).active-item .side_logo {
    background-position: -619px 0; }
*/
.content {
    float: right;
    width: 85%;
    background-color: #f1f1f1;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0px 5px 21px 0px rgba(0, 0, 0, 0.15);
    min-height: 100vh; }

.top-line {
    box-shadow: 13px 0px 30px -27px #000000 inset;
    padding: 20px 50px;
    background-color: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    color: #000;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .top-line:after{
        background-image: -moz-linear-gradient( 0deg, rgb(32,150,217) 0%, rgb(92,53,238) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(32,150,217) 0%, rgb(92,53,238) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(32,150,217) 0%, rgb(92,53,238) 100%);
  position: absolute;
    bottom: 0;
    left: 0;
  width: 100%;
  height: 1px;
    }



.top-line .user {
    color: #000;
    font-size: 16px;
    padding: 10px 0;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-right: 20px; }
.top-line .amount {
    color: #000;
    font-size: 17px;
    padding: 11px 0 0 0;
    margin-right: 20px; }
.top-line .amount .you_have {
    color: #517396; }
.top-line .logout{
    background: none;
    font: normal 16px "OpenSansRegular";
    background: url("/img/register.png") no-repeat right;
    padding-right: 25px;
    position: relative;
    top: 5px;
    /*margin-right: 60px;*/ }

.buttons_wrapp {
  position: relative;
  padding-right: 60px;
  margin-top: 6px;
  margin-right: -15px;
}

.language_select {
    position: absolute;
    right: 20px;
    top: 0;
    color: black;
    background-color: white;
    z-index: 1000;
    font-size: 16px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    height: 34px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .language_select.open {
      height: auto;
      background-color: none;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
    .language_select li {
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      padding: 5px;
      min-height: 25px; }
      .language_select li:hover {
        cursor: pointer; }
      .language_select li.active {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        pointer-events: none; }

.language-select {
    position: absolute;
    right: 50px;
    top: 25px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000;
    text-transform: uppercase;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px; }
.language-select.open {
    height: auto;
    background-color: #fff; }
.language-select.open li {
    color: #000; }
.language-select.open li i {
    color: #000; }
.language-select li {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 5px;
    min-height: 30px; }
.language-select li:hover {
    cursor: pointer; }
.language-select li.active {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    pointer-events: none; }
.language-select li.active i {
    opacity: 1; }
.language-select li i {
    line-height: 0.9;
    padding-left: 5px;
    opacity: 0;
    font-size: 22px; }

.main {
    margin: 30px 30px 40px;
    padding-bottom: 20px; }
.main h2 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px; }
.main h3, .main caption {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000; }
.tab .header_margined {
    margin-top: -18px;
    margin-bottom: 10px;
}
.alert {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #000; }

.alert-danger {
    border-bottom: 2px solid #F54C21; }
.alert-danger i {
    color: #F54C21; }

.alert-success {
    border-bottom: 2px solid #0D8278; }
.alert-success i {
    color: #0D8278; }

.alert-info {
    border-bottom: 2px solid #58A9B0; }
.alert-info i {
    color: #58A9B0; }

.key {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    display: none; }
.key label {
    font-size: 18px;
    font-weight: bold;
    color: #757575; }
.key input {
    margin-left: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #000; }

.transaction, .bounty_table {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff; }
.transaction table, .bounty_table table {
    width: 100%;
    border-collapse: collapse; }
.transaction table caption, .bounty_table table caption {
    margin-bottom: 20px;
    text-align: left; }
.transaction table th, .transaction table td, .bounty_table table th, .bounty_table table td {
    padding: 10px;
    text-align: center; }
.transaction table th, .bounty_table table th {
    border: 1px solid #000; }
.transaction table td, .bounty_table table td {
    border: 1px solid #cdcdcd; }
.transaction table td:before, .bounty_table table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: none; }

.point {
    padding: 12px 15px;
    font: 14px 'OpenSansRegular';
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    /*border-radius: 8px;*/
}

.marked {
    color: #3b89f8;
}

.comment {
    margin-top: 25px;
    margin-bottom: 50px;
    font: 14px "OpenSansRegular";
}

.statistics_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 35px;
}

.statistics_wrap h2{
    background-color: transparent;
}

.calculator_right_block h2{
    padding-left: 70px;
}

.statistics, .calculator_right_block {
    width: 50%;
    margin-bottom: 30px; }

.statistics_content, .calculator_content {
    padding: 15px 40px 0;
    background: #fff;
    height: 90%;
}

.calculator_right_block #chart_tokens {
    width: 100%;
    height: 275px;
}

/*.statistics_content {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}*/

.calculator_content {/*
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;*/
    text-align: center;
}

 .calculator_right_block img {
  max-width: 100%;
  height: inherit; }

.header_left {
    text-align: left;
    font: 24px 'OpenSansRegular';
    font-weight: 900;
    margin-left: 20px;
}

.price_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 30px;
}

.price_wrap .chosen {
    font: 26px 'DINPro-CondensedBold';
    color: #3b89f8;
}

.price_wrap > div {
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 25px;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 140px;
    margin-bottom: 10px;
}

.buttons_wrap {
    max-width: 400px;
    width: 100%;
    min-height: 40px;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 56px;
}

.buttons_wrap button {
    padding: 13px 64px;
    color: white;
    /*font: 20px 'OpenSansRegular';*/
    font-size: 18px;
    border: none;
    background-color: #c6c7c8;
    cursor: pointer;
    margin-bottom: 5px;
}

.button_active {
    /*background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#5c36ee));
    background-image: -webkit-linear-gradient(bottom, #00c6ff 0%, #5c36ee 100%);
    background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-size: 100% 100%; */
    background-color: #000 !important;
}

.check_reminder {
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
    font: 26px 'OpenSansRegular';
    margin-bottom: 35px;
}

.accept_field {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.receive_button {
    display: block;
    padding: 25px 15px;
    color: white;
    font: 20px 'OpenSansRegular';
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
}

.address {
    word-break: break-all;
    background-color: #fafafa;
    border: 1px solid #808080;
    padding: 10px 5px 5px 10px;
    margin-top: 22px;
    margin-bottom: 25px;
    font: 20px 'OpenSansRegular';
}

.entered {
    background-color: #d4d4d4;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  /*background-image: linear-gradient(#fff, #fff), linear-gradient(#5c35ee, #2392da);*/
  background-image: linear-gradient(#fff, #fff), linear-gradient(#000, #000)
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 6px;
  height: 6px;
  /*background: linear-gradient(#5c35ee, #2392da);*/
  background: #000;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


.settings_container {
    position: relative; }
.settings_container input[id^="set"], .settings_container section {
    clear: both;
    padding-top: 10px;
    display: none; }
.settings_container label.set {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 50%;
    padding: 15px;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    line-height: 2; }
.settings_container .settings-content p, .settings_container .settings-content h3, .settings_container .settings-content form {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out; }
.settings_container .settings-content h3 {
    text-align: center; }
.settings_container [id^="set"]:checked + label {
    background: #fff;
    -webkit-box-shadow: inset 0 3px #000;
    box-shadow: inset 0 3px #000; }
.settings_container .fa {
    color: #000;
    font-size: 30px;
    margin: 0 0.4em 0 0; }

#set1:checked ~ #content1, #set2:checked ~ #content2, #set3:checked ~ #content3, #set4:checked ~ #content4 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0; }

#tab2 .withdraw {
    background-color: #fff;
    padding: 20px; }
#tab2 .withdraw .balance {
    background-color: #000;
    color: white;
    font: bold 16px "OpenSansRegular";
    padding: 15px 0 15px 35px;
    position: relative; }
#tab2 .withdraw .balance:before {
    background-color: #000;
    left: 20px;
    top: 10px;
    width: 2px;
    height: 30px; }
#tab2 .withdraw .wrap_form {
    background-color: #F3F2F4;
    padding: 20px  0 20px 20px; }
#tab2 .withdraw .wrap_form form {
    margin-top: 8px;
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #000;
    margin-bottom: 20px; }
#tab2 .withdraw .wrap_form form input {
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    color: #A8A8A8;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none; }
#tab2 .withdraw .wrap_form form input#transaction {
    cursor: not-allowed; }
#tab2 .withdraw .wrap_form form .amount input {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; }
#tab2 .withdraw .wrap_form form .amount span {
    text-transform: uppercase;
    background-color: #fff;
    color: #A8A8A8;
    padding: 10.5px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
#tab2 .withdraw .wrap_form form label {
    margin: 10px 0;
    font: 16px "OpenSansRegular";
    margin-right: 10px;
    position: relative; }
#tab2 .withdraw p {
    font-size: 14px; }
#tab2 .withdraw p i {
    color: #000;
    font-size: 18px; }

#tab3 .bounty {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    display: none;
    text-align: center; }
#tab3 .bounty input {
    padding: 10px;
    outline: none;
    border: 1px solid #000;
    min-width: 200px; }
#tab3 .bounty button {
    padding: 9px;
    background-color: #000;
    font-size: 16px;
    margin-left: 10px; }
    .text_bounty{
        background-color: #fff;
        margin-bottom: 30px;
        padding: 50px;
        overflow: hidden; }
        .bounty_button {
            border: 1px solid #000;
            padding: 10px 15px;
            background-color: white;
            cursor: pointer;
            color: white;
/*            background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#5c36ee));
            background-image: -webkit-linear-gradient(bottom, #00c6ff 0%, #5c36ee 100%);
            background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
            background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
            background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
            background-size: 100% 100%; */
            background-color: #000;
            font-size: 14px;
            vertical-align: top;
            margin: 5px;
            margin-left: 0;
            font-size: 14px;
            line-height: 1;
        }

        .referral_link_wrapp {
            max-width: 100%;
            margin-right: 30px;
            margin-left: -5px;
        }

        .get_referral_link_wrapp {
            position: relative;
        }

        .text_hint {
            position: absolute;
            left: 50px;
            top: 120%;
        }


        .registration_count_wrap, .btr_amount_wrap {
            position: relative;
        }

        .get_referral_link {
            padding: 20px 58px;
            width: 100%;
            font-size: 18px;
        }

        .referral_info_outer {
            width: 100%;
            background-color: white;
        }

        .referral_info{
            position: relative;
            display: flex;
            padding: 40px 50px;
            margin-bottom: 50px;
            flex-wrap: wrap;
            background: white;
            justify-content: flex-start; }

        .referral_info p{
            padding: 10px 15px;
            margin: 5px 5px 5px 0;
            border: 1px solid #d9f7ff;
            line-height: 1;
            word-break: break-all;  
        }

        .referral_link_stats {
            max-width: 380px;
            width: 100%;
            margin-left: -5px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between; }

        .text_hint p{
            border: none;
        }

        .referral_info .text_hint {
            left: 34px;
            top: 100%;
        }

        .copy_refferal_link, .referral_link {
            display: inline-block; }

    .text_bounty ol, .text_bounty ul{
        list-style-position: inside;
    }
    .text_bounty ul{
        column-count: 2;
        color: #5a3aed;
        font-size: 16px;
        width: 90%;
        padding: 0 0 20px 0px;
        /*margin: 0 auto;*/
    }
    .text_bounty ol a{
       color: #000; 
       font-size: 16px;
    }
#tab4 form {
    max-width: 500px;
    margin: 0 auto; }
#tab4 form .field-wrap {
    position: relative;
    margin-bottom: 10px; }
#tab4 form .field-wrap input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    outline: 0; }
#tab4 form .field-wrap input + label[data-placeholder] {
    pointer-events: none; }
#tab4 form .field-wrap input + label[data-placeholder]:after {
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 0 0.25rem;
    background-color: rgba(255, 255, 255, 0); }
#tab4 form .field-wrap input:focus, #tab4 form .field-wrap input:valid {
    border: 2px solid #000; }
#tab4 form .field-wrap input:focus + label[data-placeholder]:after, #tab4 form .field-wrap input:valid + label[data-placeholder]:after {
    -webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
    -ms-transform: translate(-5%, -150%) scale(0.9, 0.9);
    transform: translate(-5%, -150%) scale(0.9, 0.9);
    color: #000;
    background-color: white; }
#tab4 form button {
    background-color: #000;
    padding: 10px;
    font-size: 18px;
    line-height: 1;
    float: right;
    text-transform: none;
    margin-top: 10px; }

#tab5 ul {
    list-style-type: none;
    background-color: #fff;
    padding: 20px; }
#tab5 ul li .item {
    padding-left: 25px;
    cursor: pointer;
    position: relative; }
#tab5 ul li .item p {
    font: 16px "OpenSansRegular";
    padding: 5px 10px; }
#tab5 ul li .item p:before, #tab5 ul li .item p:after {
    left: 7px;
    top: 50%;
    height: 2px;
    width: 12px;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
#tab5 ul li .item p:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 15px; }
#tab5 ul li .item p:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
#tab5 ul li .item.active p:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
#tab5 ul li .item.active p:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
#tab5 ul li .hint {
    display: none;
    padding-left: 25px;
    margin-bottom: 15px; }
#tab5 ul li .hint p {
    padding: 0 10px;
    color: #646464; }
/*baner*/
.baner{
    text-align: center;
    overflow: hidden;
}
.baner .left{
    width: 100%;
    /*margin: 50px;*/
    /*float: left;*/
}
.baner .right{
    width: 30%;
    float: right;
    margin: 50px;
    border: 2px solid #00c6ff;
    padding: 30px;
}


.baner .active{
  font-size: 34px;
  font-family: "OpenSansLight";
  color: rgb(2, 36, 63);
  text-transform: uppercase;
  line-height: 1.2;
  background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  color: #151515;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baner .active span{
    font-weight: 900;
}

.baner .stay {
  font-size: 20px;
  font-family: "RalewayRegular";
  color: #000;
  margin-top: 40px;
  line-height: 1.5;
  font-weight: 900;
}
.baner  .right .big{
  font-size: 20px;
  font-family: "RalewayRegular";
  color: #000;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
}
.baner .right .min{
  font-size: 18px;
  color: #000;
  line-height: 1.2;
  margin-top: 30px;
}
.baner .right span{
    color: #6743ef;
    font-weight: 900;
}





/*end baner*/ 

.calc {
    border-radius: 8px;
    margin-bottom: 30px; }
.calc img{
    width: 100%;
}
.dashboard_form {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: bold 22px "RobotoCondensedRegular";
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-left: -5px;
    padding-left: 50px;
    padding-right: 50px; }

.dashboard_form > div, .dashboard_form button{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.dashboard_form .box_qty {
    width: 190px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_qty .box_qty_form {
    border: 1px solid #000;
    width: 190px;
    height: 70px; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_input {
    width: 155px;
    float: left;
    height: 68px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 28px;
    padding: 0 15px;
    font-weight: bold;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 33px;
    height: 35px;
    text-align: center;
    position: relative;
    background: #f2f2f2; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn a:before {
    display: block;
    top: 50%;
    left: 49%;
    width: 13px;
    height: 9px;
    margin-left: -6px;
    background: url("/img/form_up.png") no-repeat; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_up:before {
    margin-top: -3px; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_down {
    height: 32.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e3e5e5; }
.dashboard_form .box_qty .box_qty_form .box_qty_form_btn .qty_down:before {
    margin-top: -1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.dashboard_form p {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 12px;
    font-family: "OpenSansRegular"; }
.dashboard_form .amount {
    width: 190px;
/*    z-index: 10; */}
.dashboard_form .amount input {
    width: 190px;
    float: left;
    height: 68px;
    background: #fff;
    border: 1px solid #000;
    outline: none;
    font-size: 28px;
    padding: 0 0 0 15px;
    font-weight: bold;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_select {
    width: 190px;
/*    z-index: 10; */}
.dashboard_form .box_select .selectric_wrapper {
    position: relative;
    cursor: pointer; }
.dashboard_form .box_select .selectric_wrapper .selectric_hide_select {
    position: relative;
    width: 0;
    height: 0; }
.dashboard_form .box_select .selectric_wrapper .selectric_hide_select select {
    position: absolute;
    left: -100%; }
.dashboard_form .box_select .selectric_wrapper .selectric {
    background: #fff;
    position: relative;
    height: 70px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_select .selectric_wrapper .selectric input {
    width: 185px;
    float: left;
    height: 68px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 28px;
    padding: 0 0 0 15px;
    font-weight: bold;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.dashboard_form .box_select .selectric_wrapper .selectric .label {
    padding-left: 20px; }
.dashboard_form .box_select .selectric_wrapper .selectric .button {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    text-indent: -9999px; }
.dashboard_form .box_select .selectric_wrapper .selectric .button:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 12px;
    height: 7px;
    background: url("/img/form_up.png");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.dashboard_form .box_select .selectric_wrapper .selectric .button, .dashboard_form .box_select .selectric_wrapper .selectric .label {
    height: 70px;
    line-height: 70px;
    display: block; }
.dashboard_form .box_select .selectric_wrapper .selectric_items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    outline: none; }
.dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll {
    height: 100%; }
.dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li, .dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    font-weight: 700; }
.dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li {
    display: block;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    border-top: none; }
.dashboard_form .box_select .selectric_wrapper .selectric_items .selectric_scroll li:hover {
    background: #dde2e3; }
.dashboard_form .box_select .selectric_wrapper .selectric_input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: 0 !important;
    border: none !important;
    background: 0 0 !important; }
.dashboard_form .total_money {
    width: 140px;
    height: 70px;
    margin-left: 20px; }
.dashboard_form .total_money .total_money_box {
    width: 100%;
    height: 70px;
    font-size: 22px;
    font-weight: 700;
    color: #39d9b6;
    text-align: center;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 65px;
    background: #fff;
    position: relative;
    border: 2px solid #39d9b6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block; }
.dashboard_form button {
    width: 160px;
    height: 70px;
    /*font: bold 22px "OpenSansRegular";*/
    font-size: 18px;
    text-align: center;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*letter-spacing: 5px;*/ }

#faq ul {
  list-style-type: none; }
  #faq ul li .item {
    padding-right: 25px;
    cursor: pointer;
    position: relative; }
    #faq ul li .item p {
      font: 16px "RalewayMedium";
      padding: 40px 0 20px; }
      #faq ul li .item p:before, #faq ul li .item p:after {
        content: '';
        position: absolute;
        right: 0;
        top: 60%;
        height: 2px;
        width: 20px;
        background: #000;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      #faq ul li .item p:before {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      #faq ul li .item p:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    #faq ul li .item.active p:before {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
    #faq ul li .item.active p:after {
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
  #faq ul li .hint {
    display: none;
    margin-bottom: 10px; }
    #faq ul li .hint p {
      padding: 10px 0;
      color: #4c5b60;
      font: 14px/1.5 "RalewayLight";
      border-bottom: 1px solid #fff; }

footer {
    position: absolute;
    left: 0px;
    bottom: 17px;
    padding: 20px 30px;
    width: 100%; }
footer a {
    float: left;
    text-decoration: underline; }
footer p {
    float: right; }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #f1f1f1;
    margin: auto;
    border: none;
    max-width: 1230px;
    width: 95%;
    padding: 80px 30px; 
    position: relative;
    word-break: break-word;   
}
.modal-content button {
    width: 145px;
    height: 40px;
    font: bold 22px "OpenSansRegular";
    text-align: center;
    background-color: #000;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#5c36ee));
    background-image: -webkit-linear-gradient(bottom, #00c6ff 0%, #5c36ee 100%);
    background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
    background-size: 100% 100% }
.modal_address {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #fff;
    max-width: 900px;
    border: 1px solid #808080;
    font: 24px 'OpenSansRegular';
    text-align: center;
}
.modal-content .comment {
    line-height: 19px;
}
.modal-content-btn {
    margin-top: 40px;
    text-align: center;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hide-elem {
    display: none;
}

.font-xxx {
    font-size: 20px;
    word-wrap: break-word;
}
.info h2{
    padding-left: 0;
}
.wallet{
    width: 100%;
    font-size: 20px;
    border: 1px solid;
    padding: 15px;
    /*margin-bottom: 30px;*/
}
.form_step2{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 40px;
    display: none;
}
.form_step2 p{
    margin-bottom: 5px;
}

.active_toke_bt{
    background-color: #000; 
    cursor: pointer;
}
.error_border {
    border-color: red;
}
.step2 {
    display: none;
}
.error_label::before{
    background-image: linear-gradient(#fff, #fff), linear-gradient(#ee3582, #da233c) !important;
}
@media only screen and (max-width: 1320px) {
     .slidebar ul li a {
    padding: 15px 0; }
    .slidebar ul li a i {
    margin-bottom: 0; }
    .slidebar .side_logo {
    float: none;}
    .slidebar ul li a span {
    display: none; }
    .baner  .left{
        width: 80%;
    float: none;
    margin: 0 auto;}
    .baner  .right {
    width: 80%;
    float: none;
    margin: 20px auto;}

}
@media only screen and (max-width: 900px) {
    label span {
	display: none; }
    .settings_container {
	width: 98%; } }

@-webkit-keyframes fadeInScale {
    0% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0; }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1; } }

@keyframes fadeInScale {
    0% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0; }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1; } }

@media only screen and (max-width: 1200px) {
    h1 img {
	width: 80%; }
    .statistics, .calculator_right_block {
        width: 100%;
    }
/*    .statistics_content, .calculator_content {
        border-radius: 8px;
    }*/
    .calculator_right_block {
        margin-top: 55px;
    }
    .calculator_right_block h2{
        padding-left: 0;
    }
    .dashboard_form {
	padding: 40px 13px 50px 13px; }
    .dashboard_form button {
	width: 190px; } 
    .modal-content{
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .logo_main {
	width: 110px; }
    .main {
	margin: 30px 20px 40px; }
    .transaction table th, .transaction table td {
	padding: 10px 5px; } }

@media only screen and (max-width: 768px) {
    h1 {
	height: 94px; }
    h1 .logo_main {
	display: none; }
    h1 img {
	width: 50%; }
    h1 .logo_large {
	opacity: 0; }
    h1 .logo_small {
	opacity: 1; }
    h1 .logo_mini {
	display: block;
	padding: 19.5px 5px;
	width: 70px; }
    .text_bounty ul{
        column-count: 1;   
    }
    .top-line {
	padding: 10px 20px; }
    .top-line .amount {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	width: 100%;
	padding-top: 0; }
    .language-select {
	right: 22px;
	top: 15px; }
    .dashboard_form .box_select, .dashboard_form .box_qty, .dashboard_form .amount, .dashboard_form button {
	margin-left: 0; }
    .transaction table {
	width: auto;
	margin: 0 auto; }
    .transaction table td {
	display: block;
	text-align: left;
	border-color: #000;
	border-top: none; }
    .transaction table td:first-child {
        border-top: 1px solid #000; }
    .transaction table td:before {
        display: inline-block; }
    .transaction table th {
	display: none; }
    .transaction table tr {
	margin-bottom: 20px;
	display: block; }
    .key label {
	margin: 0 0 10px 10px;
	display: inline-block; }
/*    .statistics .counters {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
        -ms-flex-direction: column;
	flex-direction: column; }*/
    #tab2 .withdraw .balance {
	padding-left: 20px; }
    #tab2 .withdraw .balance:before {
	left: 10px; }
    #tab2 .withdraw .wrap_form {
	padding-left: 10px; }
    #tab2 .withdraw .wrap_form form {
	padding-left: 10px; }
    #tab2 .withdraw .wrap_form form label {
        display: block; }
        .modal-content{
        width: 90%;
    }

    #walletBtn, #walletBtnApprove, #walletBtnEdit {
        margin-bottom: 10px;
    }
    .form_step2 {
        display: flex;
        display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
        flex-wrap: wrap;
        webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
        flex-direction: column;
        -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
    }
    .form_step2 {
        display: none;
    } 
}

@media only screen and (max-width: 480px) {
    .baner .active{
        font-size: 23px;
    }
    .baner .right .big{
        font-size: 14px;
    }
    h1 img {
	width: 75%; }
    .slidebar {
	width: 20%;
	min-width: 64px; }
    .slidebar ul li a {
	padding: 20px 0; }
    .content {
	width: 80%; }
    .content .main {
	margin: 20px 10px 70px; }
    .content .main h2 {
        margin-bottom: 20px;
        font-size: 20px; }
    .top-line button {
	height: 38px; }
    .top-line button span {
	display: none; }
    .top-line .language-select {
	right: 15px; }
    .buttons_wrapp {
    margin-top: 0; }
    .language_select{
    position: relative;
    top: 5px; }
    .bounty_table table {
	width: auto;
	margin: 0 auto; }
    .bounty_table table td {
	display: block;
	text-align: left;
	border-color: #000;
	border-top: none; }
    .bounty_table table td:first-child {
        border-top: 1px solid #000; }
    .bounty_table table td:before {
        display: inline-block; }
    .bounty_table table th {
	display: none; }
    .bounty_table table tr {
	margin-bottom: 20px;
	display: block; }
    #tab2 .withdraw {
	padding: 10px; }
    #tab2 .withdraw .wrap_form form input {
	width: 180px; }
    #tab2 .withdraw .wrap_form form .amount input {
	width: 140px; }
    #tab3 .bounty input {
	display: block;
	margin: 0 auto 10px; }
    #tab4 form button {
	float: none;
	margin: 10px auto 0;
	display: block; }
    #tab5 ul {
	padding: 10px; }
    #tab5 ul li.hint {
	padding: 25px 20px; }
    .text_bounty, .referral_info {
        padding: 25px;
    }
    .referral_info {
        padding-right: 0;
    }
    .referral_link_wrapp, .referral_link_stats {
        margin-left: 0;
    }
    .referral_info .text_hint {
        left: 10px;
    }
    footer {
	padding: 20px 10px;
	text-align: center;
	bottom: 0; }
    footer a, footer p {
	float: none;
	display: block; }
    footer a {
	margin-bottom: 10px; } }
