{% extends 'AppBundle:Security:auth_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="form">
    <ul class="tab-group clearfix">
        <li class="tab"><a href="{{path('fos_user_registration_register')}}">Регистрация</a></li>
        <li class="tab"><a href="{{path('fos_user_security_login')}}">Авторизация</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">   
            <h2>Востановление пароля</h2>      
             <div class="error"><p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p></div>
        </div>
    </div>
    </div>
{% endblock body %}