{% trans_default_domain 'mail' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username})|raw }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': absolute_url(confirmationUrl)})|raw }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
