{% extends 'AppBundle:Security:auth_layout.html.twig' %}

{% block body %}
    <div class="form">
    <ul class="tab-group clearfix">
        <li class="tab"><a href="{{path('fos_user_registration_register')}}">Sign Up</a></li>
        <li class="tab"><a href="{{path('fos_user_security_login')}}">Sign In</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">   
            <h2>Востановление пароля</h2>            
           <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                <div class="field-wrap">
                    <label>
                        Email<span class="req">*</span>
                    </label>
                    <input type="email" id="Email" name="username" required/>
                </div>                
                <button class="button button-block"/>Востановить</button>
            </form>
        </div>
    </div>
    </div>
{% endblock body %}

