{% extends 'AppBundle:Security:auth_layout.html.twig' %}

{% block body %}
    <div class="form">
    <ul class="tab-group clearfix">
        <li class="tab"><a href="{{path('fos_user_registration_register')}}">Sign Up</a></li>
        <li class="tab"><a href="{{path('fos_user_security_login')}}">Sign In</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">   
            <h2>Создание пароля</h2>
            {% if form_errors(form.plainPassword.first)!=''%}
                <div class="error"><p>{{ form_errors(form.plainPassword.first) }}</p></div>
            {% endif %}
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                <div class="field-wrap">
                    <label>
                        Новый пароль<span class="req">*</span>
                    </label>
                    {{ form_widget(form.plainPassword.first )}}
                </div>
                <div class="field-wrap">
                    <label>
                        Подтвердите пароль<span class="req">*</span>
                    </label>
                    {{ form_widget(form.plainPassword.second )}}
                </div>               
                    {{ form_widget(form._token )}}
                <button class="button button-block"/>Сохранить</button>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock body %}

