<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=RobotoItalic' rel='stylesheet'>
<center>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		        <div>
		        	<img src="bg_email.png" width="300" height="40" style="margin-top: 40px;margin-bottom: 40px;">
		        </div>   
	        </td>     	
        </tr>
        <tr></tr>
        </tbody>
    </table>
    <hr style="width: 80%; border-top: 1px solid #013064;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; padding-bottom: 10px; font-size: 22px; color: #013064;font-family:'Roboto'"><strong>Welcome!</strong></p> 
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; font-size: 13px;font-family:'RobotoItalic';"><i>You have been subscribed to Boosteroid newsletter!</i></p>
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 5px; padding-bottom: 30px; font-size: 13px;font-family:'RobotoItalic';"><i>Now you can get information about the project, bonuses and other company news.</i></p>
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <a href="%url%" style="border: 1px #013064; background-color: #013064; text-decoration: none; color: #fff; text-transform: uppercase; padding: 8px; font-size: 12px;font-family:'Roboto';">confirm your email address</a> 
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; font-size: 13px;font-family:'RobotoItalic';"><i>Stay tuned!</i></p> 
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 5px; padding-bottom: 10px; font-size: 13px;font-family:'RobotoItalic';"><i>the Boosteroid team.</i></p> 
	        </td>     	
        </tr>
        </tbody>
    </table>
    <hr style="width: 80%; margin-top: 10px; border-top: 1px solid #013064;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		      <p style="font-size: 13px;font-family:'Roboto';">&copy; 2017 Boosteroid  </p>
	        </td>     	
        </tr>
        <tr></tr>
        </tbody>
    </table>
</center>