<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<!-- <link href='https://fonts.googleapis.com/css?family=RobotoItalic' rel='stylesheet'> -->
<center>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		        <div>
		        	<img src="bg_email.png" width="100%" height="200">
                    <img src="white_paper/boosteroid_black.svg" width="400" height="35" style="position: absolute; top:85px; left:40%;">
		        </div>   
	        </td>     	
        </tr>
        <tr></tr>
        </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; padding-bottom: 10px; font-size: 22px; color: #013064;font-family:'Roboto'"><strong>Dear investor,</strong></p> 
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; font-size: 14px;font-family:'RobotoItalic';">We start 1st ICO stage on October 23rd (<a href="https://boosteroid.com/">https://boosteroid.com/</a>) and invite you to join our project that<br /> will allow to create  a personal cloud computer available for everyone.</p>
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="text-transform: uppercase; padding-top: 20px; padding-bottom: 20px; font-size: 14px;font-family:'RobotoItalic';">token sale:</p>
	        </td>     	
        </tr>
        <tr>
            <td align="center">
                <p style="padding-top: 5px; padding-bottom: 5px; font-size: 14px;font-family:'RobotoItalic';">Starts on OCTOBER 23rd AT 9:00 (CET)</p>
            </td>       
        </tr>
        <tr>
            <td align="center">
                <p style="padding-top: 5px; padding-bottom: 20px; font-size: 14px;font-family:'RobotoItalic';">Ends on NOVEMBER 6th, 2017 AT 21:00 (CET)</p>
            </td>       
        </tr>
        <tr>
            <td align="center">
                <p style="padding-top: 15px; padding-bottom: 20px; font-size: 14px;font-family:'RobotoItalic';">You can buy BTR tokens with ETH, BTC, LTC, BCH in the personal account on the website.</p>
            </td>       
        </tr>
        <tr>
	        <td align="center">
		        <a href="https://boosteroid.com/" style="width: 150px; display: block; border: 1px #013064; background-color: #013064; text-decoration: none; color: #fff; text-transform: uppercase; padding: 8px; font-size: 12px;font-family:'Roboto';">BUY TOKENS NOW</a> 
	        </td>     	
        </tr>
        <tr>
            <td align="center">
                <p style="padding-top: 40px; padding-bottom: 20px; font-size: 14px;font-family:'RobotoItalic';">What is BTR token and  why should it be in a wallet of every cryptoinvestor – find out here:</p>
            </td>       
        </tr>
        <tr>
            <td align="center">
                <a href="http://blog.boosteroid.com/en/ico-boosteroid/kak-zarabotat-na-ico-boosteroid/" style="width: 150px; display: block; border: 1px #013064; background-color: #013064; text-decoration: none; color: #fff; text-transform: uppercase; padding: 8px; font-size: 12px;font-family:'Roboto';">FIND OUT MORE</a> 
            </td>       
        </tr>
        <tr>
            <td align="center">
                <p style="padding-top: 40px; padding-bottom: 20px; font-size: 14px;font-family:'RobotoItalic';">We’d be glad to answer all your questions:</p>
            </td>       
        </tr>
        <tr>
            <td align="center">
                <a href="https://t.me/boosteroid_support" style="width: 150px; display: block; border: 1px #013064; background-color: #013064; text-decoration: none; color: #fff; text-transform: uppercase; padding: 8px; font-size: 12px;font-family:'Roboto';">boosteroid supporn</a> 
            </td>       
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 20px; font-size: 13px;font-family:'RobotoItalic';"><i>Stay tuned!</i></p> 
	        </td>     	
        </tr>
        <tr>
	        <td align="center">
		        <p style="padding-top: 5px; padding-bottom: 10px; font-size: 13px;font-family:'RobotoItalic';"><i>the Boosteroid team.</i></p> 
	        </td>     	
        </tr>
        </tbody>
    </table>
    <hr style="width: 80%; margin-top: 10px; border-top: 1px solid #013064;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
	        <td align="center">
		      <p style="font-size: 13px;font-family:'Roboto';">&copy; 2017 Boosteroid  </p>
	        </td>     	
        </tr>
        <tr></tr>
        </tbody>
    </table>
</center>