{% trans_default_domain 'landing' %}
<footer>
    <div class="content clearfix">
        <div class="join_us">
            <h4>{{ 'nine_display.footer_join_us'|trans }}</h4>
            <div class="soc_nav">
                <ul>
                    <li><a href="https://t.me/boosteroid_eng" target="_blank" rel="noreferrer nofollow noopener" class="telegram_ico"></a></li>
                    <li><a href="https://twitter.com/infoboosteroid" target="_blank" rel="noreferrer nofollow noopener" class="twitter_ico"></a></li>
                    <li><a href="https://medium.com/@Boosteroid" target="_blank" rel="noreferrer nofollow noopener" class="medium_ico"></a></li>
                    <li><a href="https://www.facebook.com/boosteroid.info" target="_blank" rel="noreferrer nofollow noopener" class="facebook_ico"></a></li>
                    <li><a href="https://www.reddit.com/r/Boosteroid/" target="_blank" rel="noreferrer nofollow noopener" class="reddit_ico"></a></li>
                    <li><a href="https://bitcointalk.org/index.php?topic=2217477.0" target="_blank" rel="noreferrer nofollow noopener" class="bitcointalk_ico"></a></li>
                </ul>
            </div>
            <div class="subscribe">
                <p>{{ 'first_display.subscribe'|trans }}</p>
                {{ form_start(second_form, {'method': 'post', 'attr': {'class': 'subscribe_email', 'id':'app_subscribe_f2'} }) }}
                {{ form_widget(second_form.email, {'attr': {'placeholder': 'first_display.placeholder'} }) }}
                <button onclick="ga('send', 'event', 'knopka', 'subscribe');"></button>
                {{ form_end(second_form) }}
            </div>

        </div>
        <div class="footer_nav">
            <h4><a href="index.html" class="logo"><img src="{{ asset('img/logo.png') }}" alt="boosteroid"></a></h4>
            <nav>
                <ul>
                    <li><a href="{{ path('landing_white') }}" target="_blank" rel="noreferrer nofollow noopener">White Paper</a></li>
                    <li><a href="#about">{{ 'top_menu.about'|trans }}</a></li>
                    <li><a href="#token">ICO</a></li>
                    <li><a href="http://blog.boosteroid.com/" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.blog'|trans }}</a></li>
                    <li><a href="mailto:support@boosteroid.com">support@boosteroid.com</a></li>
                </ul>
                <p class="adr">Platinum Plaza, 72 Sumska str, Kharkov, 61000, Ukraine</p> 
            </nav>
        </div>
        <div class="time">
            <h4>{{ 'nine_display.footer_time'|trans }}</h4>
            <div class="countdown">
                <div id="timer_f">
                    <div><span class="days_f">00</span></div>
                    <div><span class="hours_f">00</span></div>
                    <div><span class="minutes_f">00</span></div>
                    <div><span class="seconds_f">00</span></div>
                </div>
            </div>
            <a href="{{ path('fos_user_security_login') }}" class="button_learn">{{ 'nine_display.footer_button'|trans }}</a>
        </div>
    </div> 
</footer>