{% trans_default_domain 'landing' %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var data, chart;
    var options = {
	title: {display: "none"},
	bar: {groupWidth: "85%"},
	legend: {position: "none"},
	vAxis: { 
            gridlines: { count: 10 },
            format: 'currency',
            minValue: 0
        }
    };
    var lables = ['{{ 'calculator.chart.ico_stage_4'|trans }}', '{{ 'calculator.chart.ico_stage_5'|trans }}', '{{ 'calculator.chart.ico_stage_6'|trans }}', '{{ 'calculator.chart.ico_stage_7'|trans }}'];

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
	data = google.visualization.arrayToDataTable([
	    ['Element', 'Price, $', { role: 'style' } ],
	    [lables[0], {{ chartData[1] }}, '#b7efff'],
	    [lables[1], {{ chartData[2] }}, '#b8dff8'],
	    [lables[2], {{ chartData[3] }}, '#cbd1fb'],
	    [lables[3], {{ chartData[4] }}, '#ccc1f4']
	]);

        chart = new google.visualization.ColumnChart(document.getElementById('chart_tokens'));
        chart.draw(data, options);
    }
</script>