<!DOCTYPE html>
{% trans_default_domain 'landing' %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name='yandex-verification' content='50117816b3206e87' />
		<meta name = "format-detection" content = "telephone=no">
		<meta property="og:image" content="{{ asset('img/open_graf.png') }}" />

		<script src="{{ asset('js/webgl-utils.js') }}"></script>
		<title>{{ 'title'|trans({}, 'landing') }}</title>
		{% block stylesheets %}
			{% stylesheets 
		'css/libs.min.css'
		'css/main.css'
		'css/animate.css'
		'css/font-awesome.min.css'
		output='css/compiled/landing.css'
		filter='cssrewrite'
			%}
			<link rel="stylesheet"  href="{{ asset_url }}">
			<link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
			{% endstylesheets %}
		{% endblock stylesheets %}

{{ include('AppBundle:Landing:js_planet.html.twig') }}

{% block head_javascript %}
	{{ include('AppBundle:Landing:js_chart.html.twig') }}
</script>
{% endblock head_javascript %}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1464813866965501'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1464813866965501&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5DQ58W2');</script>
</head>
<body onload="webGLStart();" >
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ58W2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
	<div class="starts"></div>
	<span class="star"></span>
	<span class="star blue"></span>
	<div class="planet_wrap">
		<canvas id="planet-canvas" style="position:absolute; top:50%; left:50%; width:75%; height:75%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);"></canvas>
		<div class='planet'></div>
	</div>	
	<div  onmousedown="return false" onselectstart="return false" class="circle"> <img src="{{ asset('img/circle.png') }}" alt="circle"></div>
	<div class="slogan">
		<div class="s_wrap">
			<div class="big_logo"><img class="logo" src="{{ asset('img/boosteroid.svg') }}" alt="boosteroid"></div>
		<p onmousedown="return false" onselectstart="return false">{{ 'top_menu.slogan'|trans({}, 'landing')|raw }}</p>
		</div>
		<div class="crug"></div>
	</div>
	<div class="top_line">
		<h1><a href="{{path('landing_page')}}" class="logo"><img src="{{ asset('img/boosteroid.svg') }}" alt="boosteroid"></a></h1>
		<nav>
				<ul onmousedown="return false" onselectstart="return false">
		<li><a href="{{ path('landing_white') }}" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.white_paper'|trans({}, 'landing') }}</a></li>
		<li><a href="#token">{{ 'top_menu.btr_token'|trans({}, 'landing') }}</a></li>
				<li><a href="#faq">{{ 'top_menu.faq'|trans({}, 'landing') }}</a></li> 
				{#<li><a href="{{ path('landing_bounty') }}" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.bounty'|trans({}, 'landing') }}</a></li>#}
				<li><a href="http://blog.boosteroid.com/" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.blog'|trans({}, 'landing') }}</a></li>
				<li><a href="{{ path('landing_test_mode_stub') }}" rel="noreferrer nofollow noopener">{{ 'top_menu.test'|trans({}, 'landing') }}</a></li>

		</ul>
		</nav>
		<div class="toggle_menu">
			<span></span>
		</div>
		<div class="mobail_nav">
			<ul class="main_nav" onmousedown="return false" onselectstart="return false">
				<li><a href="{{ path('landing_white') }}" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.white_paper'|trans({}, 'landing') }}</a></li>
				<li><a href="#token">{{ 'top_menu.btr_token'|trans({}, 'landing') }}</a></li>
				<li><a href="#faq">{{ 'top_menu.faq'|trans({}, 'landing') }}</a></li> 
				{#<li><a href="{{ path('landing_bounty') }}" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.bounty'|trans({}, 'landing') }}</a></li>#}	
				<li><a href="http://blog.boosteroid.com/" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.blog'|trans({}, 'landing') }}</a></li>
				<li><a href="https://cloud.boosteroid.com/" target="_blank" rel="noreferrer nofollow noopener">{{ 'top_menu.test'|trans({}, 'landing') }}</a></li>
				<li class="language_mobile">
					{{ include('AppBundle:Landing:languages_mobile.html.twig') }}
				</li>
			{% if app.User %}
		<li><a class="cabinet" href="{{path('fos_user_security_login')}}">{{ 'left_menu.cabinet'|trans({}, 'landing') }}</a></li>
				<li><a class="logout" href="{{path('fos_user_security_login')}}">{{ 'left_menu.logout'|trans({}, 'landing') }}</a></li>
			{% else %}
				<li><a class="register" href="{{path('fos_user_security_login')}}">{{ 'left_menu.sing_in'|trans({}, 'landing') }}</a></li>
			{%endif%}
			</ul>
			<div class="soc_nav_mob">
				<ul>
					<li><a href="https://t.me/boosteroid_eng" target="_blank" rel="noreferrer nofollow noopener" class="telegram_ico"></a></li>
					<li><a href="https://twitter.com/infoboosteroid" target="_blank" rel="noreferrer nofollow noopener" class="twitter_ico"></a></li>
					<li><a href="https://medium.com/@Boosteroid" target="_blank" rel="noreferrer nofollow noopener" class="medium_ico"></a></li>
					<li><a href="https://www.facebook.com/boosteroid.info" target="_blank" rel="noreferrer nofollow noopener" class="facebook_ico"></a></li>
					<li><a href="https://www.reddit.com/r/Boosteroid/" target="_blank" rel="noreferrer nofollow noopener" class="reddit_ico"></a></li>
					<li><a href="https://bitcointalk.org/index.php?topic=2217477.0" target="_blank" rel="noreferrer nofollow noopener" class="bitcointalk_ico"></a></li>
				</ul>
			</div> 
		</div>
		<div class="buttons_wrap">
		{{ include('AppBundle::languages.html.twig') }}
		{% if app.User %}
			<a class="cabinet desc" href="{{path('fos_user_security_login')}}">{{ 'left_menu.cabinet'|trans({}, 'landing') }}</a>
			<a class="logout desc" href="{{path('fos_user_security_logout')}}">{{ 'left_menu.logout'|trans({}, 'landing') }}</a>
		{% else%}
			<a class="register desc" href="{{path('fos_user_security_login')}}">{{ 'left_menu.sing_in'|trans({}, 'landing') }}</a>
		{%endif%}
			<a  class="buy" href="{{path('fos_user_security_login')}}">{{ 'left_menu.buy'|trans({}, 'landing') }}</a>
		</div>
	</div>
	<div class="main">		
		<div class="wrap_timer">
			<p>{{ 'first_display.wrap_timer'|trans({}, 'landing') }}:</p>
			<div class="countdown">
				<div id="timer">
					<div><span class="days">00</span><p>{{ 'first_display.days'|trans({}, 'landing') }}</p></div>
					<div><span class="hours">00</span><p>{{ 'first_display.hours'|trans({}, 'landing') }}</p></div>
					<div><span class="minutes">00</span><p>{{ 'first_display.minutes'|trans({}, 'landing') }}</p></div>
					<div><span class="seconds">00</span><p>{{ 'first_display.seconds'|trans({}, 'landing') }}</p></div>
				</div>
				<!-- <p></p> -->
				<div class="invested_wrap">
									{% if investedAmount is defined and investedAmount is not empty %}
										<p class="invested">&#36;{{ investedAmount }} {{ 'first_display.invested'|trans }}</p>
										<p>{{ 'first_display.all_unsold'|trans|raw }}</p>
									{% else %}
										<p>{{ 'first_display.preico_text'|trans|raw }}</p>
									{% endif %}
				</div>
				<!-- <p class="now">{{ 'first_display.preico_now'|trans({}, 'landing') }}</p> -->
			</div>
		</div>
		<a href="{{path('fos_user_security_login')}}" {#id="modal_baunty"#} class="program">{{ 'first_display.bounty_btn'|trans({}, 'landing') }}</a>
<!-- 		<div class="subscribe">
		<p>{{ 'first_display.subscribe'|trans({}, 'landing') }}</p>
				{{ form_start(first_form, {'method': 'post', 'attr': {'class': 'subscribe_email', 'id':'app_subscribe_f1'} }) }}
				{{ form_widget(first_form.email, {'attr': {'placeholder': 'first_display.placeholder'} }) }}
		<button onclick="ga('send', 'event', 'knopka', 'subscribe');"></button>
		{{ form_end(first_form) }}
		</div> -->
		<button class="header_modal_btn modal_button_active"></button>
	</div>
	<div class="soc_nav">
		<ul>
			<li><a href="https://t.me/boosteroid_eng" target="_blank" rel="noreferrer nofollow noopener" class="telegram_ico"></a></li>
			<li><a href="https://twitter.com/infoboosteroid" target="_blank" rel="noreferrer nofollow noopener" class="twitter_ico"></a></li>
			<li><a href="https://medium.com/@Boosteroid" target="_blank" rel="noreferrer nofollow noopener" class="medium_ico"></a></li>
			<li><a href="https://www.facebook.com/boosteroid.info" target="_blank" rel="noreferrer nofollow noopener" class="facebook_ico"></a></li>
			<li><a href="https://www.reddit.com/r/Boosteroid/" target="_blank" rel="noreferrer nofollow noopener" class="reddit_ico"></a></li>
			<li><a href="https://bitcointalk.org/index.php?topic=2217477.0" target="_blank" rel="noreferrer nofollow noopener" class="bitcointalk_ico"></a></li>

		</ul>
	</div>
	<div class="modal_wrapper">
		<div class="header_modal_close"></div>
		<div class="header_modal_block">
			<div class="modal_block modal_block_1">
				<p><b><span class="upper">{{ 'service_rent_section.btr'|trans({}, 'landing') }}</span></b><br/>{{ 'service_rent_section.equals_1'|trans({}, 'landing') }}<br/>{{ 'service_rent_section.equals_2'|trans({}, 'landing') }}:</p>
				<div class="cpu"><img src="{{ asset('img/header_cpu.png')}}" alt=""></div>
				<div class="gpu"><img src="{{ asset('img/header_gpu.png')}}" alt=""></div>
				<div class="ram"><img src="{{ asset('img/header_ram.png')}}" alt=""></div>
				<div class="ssd"><img src="{{ asset('img/header_ssd.png')}}" alt=""></div>
			</div>
			<div class="modal_block modal_block_2">
				<p>{{ 'service_rent_section.same'|trans({}, 'landing') }}:</p>
				<div>
					<p>{{ 'service_rent_section.aws'|trans({}, 'landing') }}<br/><b><span class="number">{{ 'service_rent_section.aws_price'|trans({}, 'landing') }}</span></b></p>
				</div>
				<div>
					<p>{{ 'service_rent_section.microsoft'|trans({}, 'landing') }}<br/><b><span class="number">{{ 'service_rent_section.microsoft_price'|trans({}, 'landing') }}</span></b></p>
				</div>
				<div>
					<p>{{ 'service_rent_section.google_cloud'|trans({}, 'landing') }}<br/><b><span class="number">{{ 'service_rent_section.google_cloud_price'|trans({}, 'landing') }}</span></b></p>
				</div>
			</div>
			<div class="modal_block modal_block_3">
				<p>{{ 'service_rent_section.btr_price'|trans({}, 'landing') }}: <b><span class="number">{{ 'service_rent_section.btr_price_2'|trans({}, 'landing') }}</span></b></p>
			</div>
		</div> 
	</div>
</header>

{{ include('AppBundle:Landing:section_about.html.twig') }}

{{ include('AppBundle:Landing:section_work_principe.html.twig') }}

<section class="building_started">
	<section class="building_started_blocks">
		<div class="content">
			<h2>{{ 'building_section.title'|trans }}</h2>
			<h3>{{'building_section.subtitle'|trans }}</h3>
			<p><span class="upper">{{ 'building_section.text_1'|trans|raw }}</span><br/>{{ 'building_section.text_2'|trans|raw }}</p>
		</div>
	</section>
</section>

{{ include('AppBundle:Landing:section_token.html.twig') }}

<section class="exchange_service content">
	<h2>{{ 'exchange_section.title'|trans|raw }}</h2>
	<h3>{{ 'exchange_section.subtitle'|trans|raw }}</h3>
	<p>{{ 'exchange_section.text'|trans|raw }}</p>
	<div class="img_wrap">
		<img src="{{ asset('img/exchange_service.gif') }}" alt="">
	</div>
</section>

{{ include('AppBundle:Landing:section_growth_chart.html.twig') }}

{{ include('AppBundle:Landing:section_calculator.html.twig') }}

{{ include('AppBundle:Landing:section_machine_learning.html.twig') }}

{{ include('AppBundle:Landing:section_ico_tokens_sale.html.twig') }}

{{ include('AppBundle:Landing:section_benefits.html.twig') }}

{{ include('AppBundle:Landing:section_roadmap.html.twig') }}

<section class="why_us">
	<div class="content">
		<h2>{{ 'third_display.why_us'|trans({}, 'landing') }}</h2>
		<h3>{{ 'third_display.under_why_text'|trans({}, 'landing') }}:</h3>
		<div class="why_us_inner">	
			<div class="why_us_argument"><img src="{{ asset('img/why_us_building.png')}}" alt="">
				<p>{{ 'third_display.building'|trans({}, 'landing') }}</p>
			</div>
			<div class="why_us_argument"><img src="{{ asset('img/why_us_token_growth.png')}}" alt="">
				<p>{{ 'third_display.token_growth'|trans({}, 'landing') }}</p>
			</div>
			<div class="why_us_argument"><img src="{{ asset('img/why_us_token.png')}}" alt="">
				<p>{{ 'third_display.token'|trans({}, 'landing') }}</p>
			</div>
			<div class="why_us_argument"><img src="{{ asset('img/why_us_investment.png')}}" alt="">
				<p>{{ 'third_display.investment'|trans({}, 'landing') }}</p>
			</div>
			<div class="why_us_argument"><img src="{{ asset('img/why_us_demand.png')}}" alt="">
				<p>{{ 'third_display.demand'|trans({}, 'landing') }}</p>
			</div>
			<a href="{{path('fos_user_security_login')}}" class="button_learn">{{ 'third_display.button'|trans({}, 'landing') }}</a>
		</div>
	</div>
</section>

{{ include('AppBundle:Landing:section_team.html.twig') }}

{{ include('AppBundle:Landing:section_partners.html.twig') }}

<section id="faq" class="gray">
	<div class="content">
		<h2>{{ 'faq_display.title'|trans }}</h2>
		<h3>{{ 'faq_display.faq_title'|trans }}</h3>
                {{ include('AppBundle:Information:static_block_faq.html.twig') }}
	</div> 
</section>

{{ include('AppBundle:Landing:footer.html.twig') }}

<div id="bautny_modal" class="modal_baunty">
	<div class="modal-content">
		<span class="close_baunty">&times;</span><br/><br/>
		<h2>{{ 'bautny_modal.title'|trans({}, 'landing') }}</h2>
		<p class="big">
			{{ 'bautny_modal.big'|trans({}, 'landing')|raw }}
		</p>
		<h5>{{ 'bautny_modal.list_title'|trans({}, 'landing') }}:</h5>
		<br>
		<ul>
			<li>{{ 'bautny_modal.list1'|trans({}, 'landing')|raw }}</li>
			<li>{{ 'bautny_modal.list2'|trans({}, 'landing')|raw }}</li>
			<li>{{ 'bautny_modal.list3'|trans({}, 'landing')|raw }}</li>
		</ul>
		<p>{{ 'bautny_modal.ps'|trans({}, 'landing')|raw }}</p>
		<br/>

		<br/><br/>
		 <div class="link">
		<a href="{{path('landing_bounty')}}" class="button_learn" target="_blank" rel="noreferrer nofollow noopener">{{ 'fifth_display.btr_learn_more'|trans({}, 'landing') }}</a>
		<ul>
			<li><a href="https://bitcointalk.org/index.php?topic=2217477.new#new" target="_blank" rel="noreferrer nofollow noopener"></a></li>
			<li><a href="https://t.me/bountyboosteroid" target="_blank" rel="noreferrer nofollow noopener"></a></li>

		</ul>
	</div>
	</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
<!-- Modal content -->
	<div class="modal-content">
	<span class="close">&times;</span><br/><br/>
		<p class="font-xxx" id="subscribe_message"></p><br/><br/><br/>         
	</div>
</div>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% javascripts 
		'js/libs.min.js'
		'js/language.js'
		'js/common.js'
		'js/chart.js'
		output='js/compiled/landing.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script>
		$("#app_subscribe_f1").submit(function (e) {
			e.preventDefault();
			var form_data = $(this).serialize();
			$("#app_subscribe_f1 button").attr('disable', 'disable');
					var context = '';
					$.post('{{ path('landing_subscribe') }}', form_data).done(
						function(data){
							if (data.success){
								context = "{{ 'subscribe.success'|trans({}, 'landing')|raw }}";
							} else if(data.success === false) {
								context = "{{ 'subscribe.error'|trans({}, 'landing')|raw }}";
							}else{
								context = "{{ 'subscribe.error_send'|trans({}, 'landing')|raw }}";
							}
							$("#app_subscribe_f1 button").removeAttr('disabled');
							$('.subscribe').empty();
							$('.subscribe').append('<br/><p></p><p style="text-align:center;">'+context+'</p>');
						}
					);
		});

		$("#app_subscribe_f2").submit(function (e) {
			e.preventDefault();
			var form_data = $(this).serialize();
			$("#app_subscribe_f2 button").attr('disabled', 'disabled');
			var context = '';
			$.post('{{ path('landing_subscribe') }}', form_data).done(
				function(data){
					if (data.success){
						context = "{{ 'subscribe.success'|trans({}, 'landing')|raw }}";
					} else if(data.success === false) {
						context = "{{ 'subscribe.error'|trans({}, 'landing')|raw }}";
					}else{
						context = "{{ 'subscribe.error_send'|trans({}, 'landing')|raw }}";
					}
					$("#app_subscribe_f2 button").removeAttr('disabled');
					$('.subscribe').empty();
					$('.subscribe').append('<br/><p></p><p style="text-align:center;">'+context+'</p>');
				}
			);
		});

{#        function subscribe(data){
			$.post('{{ path('landing_subscribe') }}', data).done(
				function(data){
					var modal = $('#myModal');
					if (data.success){
						$('#subscribe_message').html("{{ 'modal.subscribe.success'|trans({}, 'landing')|raw }}");
					} else if(data.success === false) {
						$('#subscribe_message').html("{{ 'modal.subscribe.error'|trans({}, 'landing')|upper|raw }}");
					}else{
						$('#subscribe_message').html("{{ 'modal.subscribe.error_send'|trans({}, 'landing')|upper|raw }}");
					}
					$("#app_subscribe_f1 button").removeAttr('disabled');
					modal.css('display', "block");
				}
			);
		}#}
	</script>
	<script>
		// Get the modal
		var modal = document.getElementById('myModal');
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		};

		// When the user clicks anywhere outside of the modal, close it
		modal.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		};

		  var modalWindow = $('.modal_wrapper');
		  var modalOpen = $('.header_modal_btn');
		  var modalClose = $('.header_modal_close');
		  var headerLanding = $('header');



		  modalOpen.click(function(){
			modalWindow.toggleClass('header_modal_active');
			$(this).toggleClass('modal_button_active');

			if (modalWindow.innerHeight() > headerLanding.innerHeight()) {
				headerLanding.innerHeight(modalWindow.innerHeight() + 80);
			}
		  });

		  modalClose.click(function(){
			modalWindow.toggleClass('header_modal_active');
			$(this).toggleClass('modal_button_active');
			modalOpen.toggleClass('modal_button_active');
			headerLanding.css({'height' : '100vh'});
		  });
	</script>
	{% endblock javascripts %}
	{#<script src="{{ asset('js/jquery.nicescroll.js') }}"></script>#}
        <!-- BEGIN JIVOSITE CODE {literal} -->
        <script type='text/javascript'>
        (function(){ var widget_id = 'kBwi6R8MLo';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
        <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>


