{% trans_default_domain 'landing' %}
{% import _self as activeLang %}
<ul class="language_select">
{#    <li {{ activeLang.getActiveLocale(app.Request.locale, 'ru_RU') }}>{{ 'left_menu.lang.ru'|trans }}</li>#}
    <li {{ activeLang.getActiveLocale(app.Request.locale, 'en_EN') }}>{{ 'left_menu.lang.en'|trans }}</li>
    {#<li {{ activeLang.getActiveLocale(app.Request.locale, 'zh_CN') }}>{{ 'left_menu.lang.ch'|trans }}</li>#}
    <li {{ activeLang.getActiveLocale(app.Request.locale, 'ja_JP') }}>{{ 'left_menu.lang.jp'|trans }}</li>
</ul>

{% macro getActiveLocale(currentLocale, locale) %}
    {% if currentLocale == locale %}
        class="active"
    {% else %}
        onclick="change_lang('{{ locale }}');"
    {% endif %}
{% endmacro %}