{% trans_default_domain 'landing' %}
<section class="benefits">
    <div class="content">
        <h2>{{ 'benefits_section.title'|trans|raw }}</h2>
        <h3>{{ 'benefits_section.subtitle'|trans|raw }}</h3>
        <div class="benefit_wrap clearfix">	
            <div class="benefit benefit1">
                <p class="benefit_name">{{ 'benefits_section.users_title'|trans|raw }}</p>
                <p>{{ 'benefits_section.users_text'|trans|raw }}</p>
            </div>
            <div class="benefit benefit2">
                <p class="benefit_name">{{ 'benefits_section.traders_title'|trans|raw }}</p>
                <p>{{ 'benefits_section.traders_text'|trans|raw }}</p>
            </div>
        </div>
    </div>	
</section>