{% trans_default_domain 'landing' %}
<section class="tokens_wrap gray">
    <div class="tokens content">
        <h2>{{ 'fifth_display.btr_token'|trans }}</h2>
        <h3>{{ 'fifth_display.btr_token_text_under'|trans }}</h3>
        <p class="about">{{ 'fifth_display.btr_token_description'|trans }}</p>
        <div class="stage">
            {#<div class="preico">
                <h4>{{ 'fifth_display.btr_pre_ico2'|trans }}</h4>
                <table>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_date'|trans }}:</td>
                        <td>{{ 'fifth_display.btr_pre_ico_date_month2'|trans }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_start_price'|trans }}:</td>
                        <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $1.08</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_finish_price'|trans }}:</td>
                        <td>{{ 'fifth_display.btr'|trans }} = $1.38</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_quantity'|trans }}:</td>
                        <td>300 000 000</td>
                    </tr>
                </table>
                <p>{{ 'fifth_display.btr_pre_ico_discount'|trans|raw }}</p>
            </div>#}
            {#<div class="bonus">
                    <h4>{{ 'fifth_display.btr_bonuses'|trans({}, 'landing')|raw }}</h4>     
            
                    <a href="{{ path('landing_white') }}#bonus_programs" target="_blank" rel="noreferrer nofollow noopener">{{ 'fifth_display.btr_learn_more'|trans({}, 'landing') }}</a>
            
                    <div class="prize">
                            <div>
                                    <p>{{ 'fifth_display.btr_bonuses_prize'|trans({}, 'landing') }}:</p>
                                    <span>28&nbsp;000&nbsp;000</span>
                            </div>
                            <div>
                                    <p>{{ 'fifth_display.btr_bonuses_participants'|trans({}, 'landing') }}:</p>
                                    <span>32 105</span>
                            </div>
                            <div>
                                    <p>{{ 'fifth_display.btr_bonuses_max_prize'|trans({}, 'landing') }}:</p>
                                    <span>1 000 000</span>
                            </div>
                    </div>
                    <p class="description">{{ 'fifth_display.btr_bonuses_description'|trans({}, 'landing') }}</p>
            </div>#}
            <div class="ico">
                {#<h4>ICO</h4>
                <table>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_date'|trans({}, 'landing')|raw  }}:</td>
                        <td>{{ 'fifth_display.btr_ico_month'|trans({}, 'landing')|raw  }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_start_price'|trans({}, 'landing')|raw  }}:</td>
                        <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $0.48</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_finish_price'|trans({}, 'landing') }}:</td>
                        <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $2.78</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_quantity'|trans({}, 'landing') }}:</td>
                        <td>800 000 000</td>
                    </tr>
                </table>
                <div class="ico2">
                    <h4>{{ 'fifth_display.btr_pre_ico2'|trans({}, 'landing') }}</h4>
                    <table>
                        <tr>
                            <td>{{ 'fifth_display.btr_pre_ico_date'|trans({}, 'landing') }}:</td>
                            <td>{{ 'fifth_display.btr_pre_ico_date_month2'|trans({}, 'landing') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'fifth_display.btr_pre_ico_start_price'|trans({}, 'landing') }}:</td>
                            <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $1.08</td>
                        </tr>
                        <tr>
                            <td>{{ 'fifth_display.btr_pre_ico_finish_price'|trans({}, 'landing') }}:</td>
                            <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $1.38</td>
                        </tr>
                        <tr>
                            <td>{{ 'fifth_display.btr_pre_ico_quantity'|trans({}, 'landing') }}:</td>
                            <td>300 000 000</td>
                        </tr>
                    </table>
                </div> #}

                <h4>{{ 'fifth_display.btr_pre_ico3'|trans({}, 'landing') }}</h4>
                <table>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_date'|trans({}, 'landing') }}:</td>
                        <td>{{ 'fifth_display.btr_pre_ico_date_month3'|trans({}, 'landing') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_start_price'|trans({}, 'landing') }}:</td>
                        <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $1.88</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_finish_price'|trans({}, 'landing') }}:</td>
                        <td>{{ 'fifth_display.btr'|trans({}, 'landing') }} = $2.78</td>
                    </tr>
                    <tr>
                        <td>{{ 'fifth_display.btr_pre_ico_quantity'|trans({}, 'landing') }}:</td>
                        <td>400 000 000</td>
                    </tr>
                </table>
                <p>{{ 'fifth_display.btr_ico_bonus'|trans({}, 'landing')|raw }}</p>
            </div>
            <div class="preico">
                <h4>{{ 'fifth_display.btr_new_bonuses'|trans }}</h4>
                <p>{{ 'fifth_display.btr_new_bonuses_up_text'|trans|raw }}</p>
                <table style="width:100%;">
                    <tr>
                        <td style="width:70% !important;">{{ 'fifth_display.btr_new_bonuses_10_procent'|trans|raw }}</td>
                        <td style="width:30% !important;">10%</td>
                    </tr>
                    <tr>
                        <td style="width:70% !important;">{{ 'fifth_display.btr_new_bonuses_15_procent'|trans|raw }}</td>
                        <td style="width:30% !important;">15%</td>
                    </tr>
                    <tr>
                        <td style="width:70% !important;">{{ 'fifth_display.btr_new_bonuses_20_procent'|trans|raw }}</td>
                        <td style="width:30% !important;">20%</td>
                    </tr>
                    <tr>
                        <td style="width:70% !important;">{{ 'fifth_display.btr_new_bonuses_25_procent'|trans|raw }}</td>
                        <td style="width:30% !important;">25%</td>
                    </tr>
                </table>
            </div>
            {#<div class="lottery">
                    <h4>{{ 'fifth_display.btr_lotery'|trans({}, 'landing')|raw }}</h4>
                    <a href="{{ path('landing_white') }}#bonus_programs" target="_blank" rel="noreferrer nofollow noopener">{{ 'fifth_display.btr_learn_more'|trans({}, 'landing') }}</a>
                    <div class="prize">
                            <div>
                                    <p>{{ 'fifth_display.btr_lotery_total_pize'|trans({}, 'landing') }}:</p>
                                    <span>40&nbsp;000&nbsp;000</span>
                            </div>
                            <div>
                                    <p>{{ 'fifth_display.btr_lotery_min_people'|trans({}, 'landing') }}:</p>
                                    <span>10 000</span>
                            </div>
                     </div>
                            <p class="description">{{ 'fifth_display.btr_lotery_description'|trans({}, 'landing') }}</p>
            </div>#}
        </div>
    </div>
</section>