{% trans_default_domain 'landing' %}
<section id="token" class="btr_token_block">
    <div class="content">
        <h2>{{ 'btr_token_section.title'|trans|raw }}</h2>
        <h3>{{ 'btr_token_section.subtitle'|trans|raw }}</h3>
        <p class="btr_token_text">{{ 'btr_token_section.text_1'|trans|raw }} <br/><br/>{{ 'btr_token_section.text_2'|trans|raw }}</p>
        <div class="btr_token_wrapper">
            <ul>
                <li><p><b><span class="modified">{{ 'service_rent_section.btr'|trans }}</span></b><br/>{{ 'service_rent_section.equals_1'|trans }} {{ 'service_rent_section.equals_2'|trans }}:</p></li>
                <li><img src="{{ asset('img/cpu.png') }}" alt="cpu"></li>
                <li><img src="{{ asset('img/gpu.png') }}" alt="gpu"></li>
                <li><img src="{{ asset('img/ram.png') }}" alt="ram"></li>
                <li><img src="{{ asset('img/ssd.png') }}" alt="ssd"></li>
            </ul>
            <div class="btr_token_block__inner">
                <div class="btr_token_price btr_token_price_1">
                    <p>{{ 'service_rent_section.same'|trans }}:</p>
                    <div>
                        <p>{{ 'service_rent_section.aws'|trans }}<br/><b><span class="number">{{ 'service_rent_section.aws_price'|trans }}</span></b></p>
                    </div>
                    <div>
                        <p>{{ 'service_rent_section.microsoft'|trans }}<br/><b><span class="number">{{ 'service_rent_section.microsoft_price'|trans }}</span></b></p>
                    </div>
                    <div>
                        <p>{{ 'service_rent_section.google_cloud'|trans }}<br/><b><span class="number">{{ 'service_rent_section.google_cloud_price'|trans }}</span></b></p>
                    </div>
                </div>
                <div class="btr_token_price btr_token_price_2">
                    <p>{{ 'service_rent_section.btr_price'|trans }}: <b><span class="number">{{ 'service_rent_section.btr_price_2'|trans }}</span></b></p>
                </div>
            </div>
        </div>
    </div>
</section>
