{% trans_default_domain 'landing' %}
<div class="roadmap">
    <div class="content">
        <h2>{{ 'fourth_display.road_map'|trans|raw }}</h2>
        <h3>{{ 'fourth_display.under_text'|trans }}</h3>
    </div>
    <ul>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.first_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.first_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.second_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.second_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.third_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.third_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_line"></div>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.fourth_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.fourth_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_line"></div>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.fifth_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.fifth_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.eighth_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.eighth_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.ninth_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.ninth_stage_date'|trans }}</p>
            </div>
        </li>
        <li>
            <div class="deco_block"></div>
            <div class="roadmap_li_inner">
                <h4>{{ 'fourth_display.tenth_stage'|trans|raw }}</h4>
                <p>{{ 'fourth_display.tenth_stage_date'|trans }}</p>
            </div>
            <div class="deco_block_last"></div>
        </li>
    </ul>
    <h4>{{ 'fourth_display.last_stage'|trans}}</h4>
</div>
