{% trans_default_domain 'landing' %}
<section id="about" class="product_wrap content clearfix">
    <div class="product clearfix">
        <div class="product_about">
            <h2 class="fadeInUp" data-wow-delay="0.3s" data-wow-duration="2s" >{{ 'second_display.first_header'|trans }}</h2>
            <h3 class="fadeInUp" data-wow-delay="0.3s" data-wow-duration="2s" >{{ 'second_display.second_header'|trans }}</h3>
            <p>{{ 'second_display.main_text'|trans|raw }}</p>
        </div>
        <div class="video">
            {#<iframe src="https://www.youtube.com/embed/SW_6fRf7xxM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>#}
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLjHbzGDj_AIlojUUNs5_r0eUFWQIA57w0" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="product_learn">
        <div class="product_discount">
            <h2>{{ 'second_display.percent_text'|trans }}</h2>
            <h3>{{ 'second_display.second_text'|trans }}</h3>
        </div>
        <div class="div_learn">
            <a href="{{ path('landing_white') }}" target="_blank" rel="noreferrer nofollow noopener" class="button_learn">{{ 'fifth_display.btr_learn_more'|trans }} </a>
        </div>
    </div>
</section>
