{% trans_default_domain 'landing' %}
<section id="calculator" class="calculator_wrap clearfix">
    <div class="content">   
        <div class="token_calculator">
            <h2>{{ 'calculator.title'|trans }}</h2>
            <h3>{{ 'calculator.subtitle'|trans }}</h3>
        </div>
        <div class="calculator_inner">
            <div class="calculator_left_block">
                <h4>{{ 'calculator.second_title'|trans|upper }}</h4>
                <div class="gain">
                    {{ 'calculator.form.subtitle'|trans|raw }}
                </div>
                <div class="enter_amount">
                    {{ 'calculator.form.label.amount'|trans|raw }}
                </div>
                <input id="app_token_calculator" type="tel" pattern="^[0-9]+$" maxlength="10" placeholder="1 BTR">
                <div class="ico_stages">
{#                    <div class="ico_stage1">
                        <p id="stage_1" data-price="{{ startIcoRounds[1].price }}">{{ startIcoRounds[1].price }}$</p>
                        <div class="hint">{{ 'calculator.ico_date_1'|trans }}</div>
                    </div>#}
                    <div class="ico_stage2">
                        <p id="stage_2" data-price="{{ startIcoRounds[2].price }}">{{ startIcoRounds[2].price }}$</p>
                        <div class="hint">{{ 'calculator.ico_date_2'|trans }}</div>
                    </div>
                    <div class="ico_stage3">
                        <p id="stage_3" data-price="{{ chartData[2] }}">{{ chartData[2] }}$</p>
                        <div class="hint">{{ 'calculator.ico_date_3'|trans }}</div>
                    </div>
    		<div id="stage_2_end" data-price="{{ chartData[1] }}" style="display:none;"></div>
    		<div id="stage_3_end" data-price="{{ chartData[2] }}" style="display:none;"></div>
    		<div id="after_ico_1" data-price="{{ chartData[3] }}" style="display:none;"></div>
    		<div id="after_ico_2" data-price="{{ chartData[4] }}" style="display:none;"></div>
                </div>
            </div>
            <div class="calculator_right_block">
            <h4>{{ 'calculator.chart.title'|trans|upper }}</h4>
    	    <div id="chart_tokens"></div>
            </div>
        </div>
    </div>
</section>