{% trans_default_domain 'landing' %}
<section class="machine_learning_wrap">
    <div class="machine_learning content">
        <h2>{{ 'machine_learning.title'|trans }}</h2>
        <h3>{{ 'machine_learning.subtitle'|trans }}</h3>
        <p class="main_text">{{ 'machine_learning.text'|trans|raw }}</p>

        <form enctype="multipart/form-data" method="post">
            <div class="input">
                <div class="source">
                    <figure><img src="{{ asset('landing/img/machine_example.jpg') }}"></figure>
                    <div class="upload">
                        <label>
                            <p>{{ 'machine_learning.your_picture'|trans }}</p>
                            <input class="machine_learning_input" type="file" name="img">
                            <div class="machine_learning_button">{{ 'machine_learning.button'|trans }}</div>
                        </label>
                    </div>
                </div>
                <div class="plus">+</div>
                <div class="references">
                    <label>
                        <input type="radio" name="identifier" value="0" checked>
                        <div class="reference"><img src="{{ asset('landing/img/tech_picture_1.jpg') }}">
                            <div class="deco"></div>
                            <div class="author">{{ 'machine_learning.base_picture'|trans }}</div>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="identifier" value="1">
                        <div class="reference"><img src="{{ asset('landing/img/tech_picture_3.jpg') }}">
                            <div class="deco"></div>
                            <div class="author">{{ 'machine_learning.base_picture_2'|trans }}</div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="output">
                <h4 class="heading">{{ 'machine_learning.stylized_pictures.title'|trans }}</h4>
                <div class="imageset clearfix">
                    <figure>
                        <div class="holder"><img class="aws" src="{{ asset('landing/img/aws_0.jpg') }}"></div>
                        <figcaption>
                            <div class="vendor">{{ 'machine_learning.stylized_pictures.item_1.name'|trans }}</div>
                        </figcaption>
                    </figure>
                    <figure>
                        <div class="holder"><img class="google" src="{{ asset('landing/img/google_0.jpg') }}"></div>
                        <figcaption>
                            <div class="vendor">{{ 'machine_learning.stylized_pictures.item_2.name'|trans }}</div>
                        </figcaption>
                    </figure>
                    <figure>
                        <div class="holder"><img class="boosteroid" src="{{ asset('landing/img/boosteroid_0.jpg') }}"></div>
                        <figcaption>
                            <div class="vendor">{{ 'machine_learning.stylized_pictures.item_3.name'|trans }}</div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </form>
    </div>
</section>