{% trans_default_domain 'landing' %}
<section class="growth">
    <div class="content">
        <h2>{{ 'sixth_display.grow_title'|trans }}</h2>
        <h3>{{ 'sixth_display.grow_h3'|trans }}</h3>
        <div class="wrap_chart">
            <canvas id="chart"></canvas>
        </div>
        <div class="more_info">
            <p>
                {{ 'sixth_display.grow_more_info'|trans|raw }}
            </p>
            <a href="{{ path('landing_white') }}" target="_blank" rel="noreferrer nofollow noopener"><button class="download">{{ 'top_menu.white_paper'|trans }}</button></a>
        </div>
    </div>		
</section>