{% trans_default_domain 'landing' %}
<section class="work_principe">
    <div class="content">
        <h2>{{ 'work_principe_section.title'|trans }}</h2>
        <h3>{{ 'work_principe_section.subtitle'|trans }}</h3>
        <div class="work_principe_inner">	
            <div class="work_principe_stage">
                <img src="{{ asset('img/work_principe_man.png')}}" alt="">
            </div>
            <div class="work_principe_stage">
                <img src="{{ asset('img/work_principe_download.png')}}" alt="">
                <p>{{ 'work_principe_section.download'|trans|raw }}</p>
            </div>
            <div class="work_principe_stage">
                <img src="{{ asset('img/work_principe_pc.png')}}" alt="">
                <p>{{ 'work_principe_section.choose'|trans|raw }}</p>
            </div>
            <div class="work_principe_stage">
                <img src="{{ asset('img/work_principe_boosteroid.png')}}" alt="">
                <p>{{ 'work_principe_section.enjoy'|trans|raw }}</p>
            </div>
            <div class="work_principe_stage">
                <img src="{{ asset('img/work_principe_fun.png')}}" alt="">
                <p>{{ 'work_principe_section.fast'|trans|raw }}</p>
            </div>
        </div>
    </div>
</section>
