{% trans_default_domain 'landing' %}
<section class="partners content">
    <h2>{{ 'media_display.media_title'|trans }}</h2>
    <h3>{{ 'media_display.media_h4'|trans }}</h3>
    <div class="people companies owl-carousel">
        {#<a href="https://www.coinspeaker.com/2017/10/06/boosteroid-project-wants-break-cloud-monopoly-amazon-google-microsoft/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner1.png')}}" alt="partner"></a>#}
        {#<a href="https://cointelegraph.com/press-releases/the-boosteroid-project-intends-to-squeeze-google-and-amazon" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner2.jpg')}}" alt="partner"></a>#}
        <a href="https://coinidol.com/boosteroid-token-ico-starts-investors-can-get-bonus/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner3.jpg')}}" alt="partner"></a>
        {#<a href="https://icomagazine.com/boosteroid/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner4.jpg')}}" alt="partner"></a>#}
        <a href="https://www.cryptocoinsnews.com/cloud-computer-project-boosteroid-announces-token-sale/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner5.png')}}" alt="partner"></a>
        <a href="https://www.financemagnates.com/thought-leadership/boosteroids-ico-cloud-computing-made-simple-individuals/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner6.jpg')}}" alt="partner"></a>
        {#<a href="http://www.the-blockchain.com/2017/10/11/boosteroid-wants-squeeze-google-amazon-cloud-computing-market/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner7.jpg')}}" alt="partner"></a>#}
        <a href="http://www.icoweb.co/index.php/2017/11/20/boosteroid-runs-ico-to-create-a-cloud-computer/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner8.png')}}" alt="partner"></a>
        <a href="https://themerkle.com/boosteroid-ico-even-a-child-will-be-able-to-launch-a-cloud-computer/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner9.png')}}" alt="partner"></a>
        <a href="http://www.newsbtc.com/2017/11/23/boosteroid-cloud-computer-announced-token-sale/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner10.png')}}" alt="partner"></a>
        <a href="https://btcmanager.com/boosteroid-launch-cloud-computer-demo-end-november/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner11.png')}}" alt="partner"></a>
        <a href="http://iconow.net/boosteroid-starts-ico-and-launches-cloud-computer-demo/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner12.png')}}" alt="partner"></a>
        <a href="https://thebitcoinnews.com/boosteroid-announced-final-ico-stage-investors-will-receive-25-bonus/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner13.png')}}" alt="partner"></a>
        <a href="https://www.coinstaker.com/boosteroid-announced-final-ico-stage-project-already-raised-5-6-million/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner14.png')}}" alt="partner"></a>
        <a href="https://www.techbullion.com/an-interview-with-the-ceo-of-boosteroid-on-btr-token-sale" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner15.png')}}" alt="partner"></a>
        <a href="https://www.ccn.com/boosteroid-announced-final-ico-stage-investors-will-receive-25-bonus/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner16.svg')}}" alt="partner"></a>
        <a href="https://thecoinshark.net/boosteroid-is-to-turn-any-device-into-supercomputer/" target="_blank" rel="noreferrer nofollow noopener"><img src="{{asset('img/partner17.png')}}" alt="partner"></a>
    </div>
</section>