{% trans_default_domain 'landing' %}
<section class="buy_tokens_main_wrapper">
    <div class="buy_tokens_lines"></div>
    <div class="buy_tokens content">
        <h2>{{ 'seven_display.buy_title'|trans({}, 'landing') }}</h2>
        <h3>{{ 'seven_display.buy_h3'|trans({}, 'landing') }}</h3>
        <div class="buy_tokens_wrap">
            <div class="buy_tokens_inner">
                <h5>{{ 'seven_display.buy_h5'|trans({}, 'landing') }}</h5>
                <div class="buy_tokens_inner_main">
                    <p class="buy_tokens_explain">{{ 'seven_display.buy_tokens_explain'|trans({}, 'landing') }}</p>
                    <form action="">
                        <input type="text" placeholder="{{ 'seven_display.buy_placeholder'|trans({}, 'landing') }}" class="tokens_amount">
                        <p class="buy_tokens_select_text">{{ 'seven_display.buy_tokens_select_text'|trans({}, 'landing') }}</p>
                        <ul class="clearfix">
                            <li>
                                <label class="payment_label" for="BTC">
                                    <input class="payment_radio" type="radio" name="payment" id="BTC" checked>
                                    <span class="payment_eye"></span>
                                    BTC
                                </label>
                            </li>
                            <li>
                                <label class="payment_label" for="ETH">
                                    <input class="payment_radio" type="radio" name="payment" id="ETH">
                                    <span class="payment_eye"></span>
                                    ETH
                                </label>
                            </li>
                            <li>
                                <label class="payment_label" for="USD">
                                    <input class="payment_radio" type="radio" name="payment" id="USD">
                                    <span class="payment_eye"></span>
                                    USD
                                </label>
                            </li>
                            <li>
                                <label class="payment_label" for="EUR">
                                    <input class="payment_radio" type="radio" name="payment" id="EUR">
                                    <span class="payment_eye"></span>
                                    EUR
                                </label>
                            </li>
                        </ul>
                        <a href="{{path('fos_user_security_login')}}" class="button_tokens">{{ 'seven_display.buy_button'|trans({}, 'landing') }}</a>
                    </form>
                </div>
            </div>
            <div class="buy_tokens_table">
                <h5>{{ 'seven_display.buy_title_table'|trans({}, 'landing') }}</h5>
                <button class="refresh"></button>
                <table>
                    <tr>
                        <th>{{ 'seven_display.buy_table_th1'|trans({}, 'landing') }}</th>
                        <th>{{ 'seven_display.buy_table_th2'|trans({}, 'landing') }}</th>
                        <th>{{ 'seven_display.buy_table_th3'|trans({}, 'landing')|raw }}</th>
                        <th>{{ 'seven_display.buy_table_th4'|trans({}, 'landing')|raw }}</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>10</td>
                        <td>80 000</td>
                        <td>159 121</td>
                    </tr>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li class="active"><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>