{% trans_default_domain 'landing' %}
<section class="team content" id="team">
    <h2>{{ 'eight_display.buy_title'|trans }}</h2>
    <h3>{{ 'eight_display.buy_h3'|trans }}</h3>
    <div class="people owl-carousel">
        <div class="person">
            <div class="img"><img src="{{asset('img/cengiz.jpg')}}" alt="person"></div>
            <p>Cengiz Kaptan</p>
            <span>ADVISOR, Investor</span>
            <ul class="social clearfix">
                <li><a href="https://www.facebook.com/cengiz.kaptan" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/puzic.jpg')}}" alt="person"></div>
            <p>Dejan Puzic</p>
            <span>ADVISOR</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/dejan-puzic-0166102a/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Shvaichenko.jpg')}}" alt="person"></div>
            <p>Ivan Shvaichenko</p>
            <span>CEO, founder</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/ivan-shvaichenko-5a71149a/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
{#        <div class="person">
            <div class="img"><img src="{{asset('img/Sorbat.jpg')}}" alt="person"></div>
            <p>Ivan Sorbat</p>
            <span>CTO</span>
            <ul class="social clearfix">
                <li><a href="https://ua.linkedin.com/in/ivan-sorbat-a9124b67" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>#}
        <div class="person">
            <div class="img"><img src="{{asset('img/Biriukov.jpg')}}" alt="person"></div>
            <p>Vitaliy Biriukov</p>
            <span>CTO</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/vitaliy-biriukov/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Chepel.jpg')}}" alt="person"></div>
            <p>Larisa Chepel</p>
            <span>PR &amp; Communications</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/larisa-chepel-128251b9/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/znakhur.jpg')}}" alt="person"></div>
            <p>Sergey Znakhur</p>
            <span>AI developer</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/serhii-znakhur-9b61ba71/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Savin.jpg')}}" alt="person"></div>
            <p>Yuriy Savin</p>
            <span>Infrastructure Architect</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/yuriy-savin/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Skryabin.jpg')}}" alt="person"></div>
            <p>Bogdan Skryabin</p>
            <span>Blockchain specialist</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/skriabin/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Nikitenkov.jpg')}}" alt="person"></div>
            <p>Vladislav Nikitenkov</p>
            <span>Marketing</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/vladislav-nikitenkov-4b7920b6/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Podrezova.jpg')}}" alt="person"></div>
            <p>Olga Podrezova</p>
            <span>Lead designer</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/olga-podrezova/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Zykova.jpg')}}" alt="person"></div>
            <p>Svetlana Zykova</p>
            <span>Web Development</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/svetlana-zykova-014a89104/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Kovalenko.jpg')}}" alt="person"></div>
            <p>Nataliya Kovalenko</p>
            <span>Lawyer</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/kovalenkoon/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="person">
            <div class="img"><img src="{{asset('img/Vakulenko.jpg')}}" alt="person"></div>
            <p>Dmitriy Vakulenko</p>
            <span>Engineer of automation of production processes</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/dmitriy-v-43234bb4/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
{#        <div class="person">
            <div class="img"><img src="{{asset('img/Alex_man.jpg')}}" alt="person"></div>
            <p>Alex Man</p>
            <span>Advisor</span>
            <ul class="social clearfix">
                <li><a href="https://www.linkedin.com/in/alex-man/" target="_blank" rel="noreferrer nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>#}
    </div>
</section>