<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<title>Document</title>
	    {% stylesheets 
		'css/mode.css'
		output='css/compiled/landing_mode.css'
		filter='cssrewrite'
	    %}
	    <link rel="stylesheet"  href="{{ asset_url }}">
	    <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon"/>
	    {% endstylesheets %}
    </head>
    <body>
	<div class="main">
	    <div class="wrapper">
		<img src="{{ asset('img/mode_boosteroid_logo.png') }}" alt="boosteroid">
		<p class="message">Service is currently under construction</p>
		<a href="{{ path('landing_page') }}">Get back to home page</a>
	    </div>
	</div>
    </body>
</html>