{#Used only for unloading from admin#}
{% if questions is defined and questions is not empty %}
    <ul>
	{% for question in questions %}
	    <li>
		<div class="item"><p>{{ question.getQuestion(app.request.locale)|raw }}</p></div>
		<div class="hint text_light"><p>{{ question.getAnswer(app.request.locale)|raw }}</p></div>
	    </li>
	{% endfor %}
    </ul>
{% endif %}