{% extends "AppBundle::layout.html.twig" %}

{% block title %}FAQ{% endblock title %}

{% block body %}
    <section id="faq" class="faq" class="gray">
        <div>
            {{ include('AppBundle:Information:static_block_faq.html.twig') }}
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
	$('#tab5 li > .item').click(function(){
	    $(this).toggleClass('active');
	    $(this).next('div').slideToggle(200);
	});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
	<script>
		$('.item').on('click', function(){
			$(this).toggleClass('active');
			$(this).next('div').slideToggle(200);
		});
	</script>
{% endblock javascripts %}