{% trans_default_domain 'faq' %}
<ul>
    {% for i in 1..11 %}
	{% set question = 'faq.item_'~i~'.question' %}
	{% set answer = 'faq.item_'~i~'.answer' %}
	<li>
	    <div class="item"><p>{{ question|trans|raw }}</p></div>
	    <div class="hint text_light"><p></p><p>{{ answer|trans|raw }}</p></div>
	</li>
    {% endfor %}
</ul>