@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/RalewayMedium/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "NexaRustSans-Book";
  src: url("../fonts/NexaRustSans-Book/NexaRustSans-Book.eot");
  src: url("../fonts/NexaRustSans-Book/NexaRustSans-Book.woff") format("woff"), url("../fonts/NexaRustSans-Book/NexaRustSans-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedBold";
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot");
  src: url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff") format("woff"), url("../fonts/DINPro-CondensedBold/DINPro-CondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedMedium";
  src: url("../fonts/DINPro-CondensedMedium/DINPro-CondensedMedium.eot");
  src: url("../fonts/DINPro-CondensedMedium/DINPro-CondensedMedium.woff") format("woff"), url("../fonts/DINPro-CondensedMedium/DINPro-CondensedMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedLight";
  src: url("../fonts/DINPro-CondensedLight/DINPro-CondensedLight.eot");
  src: url("../fonts/DINPro-CondensedLight/DINPro-CondensedLight.woff") format("woff"), url("../fonts/DINPro-CondensedLight/DINPro-CondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "DINPro-CondensedRegular";
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.eot");
  src: url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.woff") format("woff"), url("../fonts/DINPro-CondensedRegular/DINPro-CondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

.button_learn, .download, .subscribe button, header .top_line button, .main .program, .product_wrap .div_learn .button_learn, .tokens .stage .bonus button, .tokens .stage .lottery button, .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px; }

.download span:after, header .slogan .s_wrap .big_logo:after, header .slogan .s_wrap .big_logo:before, header .crug:after, .toggle_menu span:after, .toggle_menu span:before, .why_us li:nth-child(1):before, .why_us li:nth-child(2):before, .why_us li:nth-child(3):before, .why_us li:nth-child(1):after, .why_us li:nth-child(2):after, .why_us li:nth-child(3):after, .why_us li:nth-child(4):after, .why_us li:nth-child(5):after, .why_us li:nth-child(6):after, .tokens .stage .preico:before, .tokens .stage .ico:before, #faq ul li .item p:before, #faq ul li .item p:after, footer .content > div:after {
  content: "";
  position: absolute; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

.content {
  max-width: 1340px;
  margin: 0 auto;
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.button_learn, .download, .main .program, .product_wrap .div_learn .button_learn, .tokens .stage .bonus button, .tokens .stage .lottery button, .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#5c36ee));
  background-image: -webkit-linear-gradient(bottom, #00c6ff 0%, #5c36ee 100%);
  background-image: linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  background-image: -ms-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%); }

h3, header .slogan p, .tokens .stage .prize div:first-child span, .buy_tokens_main_wrapper h3 {
  background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%);
  color: #151515;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway"; }

.buy_tokens_main_wrapper .buy_tokens_lines {
  border-top: 45px solid #fbfbfb;
  border-bottom: 45px solid #fbfbfb; }

.toggle_menu span, .toggle_menu span:after, .toggle_menu span:before {
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.product_wrap .div_learn .button_learn {
  -webkit-box-shadow: 4px 5px 20px #9a9999;
          box-shadow: 4px 5px 20px #9a9999; }

header .slogan, header .planet_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto; }

header .slogan .s_wrap .big_logo:after, header .slogan .s_wrap .big_logo:before, header .crug:after {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1px 300px;
  width: 1px;
  height: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(4, 68, 118, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background-image: -webkit-linear-gradient(bottom, rgba(4, 68, 118, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(to top, rgba(4, 68, 118, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0;
  -webkit-animation: line_b 1s 2.5s forwards linear;
          animation: line_b 1s 2.5s forwards linear; }

h2 {
  text-transform: uppercase;
  font-size: 48px;
  font-family: "NexaRustSans-Book";
  letter-spacing: 1.1px;
  margin-bottom: 5px; }

h3 {
  display: inline-block;
  margin-bottom: 40px;
  font-family: "RalewaySemiBold";
  font-size: 16px;
  letter-spacing: 0.05px;
  text-transform: uppercase; }

body {
  font-family: "RobotoRegular";
  min-width: 320px; }

.noscroll {
  overflow-y: hidden;
  height: 100vh;
  margin-top: 50px; }

section, footer {
  padding: 120px 20px; }

.gray {
  background-color: #f0f3f5; }

.button_learn {
  padding: 19px 46px;
  font-size: 20px;
  letter-spacing: 1.9px;
  font-family: 'DINPro-CondensedRegular'; }

.download {
  font-size: 22px;
  font-family: "DINPro-CondensedRegular";
  line-height: 1;
  padding: 20px; }
  .download span {
    font-size: 12px;
    font-family: "RobotoLight";
    font-style: italic;
    text-align: right;
    text-transform: none;
    display: block;
    float: right;
    margin-left: 70px;
    position: relative;
    padding-right: 15px; }
    .download span:after {
      background-image: url("../img/button_d.png");
      width: 5px;
      height: 26px;
      top: 0;
      right: 0; }

.subscribe {
  width: 330px;
  float: right;
  text-align: left; }
  .subscribe p {
    text-transform: uppercase;
    font: 18px 'RobotoBold'; }
  .subscribe form {
    position: relative; }
  .subscribe input {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    width: 100%;
    color: #fff; }
  .subscribe button {
    position: absolute;
    background: url("../img/right.png") no-repeat;
    top: 15px;
    right: 0;
    width: 70px;
    height: 25px; }

header {
  background-color: #000;
  position: relative;
  height: 100vh;
  color: #fff;
  width: 100%;
  overflow: hidden; }
  header .starts {
    -webkit-animation: opacity 3s 3.5s forwards ease-out;
            animation: opacity 3s 3.5s forwards ease-out;
    position: absolute;
    background: #000 url("../img/header_fon.jpg") center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0; }
  header .slogan {
    text-align: center; }
    header .slogan .s_wrap {
      -webkit-animation: slogan 2s;
              animation: slogan 2s; }
      header .slogan .s_wrap .big_logo {
        position: relative; }
        header .slogan .s_wrap .big_logo:after {
          top: 90%;
          left: 0; }
        header .slogan .s_wrap .big_logo:before {
          transform-origin-y: bottom;
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
          top: -280px;
          right: 0; }
    header .slogan p {
      font: 20px 'DINPro-CondensedBold';
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 50px;
      display: inline-block;
      -webkit-animation: slogan_end_p 3s 5s forwards;
              animation: slogan_end_p 3s 5s forwards; }
  header .crug {
    background-image: url("../img/crug.png");
    width: 30px;
    height: 30px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-animation: slogan 0.5s 2s forwards, puls 5s 4s infinite alternate;
            animation: slogan 0.5s 2s forwards, puls 5s 4s infinite alternate;
    position: relative; }
    header .crug:after {
      top: 80%;
      left: 52%; }
  header .soc_nav {
    position: absolute;
    top: 50%;
    right: 40px; }
    header .soc_nav li {
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
      list-style: none;
      margin: 10px 0; }
  header .planet_wrap {
    width: 100%;
    height: 100vh; }
  header .planet {
    background: url("../img/planet.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 85%;
    max-height: 707px;
    -webkit-animation: slogan 2s 3.5s forwards;
            animation: slogan 2s 3.5s forwards;
    opacity: 0;
    top: 10%; }
  header .circle {
    position: absolute;
    height: 600px;
    width: 600px;
    bottom: -150px;
    display: inline-block;
    left: -390px;
    opacity: 0;
    -webkit-animation: opacity 2s 3.5s forwards, circle 35s infinite linear;
            animation: opacity 2s 3.5s forwards, circle 35s infinite linear; }
    header .circle img {
      width: 100%; }
  header h1 {
    margin: 0 30px 0 0;
    display: none;
    -webkit-animation: slogan 2s forwards;
            animation: slogan 2s forwards; }
  header .top_line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 28px 50px;
    font-family: 'RalewayLight';
    position: relative;
    z-index: 10;
    opacity: 0;
    -webkit-animation: opacity 3s 3.5s forwards ease-out;
            animation: opacity 3s 3.5s forwards ease-out; }
    header .top_line nav {
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
      header .top_line nav li {
        float: left;
        list-style: none;
        padding: 0 12px; }
      header .top_line nav a {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left; }
    header .top_line button {
      font-family: 'RalewayLight';
      background-color: transparent;
      padding-right: 15px;
      font-size: 14px; }
    header .top_line .buy {
      font-family: 'DINPro-CondensedRegular';
      border: 2px solid #00c6ff;
      font-weight: 600;
      padding: 12px 45px;
      font-size: 18px; }

.toggle_menu {
  text-align: center;
  left: 16px;
  top: 10px;
  width: 30px;
  height: 25px;
  padding: 9px 8px 2px;
  cursor: pointer;
  display: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }
  .toggle_menu.on span {
    background-color: transparent; }
    .toggle_menu.on span:after {
      -webkit-transform: rotate(45deg) translate(-1px, 0px);
          -ms-transform: rotate(45deg) translate(-1px, 0px);
              transform: rotate(45deg) translate(-1px, 0px); }
    .toggle_menu.on span:before {
      -webkit-transform: rotate(-45deg) translate(6px, -7px);
          -ms-transform: rotate(-45deg) translate(6px, -7px);
              transform: rotate(-45deg) translate(6px, -7px); }
  .toggle_menu span {
    position: relative;
    display: block; }
    .toggle_menu span:after {
      left: 0;
      top: 8px; }
    .toggle_menu span:before {
      left: 0;
      top: 16px; }

.star {
  display: block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
  top: 50%;
  left: 30%;
  position: relative;
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-animation: star-ani 5s 4s infinite ease-out;
          animation: star-ani 5s 4s infinite ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  opacity: 0; }
  .star:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    border: 2px solid #F00;
    border-width: 2px 150px 2px 150px;
    border-color: transparent transparent transparent #FFF;
    -webkit-transform: rotate(-45deg) translate3d(1px, -1px, 0);
            transform: rotate(-45deg) translate3d(1px, -1px, 0);
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-animation: shooting-ani 1.5s infinite  ease-out;
            animation: shooting-ani 1.5s infinite  ease-out;
    -webkit-animation-direction: normal;
            animation-direction: normal; }

.blue {
  top: 10%;
  left: 70%;
  background: #4dabff;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }
  .blue:after {
    border-color: transparent transparent transparent #4dabff;
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }

.mesto {
  height: 100vh; }

.timer {
  height: 100vh;
  padding-top: 120vh; }

.main {
  opacity: 0;
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2;
  min-width: 540px;
  -webkit-animation: slogan_end_main 3s 5.5s forwards;
          animation: slogan_end_main 3s 5.5s forwards; }
  .main p {
    font-family: 'RobotoBold';
    text-transform: uppercase;
    font-size: 20px; }
  .main .countdown #timer {
    margin-bottom: 30px; }
    .main .countdown #timer div {
      display: inline-block;
      padding: 0 10px; }
    .main .countdown #timer span {
      font-family: 'DINPro-CondensedRegular';
      color: #fff;
      font-size: 72px;
      text-align: center;
      position: relative; }
    .main .countdown #timer span:after {
      content: ":";
      position: absolute;
      font-size: 40px;
      top: 25%;
      right: -10px; }
    .main .countdown #timer div:last-child span:after {
      display: none; }
    .main .countdown #timer p {
      margin: -10px; }
  .main .countdown p {
    font-size: 13px;
    font-family: 'RobotoLight';
    color: rgba(33, 148, 217, 0.502);
    line-height: 1.077;
    text-align: center;
    text-transform: unset;
    margin-bottom: 50px; }
  .main .program {
    padding: 20px 23px;
    float: left;
    font-family: 'DINPro-CondensedRegular';
    font-size: 22px;
    font-weight: 100; }

@-webkit-keyframes slogan {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes slogan {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes slogan_end_p {
  0% {
    opacity: 1; }
  100% {
    margin-top: 9000px;
    opacity: 0; } }

@keyframes slogan_end_p {
  0% {
    opacity: 1; }
  100% {
    margin-top: 9000px;
    opacity: 0; } }

@-webkit-keyframes slogan_end_main {
  0% {
    opacity: 0;
    display: none; }
  100% {
    display: block;
    opacity: 1; } }

@keyframes slogan_end_main {
  0% {
    opacity: 0;
    display: none; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes circle {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes circle {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes line_b {
  0% {
    height: 0px;
    opacity: 1; }
  100% {
    height: 300px;
    opacity: 1; } }

@keyframes line_b {
  0% {
    height: 0px;
    opacity: 1; }
  100% {
    height: 300px;
    opacity: 1; } }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes shooting-ani {
  0% { }
  50% {
    -webkit-transform: scale(1) rotate(-45deg) translate(0px, 0px);
            transform: scale(1) rotate(-45deg) translate(0px, 0px); }
  100% {
    -webkit-transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
            transform: scale(0.5) rotate(-45deg) translate(0px, -1px); } }

@keyframes shooting-ani {
  0% { }
  50% {
    -webkit-transform: scale(1) rotate(-45deg) translate(0px, 0px);
            transform: scale(1) rotate(-45deg) translate(0px, 0px); }
  100% {
    -webkit-transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
            transform: scale(0.5) rotate(-45deg) translate(0px, -1px); } }

@-webkit-keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(-100px, 100px, 0);
            transform: scale(1) rotate(0) translate3d(-100px, 100px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
            transform: scale(1) rotate(0) translate3d(-200px, 200px, 0); } }

@keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(-100px, 100px, 0);
            transform: scale(1) rotate(0) translate3d(-100px, 100px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
            transform: scale(1) rotate(0) translate3d(-200px, 200px, 0); } }

.product_wrap .product {
  width: 100%;
  float: left;
  margin-bottom: 58px; }

.product_wrap .product_learn {
  width: 100%;
  float: left; }

.product_wrap .product_about {
  width: 46%;
  position: relative;
  float: left;
  text-align: left;
  margin-top: -10px; }
  .product_wrap .product_about p {
    width: 91%;
    font-family: "RalewayLight";
    line-height: 24px;
    letter-spacing: 0.8px; }

.product_wrap .video {
  width: 54%;
  float: right;
  position: relative; }
  .product_wrap .video::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 191%;
    right: 103%;
    bottom: -74%;
    background: -webkit-gradient(linear, left bottom, left top, from(#b3c7d6), color-stop(32%, rgba(179, 199, 214, 0)), color-stop(39%, rgba(179, 199, 214, 0)), color-stop(40%, #b3c7d6), to(rgba(179, 199, 214, 0)));
    background: -webkit-linear-gradient(bottom, #b3c7d6 0%, rgba(179, 199, 214, 0) 32%, rgba(179, 199, 214, 0) 39%, #b3c7d6 40%, rgba(179, 199, 214, 0) 100%);
    background: linear-gradient(to top, #b3c7d6 0%, rgba(179, 199, 214, 0) 32%, rgba(179, 199, 214, 0) 39%, #b3c7d6 40%, rgba(179, 199, 214, 0) 100%); }
  .product_wrap .video img {
    width: 100%; }

.product_wrap .product_discount {
  width: 50%;
  float: left;
  margin-top: -10px;
  margin-left: -3px; }
  .product_wrap .product_discount h3 {
    font-size: 23px;
    letter-spacing: 0.7px;
    text-transform: inherit;
    font-family: "RalewayMedium"; }

.product_wrap .div_learn {
  float: right;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .product_wrap .div_learn p {
    text-align: right;
    margin-top: 6px;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.8px;
    font-family: "RalewayRegular"; }
  .product_wrap .div_learn .button_learn {
    padding: 19px 46px;
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 1.9px;
    font-family: 'DINPro-CondensedRegular'; }

.why_us {
  background-image: url("../img/why_us.jpg");
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden; }
  .why_us li {
    list-style: none;
    width: 33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 250px;
    position: relative;
    vertical-align: middle;
    display: block;
    float: left;
    text-align: left; }
    .why_us li:nth-child(2n-1) {
      background-image: -webkit-linear-gradient(110deg, #072647 0%, rgba(3, 31, 59, 0.2) 40%, rgba(3, 31, 59, 0) 100%);
      background-image: linear-gradient(340deg, #072647 0%, rgba(3, 31, 59, 0.2) 40%, rgba(3, 31, 59, 0) 100%); }
    .why_us li:hover {
      background-image: -webkit-linear-gradient(0deg, #00c6ff 0%, #5c36ee 100%); }
    .why_us li:nth-child(1):before, .why_us li:nth-child(2):before, .why_us li:nth-child(3):before {
      width: 85%;
      height: 1px;
      background-color: rgba(0, 198, 255, 0.2);
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 1px; }
    .why_us li:nth-child(1):after, .why_us li:nth-child(2):after, .why_us li:nth-child(3):after {
      left: 0;
      right: 0;
      top: 0;
      height: 86%;
      border-left: 1px solid rgba(0, 198, 255, 0.2);
      border-right: 1px solid rgba(0, 198, 255, 0.2); }
    .why_us li:nth-child(4):after, .why_us li:nth-child(5):after, .why_us li:nth-child(6):after {
      left: 0;
      right: 0;
      bottom: 0;
      height: 86%;
      border-left: 1px solid rgba(0, 198, 255, 0.2);
      border-right: 1px solid rgba(0, 198, 255, 0.2); }
    .why_us li p {
      font-family: "NexaRustSans-Book";
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1.2;
      margin-left: 30px; }
  .why_us button {
    float: right;
    margin: 50px 1% 30px 0; }

.roadmap table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto; }

.roadmap tr {
  border-top: 1px solid #f1f0f0; }
  .roadmap tr:nth-child(1) {
    border-top: 1px solid #ded8f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e1fc), to(#e4e5fd));
    background: -webkit-linear-gradient(top, #e7e1fc 0%, #e4e5fd 100%);
    background: linear-gradient(to bottom, #e7e1fc 0%, #e4e5fd 100%); }
    .roadmap tr:nth-child(1) td:nth-child(1) {
      border-top: 1px solid #5a34e4;
      color: #fff;
      background: -webkit-gradient(linear, left bottom, left top, from(#4b51f1), to(#5a34e4));
      background: -webkit-linear-gradient(bottom, #4b51f1 0%, #5a34e4 100%);
      background: linear-gradient(to top, #4b51f1 0%, #5a34e4 100%); }
    .roadmap tr:nth-child(1) td:nth-child(2):after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#644ff0), to(#4c4ef1));
      background-image: -webkit-linear-gradient(top, #644ff0 0%, #4c4ef1 100%);
      background-image: linear-gradient(to bottom, #644ff0 0%, #4c4ef1 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(1) td:nth-child(2):before {
      content: "";
      position: absolute;
      top: -7px;
      left: 23%;
      width: 16px;
      height: 16px;
      z-index: 3;
      -webkit-box-shadow: inset 0 0 0 2px #fff;
              box-shadow: inset 0 0 0 2px #fff;
      background: #6b49e7;
      border: 1px solid #6b49e7;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .roadmap tr:nth-child(2) {
    border-top: 1px solid #d8d8ee;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e2f9), to(#dde7fa));
    background: -webkit-linear-gradient(top, #e1e2f9 0%, #dde7fa 100%);
    background: linear-gradient(to bottom, #e1e2f9 0%, #dde7fa 100%); }
    .roadmap tr:nth-child(2) td:nth-child(1) {
      border-top: 1px solid #494fe3;
      color: #fff;
      background: -webkit-gradient(linear, left bottom, left top, from(#2f7af2), to(#4953ee));
      background: -webkit-linear-gradient(bottom, #2f7af2 0%, #4953ee 100%);
      background: linear-gradient(to top, #2f7af2 0%, #4953ee 100%); }
    .roadmap tr:nth-child(2) td:nth-child(2):after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4b50f1), to(#317af6));
      background-image: -webkit-linear-gradient(top, #4b50f1 0%, #317af6 100%);
      background-image: linear-gradient(to bottom, #4b50f1 0%, #317af6 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(2) td:nth-child(2):before {
      content: "";
      position: absolute;
      top: 100%;
      left: 24%;
      width: 100%;
      height: 1px;
      z-index: 2;
      background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#5c35ee));
      background-image: -webkit-linear-gradient(left, #00c6ff 0%, #5c35ee 100%);
      background-image: linear-gradient(to right, #00c6ff 0%, #5c35ee 100%);
      background-repeat: no-repeat; }
  .roadmap tr:nth-child(3) {
    border-top: 1px solid #d7e2f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0ecfe), to(#dcf2fe));
    background: -webkit-linear-gradient(top, #e0ecfe 0%, #dcf2fe 100%);
    background: linear-gradient(to bottom, #e0ecfe 0%, #dcf2fe 100%); }
    .roadmap tr:nth-child(3) td:nth-child(1) {
      border-top: 1px solid #2e7aec;
      color: #fff;
      background: -webkit-gradient(linear, left bottom, left top, from(#13a8fb), to(#2d7ff7));
      background: -webkit-linear-gradient(bottom, #13a8fb 0%, #2d7ff7 100%);
      background: linear-gradient(to top, #13a8fb 0%, #2d7ff7 100%); }
    .roadmap tr:nth-child(3) td:nth-child(2):after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#2f7cf6), to(#14a7fb));
      background-image: -webkit-linear-gradient(top, #2f7cf6 0%, #14a7fb 100%);
      background-image: linear-gradient(to bottom, #2f7cf6 0%, #14a7fb 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(3) td:nth-child(3):after {
      width: 5px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#604af0), to(#3572f5));
      background-image: -webkit-linear-gradient(top, #604af0 0%, #3572f5 100%);
      background-image: linear-gradient(to bottom, #604af0 0%, #3572f5 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(3) td:nth-child(3):before {
      content: "";
      position: absolute;
      top: -7px;
      left: 22%;
      width: 15px;
      height: 15px;
      z-index: 3;
      -webkit-box-shadow: inset 0 0 0 2px #fff;
              box-shadow: inset 0 0 0 2px #fff;
      background: #6b49e7;
      border: 1px solid #6b49e7;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .roadmap tr:nth-child(4) {
    border-top: 1px solid #d1e4f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9eefb), to(#d6f2fb));
    background: -webkit-linear-gradient(top, #d9eefb 0%, #d6f2fb 100%);
    background: linear-gradient(to bottom, #d9eefb 0%, #d6f2fb 100%); }
    .roadmap tr:nth-child(4) td:nth-child(1) {
      border-top: 1px solid #16a0ed;
      color: #fff;
      background: -webkit-gradient(linear, left bottom, left top, from(#01c2fb), to(#14a7f8));
      background: -webkit-linear-gradient(bottom, #01c2fb 0%, #14a7f8 100%);
      background: linear-gradient(to top, #01c2fb 0%, #14a7f8 100%); }
    .roadmap tr:nth-child(4) td:nth-child(2):after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#13a9fc), to(#14cbfe));
      background-image: -webkit-linear-gradient(top, #13a9fc 0%, #14cbfe 100%);
      background-image: linear-gradient(to bottom, #13a9fc 0%, #14cbfe 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(4) td:nth-child(2):before {
      content: "";
      position: absolute;
      top: -webkit-calc(100% - 13px);
      top: calc(100% - 13px);
      left: 22%;
      width: 14px;
      height: 14px;
      z-index: 3;
      -webkit-box-shadow: inset 0 0 0 3px #00c6ff;
              box-shadow: inset 0 0 0 3px #00c6ff;
      background: #fff;
      border: 6px solid rgba(0, 198, 255, 0.6);
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .roadmap tr:nth-child(4) td:nth-child(3):after {
      width: 5px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3179f6), to(#00c6ff));
      background-image: -webkit-linear-gradient(top, #3179f6 0%, #00c6ff 100%);
      background-image: linear-gradient(to bottom, #3179f6 0%, #00c6ff 100%);
      background-repeat: no-repeat; }
    .roadmap tr:nth-child(4) td:nth-child(3):before {
      content: "";
      position: absolute;
      top: -webkit-calc(100% - 13px);
      top: calc(100% - 13px);
      left: 21.5%;
      width: 14px;
      height: 14px;
      z-index: 3;
      -webkit-box-shadow: inset 0 0 0 3px #00c6ff;
              box-shadow: inset 0 0 0 3px #00c6ff;
      background: #fff;
      border: 6px solid rgba(0, 198, 255, 0.6);
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .roadmap tr:nth-child(5) td:nth-child(2):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#13a9fc), to(#14cbfe));
    background-image: -webkit-linear-gradient(bottom, #13a9fc 0%, #14cbfe 100%);
    background-image: linear-gradient(to top, #13a9fc 0%, #14cbfe 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(5) td:nth-child(2):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(5) td:nth-child(3):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#13a9fc), to(#14cbfe));
    background-image: -webkit-linear-gradient(bottom, #13a9fc 0%, #14cbfe 100%);
    background-image: linear-gradient(to top, #13a9fc 0%, #14cbfe 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(5) td:nth-child(3):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(6) td:nth-child(2):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2f7cf6), to(#14a7fb));
    background-image: -webkit-linear-gradient(bottom, #2f7cf6 0%, #14a7fb 100%);
    background-image: linear-gradient(to top, #2f7cf6 0%, #14a7fb 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(6) td:nth-child(2):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(6) td:nth-child(3):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2f7cf6), to(#14a7fb));
    background-image: -webkit-linear-gradient(bottom, #2f7cf6 0%, #14a7fb 100%);
    background-image: linear-gradient(to top, #2f7cf6 0%, #14a7fb 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(6) td:nth-child(3):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(7) td:nth-child(2):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4b50f1), to(#317af6));
    background-image: -webkit-linear-gradient(bottom, #4b50f1 0%, #317af6 100%);
    background-image: linear-gradient(to top, #4b50f1 0%, #317af6 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(7) td:nth-child(2):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(7) td:nth-child(3):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4a1acf), to(#644ff0));
    background-image: -webkit-linear-gradient(bottom, #4a1acf 0%, #644ff0 100%);
    background-image: linear-gradient(to top, #4a1acf 0%, #644ff0 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(7) td:nth-child(3):before {
    content: "";
    position: absolute;
    top: -webkit-calc(100% - 9px);
    top: calc(100% - 9px);
    left: 22.5%;
    width: 15px;
    height: 15px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #4a1acf; }
  .roadmap tr:nth-child(8) td:nth-child(2):after {
    width: 3px;
    left: 24%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#644ff0), to(#4c4ef1));
    background-image: -webkit-linear-gradient(bottom, #644ff0 0%, #4c4ef1 100%);
    background-image: linear-gradient(to top, #644ff0 0%, #4c4ef1 100%);
    background-repeat: no-repeat; }
  .roadmap tr:nth-child(8) td:nth-child(2):before {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    width: 3px;
    height: 3px;
    z-index: 3;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .roadmap tr:nth-child(9) {
    border-bottom: 1px solid #d6d4d4;
    text-transform: uppercase; }
    .roadmap tr:nth-child(9) td:nth-child(2) {
      padding: 40px 40px 40px 15%;
      font: 20px "RalewaySemiBold"; }
      .roadmap tr:nth-child(9) td:nth-child(2):after {
        width: 3px;
        left: 12.1%;
        height: 45%;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#4a1acf), to(#644ff0));
        background-image: -webkit-linear-gradient(bottom, #4a1acf 0%, #644ff0 100%);
        background-image: linear-gradient(to top, #4a1acf 0%, #644ff0 100%);
        background-repeat: no-repeat; }
      .roadmap tr:nth-child(9) td:nth-child(2):before {
        content: "";
        position: absolute;
        top: 40%;
        left: 11.7%;
        width: 15px;
        height: 15px;
        z-index: 3;
        background: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #4a1acf; }
  .roadmap tr:nth-child(2n) {
    background-color: #fbfbfb; }

.roadmap td {
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 14px "RalewayMedium";
  position: relative; }
  .roadmap td:nth-child(2):after, .roadmap td:nth-child(3):after {
    content: "";
    position: absolute;
    top: 0;
    left: 24%;
    width: 7px;
    height: 102%;
    z-index: 2; }
  .roadmap td:nth-child(1) {
    width: 10%;
    padding-left: 8%;
    background-color: rgba(245, 245, 245, 0.3); }
  .roadmap td:nth-child(2) {
    padding-left: 12%;
    width: 45%; }
  .roadmap td:nth-child(3) {
    padding-left: 12%;
    width: 45%; }

.tokens .about {
  font: 16px "RobotoLight";
  color: #4c5b60;
  margin-bottom: 65px; }

.tokens .stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .tokens .stage .preico, .tokens .stage .ico, .tokens .stage .bonus, .tokens .stage .lottery {
    width: 48%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.118);
            box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.118);
    margin-bottom: 30px; }
    .tokens .stage .preico h4, .tokens .stage .ico h4, .tokens .stage .bonus h4, .tokens .stage .lottery h4 {
      width: 35%;
      font: 36px "DINPro-CondensedBold";
      margin-bottom: 20px; }
  .tokens .stage .preico {
    background-image: -webkit-gradient(linear, left top, right top, from(#3102b8), to(#6935ee));
    background-image: -webkit-linear-gradient(left, #3102b8 0%, #6935ee 100%);
    background-image: linear-gradient(to right, #3102b8 0%, #6935ee 100%); }
  .tokens .stage .ico {
    background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#5c35ee));
    background-image: -webkit-linear-gradient(left, #00c6ff 0%, #5c35ee 100%);
    background-image: linear-gradient(to right, #00c6ff 0%, #5c35ee 100%); }
  .tokens .stage .preico, .tokens .stage .ico {
    color: #fff;
    position: relative; }
    .tokens .stage .preico table, .tokens .stage .ico table {
      width: 65%;
      margin-bottom: 20px; }
      .tokens .stage .preico table td, .tokens .stage .ico table td {
        padding: 5px; }
        .tokens .stage .preico table td:first-child, .tokens .stage .ico table td:first-child {
          font: 14px "RalewayLight"; }
        .tokens .stage .preico table td:last-child, .tokens .stage .ico table td:last-child {
          font: 18px "RobotoMedium"; }
    .tokens .stage .preico p, .tokens .stage .ico p {
      width: 100%;
      color: #fff;
      font: 14px "RobotoLight"; }
      .tokens .stage .preico p span, .tokens .stage .ico p span {
        font: 16px "DINPro-CondensedBold";
        text-transform: uppercase; }
    .tokens .stage .preico:before, .tokens .stage .ico:before {
      width: 8px;
      height: 8px;
      border: 4px solid #00c6ff;
      background-color: #fff;
      top: -6px;
      left: -6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 0 0 7px rgba(0, 198, 255, 0.6);
              box-shadow: 0 0 0 7px rgba(0, 198, 255, 0.6); }
  .tokens .stage .bonus, .tokens .stage .lottery {
    background-color: #fff; }
    .tokens .stage .bonus h4, .tokens .stage .lottery h4 {
      margin-bottom: 20px;
      width: auto; }
      .tokens .stage .bonus h4 span, .tokens .stage .lottery h4 span {
        font: 14px "RalewayLight"; }
    .tokens .stage .bonus button, .tokens .stage .lottery button {
      font: 18px "DINPro-CondensedBold";
      padding: 0 25px;
      position: static;
      height: 45px;
      -webkit-box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.118);
              box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.118);
      margin-bottom: 20px; }
  .tokens .stage .prize, .tokens .stage .description {
    width: 100%; }
  .tokens .stage .prize {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
    .tokens .stage .prize div p {
      font: 16px "RalewayRegular"; }
    .tokens .stage .prize div span {
      font: 28px "RobotoBold"; }
  .tokens .stage .description {
    font: 16px "RalewayRegular";
    color: #4c5b60; }

.growth {
  background-image: url("../img/grow.jpg");
  background-size: cover;
  color: #fff; }
  .growth .wrap_chart {
    width: 70%; }
  .growth .more_info {
    float: right;
    margin: -100px 60px 0 0;
    text-align: right;
    font: 22px "RalewayRegular";
    text-transform: uppercase; }
    .growth .more_info p {
      margin-bottom: 20px; }

.buy_tokens_main_wrapper {
  position: relative; }
  .buy_tokens_main_wrapper h2 {
    margin-bottom: 5px;
    margin-left: -2px; }
  .buy_tokens_main_wrapper h3 {
    text-transform: uppercase;
    margin-bottom: 47px;
    font-family: "RalewaySemiBold";
    font-size: 16px;
    letter-spacing: 0.05px; }
  .buy_tokens_main_wrapper .buy_tokens_lines {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 50px;
    z-index: -1; }
  .buy_tokens_main_wrapper .buy_tokens_inner {
    width: 42%;
    margin: 0 auto;
    padding: 46px 67px;
    position: relative;
    background-image: url("../img/buy_tokens_bg.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 83px;
    margin-bottom: 61px; }
    .buy_tokens_main_wrapper .buy_tokens_inner p {
      font-family: "RobotoLight";
      text-align: center;
      letter-spacing: 0.75px;
      line-height: 23px; }
    .buy_tokens_main_wrapper .buy_tokens_inner .buy_tokens_explain {
      margin-bottom: 31px; }
    .buy_tokens_main_wrapper .buy_tokens_inner form ::-webkit-input-placeholder {
      color: #4f6577; }
    .buy_tokens_main_wrapper .buy_tokens_inner form .tokens_amount {
      background-color: transparent;
      border: none;
      width: 81%;
      padding: 9px 0;
      font-size: 23px;
      letter-spacing: 0.1px;
      margin-bottom: 39px;
      border-bottom: 2px solid white;
      text-align: center;
      color: #4f6577; }
    .buy_tokens_main_wrapper .buy_tokens_inner form .buy_tokens_select_text {
      letter-spacing: 1.4px;
      margin-bottom: 17px; }
    .buy_tokens_main_wrapper .buy_tokens_inner form ul {
      list-style-type: none;
      width: 100%; }
      .buy_tokens_main_wrapper .buy_tokens_inner form ul li {
        float: left;
        width: 25%;
        font-family: "DINPro-CondensedMedium";
        font-size: 22px; }
        .buy_tokens_main_wrapper .buy_tokens_inner form ul li .payment_radio {
          display: none; }
        .buy_tokens_main_wrapper .buy_tokens_inner form ul li .payment_label {
          display: block;
          position: relative;
          padding-left: 1.25em;
          cursor: pointer; }
          .buy_tokens_main_wrapper .buy_tokens_inner form ul li .payment_label .payment_eye {
            content: '';
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: inline-block;
            position: absolute;
            right: 55%;
            bottom: 50%;
            width: 14px;
            height: 14px;
            border: 2px solid;
            -webkit-transform: translateY(50%);
                -ms-transform: translateY(50%);
                    transform: translateY(50%);
            z-index: 1; }
          .buy_tokens_main_wrapper .buy_tokens_inner form ul li .payment_label .payment_eye:after {
            content: '';
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
            width: 0;
            height: 0;
            border: 2px solid;
            -webkit-transition: opacity .3s;
            transition: opacity .3s;
            opacity: 0; }
          .buy_tokens_main_wrapper .buy_tokens_inner form ul li .payment_label .payment_radio:checked + .payment_eye:after {
            opacity: 1; }
        .buy_tokens_main_wrapper .buy_tokens_inner form ul li .checkbox {
          margin-right: 5px; }
    .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
      padding: 18px 54px;
      font-size: 20px;
      letter-spacing: 2.1px;
      position: absolute;
      bottom: 0%;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      -webkit-box-shadow: 14px 21px 50px -8px #9a9999;
              box-shadow: 14px 21px 50px -8px #9a9999;
      font-family: 'DINPro-CondensedRegular'; }
  .buy_tokens_main_wrapper .token_price_wrap {
    text-align: center;
    text-transform: uppercase; }
    .buy_tokens_main_wrapper .token_price_wrap .token_price {
      font-family: "DINPro-CondensedBold";
      font-size: 32px;
      letter-spacing: -0.5px; }
    .buy_tokens_main_wrapper .token_price_wrap .token_price_bonus {
      font-family: "RalewayMedium"; }

.advisory, .team {
  padding-top: 0; }
  .advisory h3, .team h3 {
    margin-bottom: 100px; }
  .advisory .people, .team .people {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .advisory .people .person, .team .people .person {
      width: 20%;
      line-height: 2;
      margin-bottom: 50px;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(4, 68, 118, 0.3)));
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 1px 100%;
      padding: 0 2%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .advisory .people .person .img, .team .people .person .img {
        width: 100%;
        margin-bottom: 20px; }
        .advisory .people .person .img img, .team .people .person .img img {
          width: 100%; }
      .advisory .people .person p, .team .people .person p {
        font: 16px "RalewayMedium";
        margin-bottom: 10px; }
      .advisory .people .person span, .team .people .person span {
        font: 12px/1.5 "RalewayRegular";
        display: block;
        color: #7b888a;
        margin-bottom: 10px; }
      .advisory .people .person ul, .team .people .person ul {
        list-style-type: none;
        margin-top: 10px; }
        .advisory .people .person ul li, .team .people .person ul li {
          float: left; }
          .advisory .people .person ul li a, .team .people .person ul li a {
            background: #000;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            width: 25px;
            height: 25px;
            display: block;
            margin-right: 10px;
            text-align: center; }
            .advisory .people .person ul li a i, .team .people .person ul li a i {
              color: #fff;
              font-size: 18px;
              display: block;
              padding-top: 4px; }

.partners h3 {
  margin-bottom: 100px; }

.partners .companies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .partners .companies a {
    display: block;
    width: 20%;
    line-height: 2;
    margin-bottom: 50px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(4, 68, 118, 0.3)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1px 100%;
    padding: 0 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .partners .companies a img {
      width: 100%;
      margin-bottom: 20px; }

#faq h3 {
  margin-bottom: 10px; }

#faq ul {
  list-style-type: none; }
  #faq ul li .item {
    padding-right: 25px;
    cursor: pointer;
    position: relative; }
    #faq ul li .item p {
      font: 16px "RalewayMedium";
      padding: 40px 0 20px;
      background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(4, 68, 118, 0.3)));
      background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0%, rgba(4, 68, 118, 0.3) 100%);
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 100% 1px; }
      #faq ul li .item p:before, #faq ul li .item p:after {
        right: 0;
        top: 60%;
        height: 2px;
        width: 20px;
        background: #000;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      #faq ul li .item p:before {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      #faq ul li .item p:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    #faq ul li .item.active p:before {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
    #faq ul li .item.active p:after {
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
  #faq ul li .hint {
    display: none;
    margin-bottom: 10px; }
    #faq ul li .hint p {
      padding: 10px 0;
      color: #4c5b60;
      font: 14px/1.5 "RalewayLight";
      border-bottom: 1px solid #fff; }

footer {
  background-image: -webkit-linear-gradient(76deg, #031f3b 0%, #031f3b 8%, #072647 100%);
  background-image: linear-gradient(14deg, #031f3b 0%, #031f3b 8%, #072647 100%);
  color: #fff;
  position: relative;
  overflow: hidden; }
  footer .content > div {
    float: left;
    position: relative; }
    footer .content > div:after {
      width: 1px;
      height: 250px;
      background-color: rgba(0, 198, 255, 0.2);
      right: 0;
      top: 5px; }
  footer h4 {
    font: 18px/1.2 "RalewayLight";
    text-transform: uppercase;
    margin-bottom: 30px; }
  footer .join_us {
    width: 31.35%; }
    footer .join_us .soc_nav li {
      display: inline-block;
      margin: 0 15px 50px 0;
      list-style: none; }
    footer .join_us .subscribe {
      float: none; }
  footer .footer_nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 6%;
    width: 23.15%; }
    footer .footer_nav h4 {
      width: 140px; }
      footer .footer_nav h4 img {
        width: 100%; }
    footer .footer_nav li {
      font: 14px 'RobotoLight';
      margin-bottom: 12px;
      list-style: none; }
  footer .time {
    width: 45.5%;
    text-align: center; }
    footer .time #timer, footer .time #timer_f {
      margin-bottom: 30px; }
      footer .time #timer div, footer .time #timer_f div {
        display: inline-block;
        padding: 0 3px; }
      footer .time #timer span, footer .time #timer_f span {
        font: 46px 'RobotoLight';
        color: #fff;
        text-align: left;
        position: relative; }
      footer .time #timer span:after, footer .time #timer_f span:after {
        content: ":";
        position: absolute;
        font-size: 40px;
        top: 5%;
        right: -9px; }
      footer .time #timer div:last-child span:after, footer .time #timer_f div:last-child span:after {
        display: none; }
    footer .time .button_learn {
      font-size: 22px;
      padding: 20px 65px; }

@keyframes shooting-ani {
  0% { }
  50% {
    -webkit-transform: scale(1) rotate(-45deg) translate(0px, 0px);
            transform: scale(1) rotate(-45deg) translate(0px, 0px); }
  100% {
    -webkit-transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
            transform: scale(0.5) rotate(-45deg) translate(0px, -1px); } }

@keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
            transform: scale(0) rotate(0) translate3d(0, 0, 0); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(-100px, 100px, 0);
            transform: scale(1) rotate(0) translate3d(-100px, 100px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
            transform: scale(1) rotate(0) translate3d(-200px, 200px, 0); } }

@media only screen and (max-width: 1350px) {
  section {
    padding-left: 20px;
    padding-right: 20px; }
  footer > div {
    padding-left: 20px;
    padding-right: 20px; }
  .growth .wrap_chart {
    width: 100%;
    margin-bottom: 80px; }
  .growth .more_info {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 -webkit-calc(50% - 162px);
    margin: 0 calc(50% - 162px); } }

@media only screen and (max-width: 1200px) {
  h2 {
    margin-left: 0; }
  .product_wrap .product_about {
    width: 100%;
    text-align: center;
    margin-bottom: 45px; }
    .product_wrap .product_about p {
      width: 100%; }
  .product_wrap .video {
    width: 100%; }
  .product_wrap .product_learn {
    width: 100%; }
    .product_wrap .product_learn .product_discount {
      width: 100%;
      text-align: center; }
  .product_wrap .div_learn {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product_wrap .div_learn .button_learn {
      margin-left: 0; }
    .product_wrap .div_learn p {
      text-align: center;
      width: 100%;
      margin-bottom: 10px; }
  .roadmap td:nth-child(1) {
    padding-left: 5%; }
  .roadmap tr:nth-child(1) td:nth-child(2):before {
    left: 22%; }
  .roadmap tr:nth-child(9) td:nth-child(2):after {
    left: 12%; }
  .roadmap tr:nth-child(4) td:nth-child(2):before {
    left: 21%; }
  .roadmap tr:nth-child(4) td:nth-child(3):before {
    left: 21%; }
  .roadmap tr:nth-child(9) td:nth-child(2):before {
    left: 11%; }
  footer .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    footer .content .join_us, footer .content .footer_nav {
      margin-bottom: 80px; }
    footer .content .footer_nav {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1;
      width: 100%;
      padding-left: 0; }
      footer .content .footer_nav h4 {
        margin-left: auto;
        margin-right: auto; }
      footer .content .footer_nav:after {
        width: 80%;
        height: 1px;
        right: 50%;
        top: 120%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%); }
      footer .content .footer_nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 80%;
        margin: 0 auto; }
    footer .content .join_us, footer .content .time {
      width: 50%; }
    footer .content .time:after {
      width: 0; } }

@media only screen and (max-width: 992px) {
  .partners .companies a {
    width: 50%;
    text-align: center; }
    .partners .companies a img {
      width: 80%; }
  .tokens .stage > div {
    width: 100% !important; }
  .why_us li {
    width: 50%; }
    .why_us li:nth-child(4):before, .why_us li:nth-child(5):before, .why_us li:nth-child(6):before {
      content: '';
      position: absolute;
      width: 85%;
      height: 1px;
      background-color: rgba(0, 198, 255, 0.2);
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 1px; }
    .why_us li:nth-child(1):after, .why_us li:nth-child(2):after, .why_us li:nth-child(3):after {
      top: 10%;
      height: 80%; }
    .why_us li:nth-child(2n+1):after {
      border-right: none; }
    .why_us li:nth-child(4):after, .why_us li:nth-child(5):after, .why_us li:nth-child(6):after {
      bottom: 9%;
      height: 81%;
      border-left: 1px solid rgba(0, 198, 255, 0.2); }
    .why_us li:nth-child(4):after, .why_us li:nth-child(6):after {
      border-right: 1px solid rgba(0, 198, 255, 0.2); }
  .buy_tokens_main_wrapper .buy_tokens_inner {
    width: 80%; }
  .advisory .people, .team .people {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .advisory .people .person, .team .people .person {
      width: 33%; }
  .roadmap tr:nth-child(7) td:nth-child(3):before {
    left: 21%; }
  .roadmap tr:nth-child(4) td:nth-child(3):before {
    left: 20%; } }

@media only screen and (max-width: 768px) {
  footer .content > div:after {
    width: 80%;
    height: 1px;
    right: 50%;
    top: 120%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%); }
  .buy_tokens_main_wrapper .buy_tokens_inner {
    width: 100%;
    padding: 46px 0; }
    .buy_tokens_main_wrapper .buy_tokens_inner .buy_tokens_explain {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
  .join_us, .time {
    width: 100% !important; }
  .join_us {
    margin-bottom: 40px;
    text-align: center; }
    .join_us .soc_nav li:nth-child(3) {
      margin-right: 0; }
    .join_us .subscribe {
      margin: 0 auto; }
  .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
    padding: 18px 17px; }
  .roadmap td {
    padding: 20px 5px; }
  .roadmap td:nth-child(1) {
    padding-left: 3%; }
  .roadmap tr:nth-child(4) td:nth-child(3):before {
    left: 19%; } }

@media only screen and (max-width: 640px) {
  .buy_tokens_inner form ul li {
    width: 100% !important; }
  .tokens .stage .preico table, .tokens .stage .ico table {
    width: 100%; }
  .advisory .people .person, .team .people .person {
    width: 50%; } }

@media only screen and (max-width: 550px) {
  .footer_nav ul {
    text-align: center; }
    .footer_nav ul li {
      width: 32%; }
  .why_us li {
    width: 100%; }
    .why_us li:before {
      width: 90% !important; }
    .why_us li:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 86%;
      border-left: 1px solid rgba(0, 198, 255, 0.2);
      border-right: 1px solid rgba(0, 198, 255, 0.2) !important; }
  .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
    padding: 18px 10px; }
  .roadmap td {
    font: 12px "RalewayMedium"; }
  .roadmap td:after, .roadmap td:before {
    display: none; }
  .roadmap tr:nth-child(9) td:nth-child(2) {
    padding: 15px;
    font: 16px "RalewaySemiBold"; }
  .roadmap td:nth-child(3) {
    padding-left: 4%; }
  .roadmap td:nth-child(2) {
    padding-left: 4%; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 34px; }
  .partners .companies a {
    width: 100%; }
  .buy_tokens_main_wrapper .buy_tokens_inner {
    padding-bottom: 80px; }
  .footer_nav ul li {
    width: 50%; }
  .tokens .stage .prize {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .tokens .stage .prize > div {
    width: 100%; }
  .buy_tokens_main_wrapper .buy_tokens_inner form .button_tokens {
    padding: 18px 0; }
  .buy_tokens_main_wrapper .buy_tokens_inner form .tokens_amount {
    font-size: 15px; }
  .partners .companies a img {
    margin-bottom: 0; }
  .growth .more_info {
    font-size: 20px; }
  .advisory .people .person, .team .people .person {
    width: 100%; }
  footer .subscribe {
    width: 247px; } }

@media only screen and (max-width: 1200px) {
  header .top_line nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: none;
    width: 100%; }
  header h1 {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .toggle_menu {
    display: block; } }

@media only screen and (max-width: 992px) {
  /**/ }

@media only screen and (max-width: 768px) {
  header .top_line {
    padding: 8px 20px; }
    header .top_line nav li {
      float: none;
      list-style: none;
      padding: 5px 12px; }
  header .circle {
    height: 200px;
    width: 200px; }
  .main {
    min-width: 300px; }
    .main .countdown #timer span {
      font-size: 64px; }
    .main .program {
      width: 100%;
      margin-bottom: 30px; }
  .subscribe {
    width: 300px; } }

@media only screen and (max-width: 640px) {
  header .planet {
    background-size: contain; }
  header .slogan .s_wrap .big_logo {
    width: 300px; }
    header .slogan .s_wrap .big_logo img {
      width: 100%; }
  header .top_line {
    padding: 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  header h1 {
    margin-left: 0; }
  header nav {
    position: absolute;
    top: 50px; }
  button {
    padding-right: 0; }
  .buttons_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 5px; }
    .buttons_wrap button {
      margin-bottom: 10px; }
    .buttons_wrap .buy {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }

@media only screen and (max-width: 480px) {
  header h1 {
    width: 100%;
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
    margin: 0; }
  header .top_line {
    text-align: center; }
    header .top_line .buy {
      border: 1px solid #00c6ff;
      font-weight: 600;
      padding: 7px 30px; }
    header .top_line nav {
      top: 79px;
      background-color: #000; }
  .buttons_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .buttons_wrap .buy {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
  .main .countdown #timer span {
    font-size: 48px; }
    .main .countdown #timer span:after {
      top: 3%;
      right: -17px; }
  .soc_nav {
    display: none; } }
